
<?php
	$total=0;
	foreach($property_sellingcost_items as $property_sellingcost_item){
?>
	<tr>
		 <td><?= $property_sellingcost_item['sellingcost_name'] ?></td>
		 <td style="text-align:right">$<?= $property_sellingcost_item['property_sellingcost_item_amount'] ?></td>
		 <td style="text-align:center">
		 	<button class="btn btn-danger btn-mini" type="button" name="delete_sellingcost_item" property_sellingcost_item_id='<?= $property_sellingcost_item['property_sellingcost_item_id'] ?>'>Delete</button>
		 </td>
	</tr>
<?php
	$total += $property_sellingcost_item['property_sellingcost_item_amount'];
	}

?>

<tr>
		<td>Total</td>
		<td style="text-align:right" name="sellingcost_total">$<?= $total?></td>
		<td style="text-align:center">&nbsp;</td>
</tr>
