


<div class="container-fluid" style="width:350px">
	<div class="row-fluid span12" name="sellingcost_item">
		<div class="span6">
			<select class="selectpicker" name="sellingcost_items" style="width:100%">
				<option value="0">Select One</option>
				<?php
					foreach($sellingcost_items  as $sellingcost_item ){
				?>
				<option value="<?=$sellingcost_item->get_sellingcost_id()?>"><?= $sellingcost_item->get_sellingcost_name()?></option>
				<?php
					}
				?>

	  		</select>
  		</div>
		<div class="span3"><input type="text" class="input-small" style="width:90%" name="sellingcost_item_amount" placeholder="Amount"></div>
		<div class="span3" style="text-align: center"><button class="btn btn-primary" name="add_sellingcost_item" style="width:100%">Add</button></div>
	</div>
	<div class="row-fluid" name="sellingcost_item">

	</div>
	<div class="row-fluid">

		<table class="table-striped table-hover" style="width:100%;height:50px;overflow-y:auto;" border="1">
			  <thead>
			    <tr>
			      <th style="text-align:center;width:50%">Category</th>
			      <th style="text-align:center;width:30%">Amount</th>
			      <th style="text-align:center;width:20%">&nbsp;</th>
			    </tr>
			  </thead>
			  <tbody name="sellingcost_items" style=" height:50px;  overflow:scroll;">


				<?php
					$total=0;
					foreach($property_sellingcost_items as $property_sellingcost_item){
				?>
					<tr>
						 <td><?= $property_sellingcost_item['sellingcost_name'] ?></td>
						 <td style="text-align:right">$<?= $property_sellingcost_item['property_sellingcost_item_amount'] ?></td>
						 <td style="text-align:center">
						 	<button class="btn btn-danger btn-mini" type="button" name="delete_sellingcost_item" property_sellingcost_item_id='<?= $property_sellingcost_item['property_sellingcost_item_id'] ?>'>Delete</button>
						 </td>
					</tr>
				<?php
				$total += $property_sellingcost_item['property_sellingcost_item_amount'];
					}


				?>
					<tr>
						<td>Total</td>
						<td style="text-align:right" name="sellingcost_total">$<?= $total?></td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
			  </tbody>
		</table>

	</div>

	<div class="row-fluid">
			<div class="span6" style="text-aligh:center">
				&nbsp;
			</div>
			<div class="span6" style="text-aligh:center">
				<button class="btn btn-primary" type="button" name="close_sellingcost_item" style="width:100%">Save & Close</button>
			</div>
	</div>
</div>

<script type="text/javascript">
$(function(){

	$('button[name="add_sellingcost_item"]').bind('click',function(){
		var sellingcost_item_id 		= $('select[name="sellingcost_items"] option:selected').val();
		var sellingcost_item_amount  = $('input[name="sellingcost_item_amount"]').val();

		temp = sellingcost_item_amount.replace(/\,/g, '');
		temp = temp.replace(/\ /g, '');
		if( $.isNumeric(temp) && (sellingcost_item_id != 0) ) { //valid input


			$.ajax({
				type:"POST",
				url:"/propertysellingcost/addsellingcostitemajax",
				async:false,
				data:{sellingcost_item_id:sellingcost_item_id,sellingcost_item_amount:sellingcost_item_amount},
				success:function(result){

					$('tbody[name="sellingcost_items"]').html(result);
					sellingcost_total = $('td[name="sellingcost_total"]').html();
					$('input[name="property_sellingcost_display_input"]').val(sellingcost_total);
					$('input[name="sellingcost_item_amount"]').val('');
					$('select[name="sellingcost_items"]').val('0');

				}
			});

		}else if(sellingcost_item_id == 0){
			$('div#alert_box p#property_name').html('selling Cost item need to be selected');
			$('div#alert_box').modal('show');

		}else if( !($.isNumeric(temp)) ){
			$('div#alert_box p#property_name').html('Amount is invalid input');
			$('div#alert_box').modal('show');
		}


	});

	$('button[name="close_sellingcost_item"]').bind('click',function(){
		sellingcost_total = $('td[name="sellingcost_total"]').html();
		$('input[name="property_sellingcost_display_input"]').val(sellingcost_total);

		$('input[name="property_sellingcost_display_input"]').popover('hide');
	});


	$(document).on('click','button[name="delete_sellingcost_item"]',function(){

		var property_sellingcost_item_id = $(this).attr('property_sellingcost_item_id');


		$.ajax({
			type:"POST",
			url:"/propertysellingcost/deletesellingcostitemajax",
			async:false,
			data:{property_sellingcost_item_id:property_sellingcost_item_id},
			success:function(result){

				$('tbody[name="sellingcost_items"]').html(result);
				sellingcost_total = $('td[name="sellingcost_total"]').html();
				$('input[name="property_sellingcost_display_input"]').val(sellingcost_total);



			}
		});

	});


});
</script>
