
<?php
	$total=0;
	foreach($property_other_income_items as $property_other_income_item){
?>
	<tr buyingcost_item_id='<?= $property_other_income_item['item_id'] ?>'>
		 <td><?= $property_other_income_item['income_name'] ?></td>
		 <td  style="text-align: center">
		 <?php
		 	if($property_other_income_item['frequency'] == '30'){
		 		echo 'Bi-weekly';
		 	}else if($property_other_income_item['frequency'] == '31'){
		 		echo 'Monthly';
		 	}else if($property_other_income_item['frequency'] == '32'){
		 		echo 'Yearly';
		 	}else{
		 		echo 'error';
		 	}
		 ?>
		 </td>
		 <td style="text-align:right">$<?= $property_other_income_item['amount'] ?></td>
		 <td style="text-align:center">
		 	<button class="btn btn-danger btn-mini" type="button" name="delete_otherincome_item" property_income_item_id='<?= $property_other_income_item['property_income_id'] ?>'>Delete</button>
		 </td>
	</tr>
<?php
	$total += $property_other_income_item['amount'];
	}

?>

<tr>
		<td>Total</td>
		<td>&nbsp;</td>
		<td style="text-align:right" name="otherincome_total">$<?= $total?></td>
		<td style="text-align:center">&nbsp;</td>
</tr>
