

<div class="container-fluid" style="width:550px">
	<div class="row-fluid span12" name="otherincomes">
		<div class="span5">
			<select class="selectpicker" name="otherincome_items" style="width:100%">
				<option value="0">Select One</option>
				<?php
					foreach($memberincomeitems  as $memberincomeitem ){
				?>
				<option value="<?=$memberincomeitem->get_income_id()?>"><?= $memberincomeitem->get_income_name()?></option>
				<?php
					}
				?>
	  		</select>
  		</div>
  		<div class="span3">
  			<select class="selectpicker" name="otherincome_item_frequency" style="width: 100%">
   				<option value="30">Bi-weekly</option>
  				<option value="31" selected>Monthly</option>
  				<option value="32">yearly</option>
  			</select>
  		</div>
		<div class="span2"><input type="text" class="input-small" style="width:90%" name="otherincome_item_amount" placeholder="Amount"></div>
		<div class="span2" style="text-align: center"><button class="btn btn-primary" name="add_otherincome_item" style="width:100%">Add</button></div>
	</div>
	<div class="row-fluid" name="otherincome_item">

	</div>




	<div class="row-fluid">

		<table class="table-striped table-hover" style="width:100%;height:50px;overflow-y:auto;" border="1">
			  <thead>
			    <tr>
			      <th style="text-align:center;width:50%">Category</th>
			      <th style="text-align:center;width:30%">Frequency</th>
			      <th style="text-align:center;width:30%">Amount</th>
			      <th style="text-align:center;width:20%">&nbsp;</th>
			    </tr>
			  </thead>
			  <tbody name="other_incomes" style=" height:50px;  overflow:scroll;">


				<?php
					$total=0;
					foreach($propertyotherincomeitems as $memberincomeitem){
				?>
					<tr>
						 <td><?= $memberincomeitem['income_name'] ?></td>
						 <td style="text-align: center">
						 <?php
						 	if($memberincomeitem['frequency'] == '30'){
						 		echo 'Bi-weekly';
						 	}else if($memberincomeitem['frequency'] == '31'){
						 		echo 'Monthly';
						 	}else if($memberincomeitem['frequency'] == '32'){
						 		echo 'Yearly';
						 	}else{
						 		echo 'error';
						 	}
						 ?>
						 </td>
						 <td style="text-align:right">$<?= $memberincomeitem['amount'] ?></td>
						 <td style="text-align:center">
						 	<button class="btn btn-danger btn-mini" type="button" name="delete_otherincome_item" property_income_item_id='<?= $memberincomeitem['property_income_id'] ?>'>Delete</button>
						 </td>
					</tr>
				<?php
				$total += $memberincomeitem['amount'];
					}


				?>
					<tr>
						<td>Total</td>
						<td>&nbsp;</td>
						<td style="text-align:right" name="otherincome_total">$<?= $total?></td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
			  </tbody>
		</table>

	</div>

	<div class="row-fluid">
			<div class="span6" style="text-aligh:center">
				&nbsp;
			</div>
			<div class="span6" style="text-aligh:center">
				<button class="btn btn-primary" type="button" name="close_otherincome_item" style="width:100%">Save & Close</button>
			</div>
	</div>

</div>

<script type="text/javascript">
$(function(){

	$('button[name="add_otherincome_item"]').bind('click',function(){
		var otherincome_item_id 		= $('select[name="otherincome_items"] option:selected').val();
		var otherincome_item_amount     = $('input[name="otherincome_item_amount"]').val();
		var otherincome_item_frequency  = $('select[name="otherincome_item_frequency"] option:selected').val();

		temp = otherincome_item_amount.replace(/\,/g, '');
		temp = temp.replace(/\ /g, '');
		
		if( $.isNumeric(temp) && (otherincome_item_id != 0) ) { //valid input

			$.ajax({
				type:"POST",
				url:"/otherincome/addotherincomeitemajax",
				async:false,
				data:{otherincome_item_id:otherincome_item_id,otherincome_item_amount:otherincome_item_amount,otherincome_item_frequency:otherincome_item_frequency},
				success:function(result){

					$('tbody[name="other_incomes"]').html(result);
					otherincome_total = $('td[name="otherincome_total"]').html();
					$('input[name="property_otherincome_display_input"]').val(otherincome_total);
					$('input[name="buyingcost_item_amount"]').val('');
					$('select[name="buyingcost_items"]').val('0');

				}
			});

		}else if(otherincome_item_id == 0){
			$('div#alert_box p#property_name').html('Other income item need to be selected');
			$('div#alert_box').modal('show');

		}else if( !($.isNumeric(temp)) ){
			$('div#alert_box p#property_name').html('Amount is invalid input');
			$('div#alert_box').modal('show');

		}

	});

	$('button[name="close_otherincome_item"]').bind('click',function(){

		otherincome_total = $('td[name="otherincome_total"]').html();
		
		otherincome_total = otherincome_total.substring( 1, ( otherincome_total.lenght ) );
			  	  
		$('input[name="property_otherincome_display_input"]').val('$'+numberWithCommas( parseInt( otherincome_total ) * 12 ) );
		$('input[name="property_otherincome_display_input"]').popover('hide');

	});

	$(document).on('click','button[name="delete_otherincome_item"]',function(){


		var property_income_item_id = $(this).attr('property_income_item_id');


		$.ajax({
			type:"POST",
			url:"/otherincome/deleteotherincomeitemajax",
			async:false,
			data:{property_income_item_id:property_income_item_id},
			success:function(result){

				$('tbody').html(result);
				otherincome_total = $('td[name="otherincome_total"]').html();
				$('input[name="property_otherincome_display_input"]').val(otherincome_total);

			}
		});

	});


});
</script>
