<?php
// module/Index/view/index/index/index.phtml:


?>
<div style='width:740px;height:20px;overflow:visible'>
		<div class="pull-right"><i class="fa fa-question-circle" style="font-size: 20px;" data-toggle="tooltip" data-placement="top" title="Need guide?" onclick="javascript:introJs().start();"></i></div>
</div>
<div style='width:740px;height:740px;overflow:visible'>

	<div class="accordion" id="account_settings">

	  <!-- password -->
	  <div class="accordion-group">
	    <div class="accordion-heading">

	    	<div class="row-fluid" data-toggle="collapse" data-parent="#account_settings" href="#password" data-step="2" data-intro="Click here to change password.">

		    	<div class="span10" style="padding-top:5px;padding-left:5px">Password</div>
		    	<div class="span2" style="text-align:center;padding-top:5px">Edit</div>

			</div>

	    </div>

	    <div id="password" class="accordion-body collapse" name="password">
	      <div class="accordion-inner" style="">
	      	<div class="row-fluid">
	      		<div class="span3" style="text-align: right;padding-top:5px">Current Password:</div>
	      		<div class="span3" style="text-left">
	      			<input type="password" style="width:150px" name="current_password"></input>
	      		</div>
	      		<div class="span6" style="text-align: left;padding-top:5px" name="current_password_error">
	      		</div>
	      	</div>
	      	<div class="row-fluid">
	      		<div class="span3" style="text-align: right;padding-top:5px">New Password:</div>
	      		<div class="span3">
	      			<input type="password" style="width:150px" name="new_password"></input>
	      		</div>
	      		<div class="span6" style="text-align: left;padding-top:5px" name="new_password_error">
	      		</div>
	      	</div>
	      	<div class="row-fluid">
	      		<div class="span3" style="text-align: right;padding-top:5px">Re-type New Password:</div>
	      		<div class="span3">
	      			<input type="password" style="width:150px" name="retype_new_password"></input>
	      		</div>
	      		<div class="span6" style="text-align: left;padding-top:5px" name="retype_new_password_error">
	      		</div>
	      	</div>
	      	<div class="row-fluid">
	      		<div class="span3" style="text-align: right">
	      			<button name="save_password" class="btn btn-primary">Save</button>
	      		</div>
	      		<div class="span9">
	      			<button name="cancel_password" class="btn btn-danger">Cancel</button>
	      		</div>
	      	</div>

	      </div>
	    </div>
	  </div>

	  <!-- income tax rate -->


	  <!-- income items -->

	  <div class="accordion-group">
	    <div class="accordion-heading">

	    	<div class="row-fluid" data-toggle="collapse" data-parent="#account_settings" href="#income_items" data-step="3" data-intro="Click here to set income items.">

	    		<div class="span10" style="padding-top:5px;padding-left:5px">Income Items</div>
	    		<div class="span2" style="text-align:center;padding-top:5px">Edit</div>

	      	</div>

	    </div>

	    <div id="income_items" class="accordion-body collapse">
	      <div class="accordion-inner">

	      	<div class="row-fluid">
	      		<table class="table table-striped table-hover" name="existing_income_item">
					<tr>
						<td class="span4">Income Item Name</td>
						<td class="span4"><input type="text" style="width: 200px" name="income_item_name"></input></td>
						<td class="span4"><button class="btn btn-primary" style="width:80px" name="add_income_item">Add</button></td>
					</tr>
	      		</table>
	      	</div>

	      </div>
	    </div>
	  </div>


	  <!-- expense items -->

	  <div class="accordion-group">
	    <div class="accordion-heading">

	    	<div class="row-fluid" data-toggle="collapse" data-parent="#account_settings" href="#expense_items" data-step="4" data-intro="Click here to set expense items.">

	    		<div class="span10" style="padding-top:5px;padding-left:5px">Expense Items</div>
	    		<div class="span2" style="text-align:center;padding-top:5px">Edit</div>

	      	</div>

	    </div>

	    <div id="expense_items" class="accordion-body collapse">
	      <div class="accordion-inner">
	        <div class="row-fluid">
	      		<table class="table table-striped table-hover" name="existing_expense_item">
					<tr>
						<td class="span4">Expense Item Name</td>
						<td class="span4"><input type="text" style="width: 200px" name="expense_item_name"></input></td>
						<td class="span4"><button class="btn btn-primary" style="width:80px" name="add_expense_item">Add</button></td>
					</tr>
	      		</table>
	      	</div>
	      </div>
	    </div>
	  </div>

	   <!-- Buying cost items -->

	  <div class="accordion-group">
	    <div class="accordion-heading">

	    	<div class="row-fluid" data-toggle="collapse" data-parent="#account_settings" href="#buying_cost_items" data-step="5" data-intro="Click here to set buying cost items.">

	    		<div class="span10" style="padding-top:5px;padding-left:5px">Buying Cost Items</div>
	    		<div class="span2" style="text-align:center;padding-top:5px">Edit</div>

	      	</div>

	    </div>

	    <div id="buying_cost_items" class="accordion-body collapse">
	      <div class="accordion-inner">
	      	<div class="row-fluid">
	      		<table class="table table-striped table-hover" name="existing_buyingcost_item">
					<tr>
						<td class="span4">Buying Cost Item Name</td>
						<td class="span4"><input type="text" style="width: 200px" name="buyingcost_item_name"></input></td>
						<td class="span4"><button class="btn btn-primary" style="width:80px" name="add_buyingcost_item">Add</button></td>
					</tr>
	      		</table>
	      	</div>
	      </div>
	    </div>
	  </div>

	   <!-- Selling cost items -->

	  <div class="accordion-group">
	    <div class="accordion-heading">

	    	<div class="row-fluid" data-toggle="collapse" data-parent="#account_settings" href="#selling_cost_items" data-step="6" data-intro="Click here to set selling cost items.">

	    		<div class="span10"  style="padding-top:5px;padding-left:5px">Selling Cost Items</div>
	    		<div class="span2" style="text-align:center;padding-top:5px">Edit</div>

	      	</div>

	    </div>

	    <div id="selling_cost_items" class="accordion-body collapse">
	      <div class="accordion-inner">
	        <div class="row-fluid">
	      		<table class="table table-striped table-hover" name="existing_sellingcost_item">
					<tr>
						<td class="span4">Selling Cost Item Name</td>
						<td class="span4"><input type="text" style="width: 200px" name="sellingcost_item_name"></input></td>
						<td class="span4"><button class="btn btn-primary" style="width:80px" name="add_sellingcost_item">Add</button></td>
					</tr>
	      		</table>
	      	</div>
	      </div>
	    </div>
	  </div>

	  <!-- Default settings -->
	  
	  <div class="accordion-group">
	  
	  	<div class="accordion-heading">
	  	
	  		<div class="row-fluid" data-toggle="collapse" data-parent="#account_settings" href="#default_value_items" data-step="7" data-intro="Click here to set default value items.">

	    		<div class="span10"  style="padding-top:5px;padding-left:5px">Default Value Items</div>
	    		<div class="span2" style="text-align:center;padding-top:5px">Edit</div>

	      	</div>	  	
	  	
	  	</div>
	  	
	  	<div id="default_value_items" class="accordion-body collapse">
	      <div class="accordion-inner">
	        <div class="row-fluid">
	        
	      		<div class="span12" style="height:740px;overflow:scroll" name="main_panel"><!-- all items -->
	      		
					<div name="basic_info_row" class="row-fluid"  style="border:1px solid;border-radius:5px;padding:5px">
					
						<div class="row-fluid">
							<a class="" href="#basic_info">
								<i name="basic_info_icon" class="icon-minus-sign"></i>
	        					Basic info
	      					</a>
						</div>
										
						<div class="row-fluid" id="basic_info">
						
							<div class="span12" style="">
								<div class="row-fluid"  style="background-color:#eeeeff">
									<div class="span6"><a>MLS#</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="MLS#" name="property_default_mls_display_input" readonly></div>
								</div>
								
								<div class="row-fluid">
									<div class="span6"><a>Style</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Style" name="property_default_style_display_input" readonly></div>
								</div>
								
								<div class="row-fluid" style="background-color:#eeeeff">
									<div class="span6"><a>Square Feet</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Square feet" name="property_default_squarefeet_display_input" readonly></div>
								</div>
								
								<div class="row-fluid">
									<div class="span6"><a>Lot Size</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Lot size" name="property_default_lotsize_display_input" readonly></div>
								</div>
								
								<div class="row-fluid" style="background-color:#eeeeff">
									<div class="span6"><a>Year Built</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Year built" name="property_default_yearbuilt_display_input" readonly></div>
								</div>
								
								<div class="row-fluid">
									<div class="span6"><a>Last Remodel</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Last remodel" name="property_default_lastremodel_display_input" readonly></div>
								</div>
								
								<div class="row-fluid" style="background-color:#eeeeff">
									<div class="span6"><a>Parking</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Parking" name="property_default_parking_display_input" readonly></div>
								</div>					
							
							</div>
							
						</div>
						
					</div>
					</br>
					
					<!-- purchasing info -->

					<div name="purchase_info_row" class="row-fluid"  style="border:1px solid;border-radius:5px;padding:5px">
						<div class="row-fluid">
							<a class="" href="#purchase_info">
								<i name="purchase_info_icon" class="icon-minus-sign"></i>
	        					Purchase info
	      					</a>
						</div>
						
						<div class="row-fluid" id="purchase_info">

							<div class="span12" style="">
					
								<div class="row-fluid" style="background-color:#eeeeff">
									<div class="span6"><a>Market Price</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Listing Price" name="property_default_listingprice_display_input" readonly></div>
								</div>
								
								<div class="row-fluid">
									<div class="span6"><a>Purchase Price</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Purchase Price" name="property_default_purchaseprice_display_input" readonly></div>
								</div>
								
								<div class="row-fluid" style="background-color:#eeeeff">
									<div class="span6"><a>1'st Mortgage</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="1'st Mortgage" name="property_default_firstmortgage_display_input" readonly></div>
								</div>
								
								<div class="row-fluid">
									<div class="span6"><a>2'nd Mortgage</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="2'nd Mortgage" name="property_default_secondmortgage_display_input" readonly></div>
								</div>
								
								<div class="row-fluid" style="background-color:#eeeeff">
									<div class="span6"><a>Down Payment</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Down Payment" name="property_default_downpayment_display_input" readonly></div>
								</div>
								
								<div class="row-fluid">
									<div class="span6"><a>Buying Costs</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Buying Costs" name="property_default_buyingcost_display_input" readonly></div>
								</div>
								
								<div class="row-fluid"  style="background-color:#eeeeff">
									<div class="span6"><a>Init Improvments</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Initial Improvments" name="property_default_initimprove_display_input" readonly></div>
								</div>
								
								<div class="row-fluid">
									<div class="span6"><a>Initial Costs</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Initial Costs" name="property_default_initcost_display_input" readonly></div>
								</div>
								
								<div class="row-fluid" style="background-color:#eeeeff">
									<div class="span6"><a>Init cash invested</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Init cash invested" name="property_default_init_cash_invested_display_input" readonly></div>
								</div>
								
							</div>
							
						</div>
					
					</div>
					</br>
					
					<!-- income info -->
					
					<div name="income_info_row" class="row-fluid" style="border:1px solid;border-radius:5px;padding:5px">
						<div class="row-fluid">
							<a class="" href="#income_info">
								<i name="income_info_icon" class="icon-minus-sign"></i>
	        						Gross Rent info
	      					</a>
						</div>
					
						<div class="row-fluid" id="income_info">
							<div class="span12" style="">
							
									<div class="row-fluid">
									
										<div class="span6" style="height:150px;border:1px solid;border-radius:5px;padding:5px">
											<div class="row-fluid" >
												<input type="radio" name="property_default_rent_mode" value="28" style="margin-bottom: 4px"> <a type="tooltip" tooltip_name="single_value">Single Value</a>
											</div>
											<br>
											<div class="row-fluid" name="singlevalue1" style="background-color:#eeeeff">
												<div class="span5" style="padding-top:5px">Fixed amount:</div>
												<div class="span6">
													<input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Fixed amount" name="property_default_singlevalue_display_input" readonly>
												</div>
				
											</div>
											<div class="row-fluid" name="singlevalue2">
												<div class="span4">Frequency:</div>
												<div class="span8">
													<input type="radio" name="property_default_single_value_frequency" value="30" style="margin-bottom: 4px"> Bi-weekly
													<input type="radio" name="property_default_single_value_frequency" value="31" style="margin-bottom: 4px"> Monthly
													<input type="radio" name="property_default_single_value_frequency" value="32" style="margin-bottom: 4px"> Yearly
												</div>
												<!--
												<div class="row-fluid">
													<div class="span5" style="padding-top:5px">Other incomes:</div>
													<div class="span6">
														<input type="text" class="input-small" style="width:80%;" placeholder="Other incomes" name="property_otherincome_display_input" readonly>
													</div>
												</div>
												-->
											</div>
				
										</div>
										
										<div class="span6" style="height:150px;border:1px solid;border-radius:5px;padding:5px">
											<div class="row_fluid">
												<input type="radio" name="property_default_rent_mode" value="29"  style="margin-bottom: 4px"> <a type="tooltip" tooltip_name="sum_of_units">Sum of Units</a>
											</div>
											<br>
											<div class="row-fluid" name="sumofunits" style="background-color:#eeeeff">
												<div class="span5">Per Month</div>
												<div class="span6"><input type="text" class="input-small" style="width:90%;text-align:right" placeholder="Sum of Units" name="property_default_sumofunitsmonth_display_input" readonly></div>
											</div>
											
											
											<div class="row_fluid" name="sumofunits">
												<div class="span5">Per Year</div>
												<div class="span6"><input type="text" class="input-small" style="width:90%;text-align:right" placeholder="Sum of Units" name="property_default_sumofunitsyear_display_input" readonly></div>
											</div>
											
											
											
										</div>		
																		
									</div>			
									
									<div class="row-fluid"  style="background-color:#eeeeff">
										<div class="span6"><a type="tooltip" tooltip_name="vacancy_rate">Vacancy Rate:</a></div>
										<div class="span5"><input type="text" class="input-small" style="width:90%;text-align:right" placeholder="Vacancy Rate" name="property_default_vacancyrate_display_input" readonly>%</div>
									</div>
								<!-- 
									<div class="row-fluid">
								    	<div class="span6"><a type="tooltip" tooltip_name="other_income">Other Income:</a></div> 
								    	<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Other incomes" name="property_otherincome_display_input" readonly></div>
									</div>
								 -->
							</div>
							
						</div>
									
					</div>
					
					</br>
					
					<!-- projection info -->

					<div name="projection_info_row" class="row-fluid" style="border:1px solid;border-radius:5px;padding:5px">
						<div class="row-fluid">
							<a class="" href="#projection_info">
								<i name="projection_info_icon" class="icon-minus-sign"></i>
				        		Projection info
				      		</a>
						</div>
						<div class="row-fluid" id="income_info">
							<div class="span12" style="">
								
								<div class="row-fluid"  style="background-color:#eeeeff">
									<div class="span6"><a type="tooltip" tooltip_name="appreciation_rate">Appreciation Rate</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:85%;text-align:right" placeholder="Appreciation Rate" name="property_default_appreciationrate_display_input" readonly>%</div>
								</div>
									
								<div class="row-fluid">
									<div class="span6"><a type="tooltip" tooltip_name="income_inflation_rate">Income Inflation Rate</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:85%;text-align:right" placeholder="Income Inflation Rate" name="property_default_incomeinflationrate_display_input" readonly>%</div>
								</div>
								
								<div class="row-fluid"  style="background-color:#eeeeff">
									<div class="span6"><a type="tooltip" tooltip_name="expense_inflation_rate">Expense Inflation Rate</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:85%;text-align:right" placeholder="Expense Inflation Rate" name="property_default_expenseinflationrate_display_input" readonly>%</div>
								</div>
								
								<div class="row-fluid">
									<div class="span6"><a type="tooltip" tooltip_name="selling_costs">Selling Costs</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:85%;text-align:right" placeholder="Selling Costs" name="property_default_sellingcost_display_input" readonly></div>
								</div>
								
								<div class="row-fluid"  style="background-color:#eeeeff">
									<div class="span6"><a type="tooltip" tooltip_name="ltv_for_refinance">LTV for Refinance</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:85%;text-align:right" placeholder="LVT for Refinance" name="property_default_lvtforrefinance_display_input" readonly>%</div>
								</div>
								
								<div class="row-fluid">
									<div class="span6"><a type="tooltip" tooltip_name="compounding_period">Compounding Period</a></div>
									<div class="span5">
										<input type="radio" name="property_default_compounding_period" value="30" style="margin-bottom: 4px"> Bi-weekly
										<input type="radio" name="property_default_compounding_period" value="31" style="margin-bottom: 4px"> Monthly
										<input type="radio" name="property_default_compounding_period" value="32" style="margin-bottom: 4px"> Yearly
									</div>
								</div>
								
							</div>
						</div>
				
					</div>					
									
	      	</div>
	      	
	      </div>
	      
	    </div>
	  	
	  </div>

	</div><!-- end default value items -->
	
	
	<!-- member ship -->
	<div class="accordion-group">
					    
		<div class="accordion-heading">
			<div class="row-fluid" data-toggle="collapse" data-parent="#account_settings" href="#membership" data-step="8" data-intro="Click here to upgrade membership.">
				<div class="span10" style="padding-top:5px;padding-left:5px">Membership--> <font color="red">Upgrade Membership Click Here!!!</font></div>
				<div class="span2" style="text-align:center;padding-top:5px">Edit</div>				
			</div>				
		</div>
				
		<div id="membership" class="accordion-body collapse" name="membership">
			<div class="accordion-inner" style="">
				<div class="row-fluid">
					<div class="span6" style="padding-top:5px;padding-left:5px;text-align:center;padding-top:5px;background-color:#DDAAAA">
						<input type="radio" name="membership_type" value="free" checked>
							<div class="row-fluid" style="text-align:left;padding-left:50px">Free</div>
							<div class="row-fluid" style="text-align:left;padding-left:50px">2 properties</div>
							<div class="row-fluid" style="text-align:left;padding-left:50px">5 emails per month</div>
						</input>
					</div>
					<div class="span6" style="padding-top:5px;padding-left:5px;text-align:center;padding-top:5px;background-color:yellow" name="surway_click">
						<input type="radio" name="membership_type" value="paid">
							<div class="row-fluid" style="text-align:left;padding-left:50px">Paid</div>
							<div class="row-fluid" style="text-align:left;padding-left:50px">10 properties</div>
							<div class="row-fluid" style="text-align:left;padding-left:50px">30 emails per month</div>
						</input>
					</div>
				</div>	
			</div>
		</div>	
	</div>
	
	

</div><!-- end all accordion -->

<!-- popover for all input -->
	
	<div name="property_mls_popover" style="display: none">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_mls_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_mls_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_mls_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>

	<div name="property_style_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_style_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_style_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_style_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>

	<div name="property_squarefeet_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_squarefeet_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_squarefeet_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_squarefeet_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>

	<div name="property_lotsize_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_lotsize_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_lotsize_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_lotsize_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>

	<div name="property_yearbuilt_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_yearbuilt_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_yearbuilt_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_yearbuilt_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>

	<div name="property_lastremodel_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_lastremodel_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_lastremodel_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_lastremodel_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>

	<div name="property_parking_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_parking_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_parking_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_parking_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>
	
	<div name="property_listingprice_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_listingprice_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_listingprice_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_listingprice_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>
	
	<div name="property_purchaseprice_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_purchaseprice_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_purchaseprice_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_purchaseprice_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>
	
	<div name="property_initimprove_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_initimprove_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_initimprove_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_initimprove_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>
	
	<div name="property_singlevalue_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_singlevalue_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_singlevalue_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_singlevalue_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>
	
	
	

<!-- end popover for all input -->


<script type="text/javascript">


$(function(){

	function updateaccount()
	{

		$.getJSON('/member/getmembersettingajax', function(member_setting){



			var incomeitems = member_setting['incomeitemarray'];

			var output = '';
			for( i = 0 ; i < incomeitems.length ; i++ ){
				output+='<tr income_id="'+incomeitems[i]['income_id']+'">';
				output+='	<td class="span4"></td>';
				output+='	<td class="span4" style="">'+incomeitems[i]['income_name']+'</td>';
				output+='   <td class="span4"><button class="btn btn-danger" style="width:80px"  name="delete_income_item" income_id="'+incomeitems[i]['income_id']+'">Delete</button></td>';
				output+='</tr>';
			}

			$('table[name="existing_income_item"]').append(output);


			var expenseitems = member_setting['expenseitemarray'];

			var output = '';

			for( i = 0 ; i < expenseitems.length ; i++){
				output+='<tr expense_id="'+expenseitems[i]['expense_id']+'">';
				output+='	<td class="span4"></td>';
				output+='	<td class="span4" style="">'+expenseitems[i]['expense_name']+'</td>';
				output+='   <td class="span4"><button class="btn btn-danger" style="width:80px"  name="delete_expense_item" expense_id="'+expenseitems[i]['expense_id']+'">Delete</button></td>';
				output+='</tr>';
			}

			$('table[name="existing_expense_item"]').append(output);

			var buyingcostitems = member_setting['buyingcostitemarray'];

			var output = '';
			for( i = 0 ; i < buyingcostitems.length ; i++){
				output+='<tr buyingcost_id="'+buyingcostitems[i]['buyingcost_id']+'">';
				output+='	<td class="span4"></td>';
				output+='	<td class="span4" style="">'+buyingcostitems[i]['buyingcost_name']+'</td>';
				output+='   <td class="span4"><button class="btn btn-danger" style="width:80px"  name="delete_buyingcost_item" buyingcost_id="'+buyingcostitems[i]['buyingcost_id']+'">Delete</button></td>';
				output+='</tr>';
			}

			$('table[name="existing_buyingcost_item"]').append(output);

			var sellingcostitems = member_setting['sellingcostitemarray'];

			var output = '';
			for( i = 0 ; i < sellingcostitems.length ; i++ ){
				output+='<tr sellingcost_id="'+sellingcostitems[i]['sellingcost_id']+'">';
				output+='	<td class="span4"></td>';
				output+='	<td class="span4" style="">'+sellingcostitems[i]['sellingcost_name']+'</td>';
				output+='   <td class="span4"><button class="btn btn-danger" style="width:80px"  name="delete_sellingcost_item" sellingcost_id="'+sellingcostitems[i]['sellingcost_id']+'">Delete</button></td>';
				output+='</tr>';
			}

			$('table[name="existing_sellingcost_item"]').append(output);


			
			var default_value_items_array = member_setting['default_value_items_array'];

			$('input[name="property_default_mls_display_input"]').val( default_value_items_array['property_default_mls'] );
			$('input[name="property_default_style_display_input"]').val( default_value_items_array['property_default_style'] );
			$('input[name="property_default_squarefeet_display_input"]').val( default_value_items_array['property_default_squarefeet'] );
			$('input[name="property_default_lotsize_display_input"]').val( default_value_items_array['property_default_lotsize'] );
			$('input[name="property_default_yearbuilt_display_input"]').val( default_value_items_array['property_default_yearbuilt'] );
			$('input[name="property_default_lastremodel_display_input"]').val( default_value_items_array['property_default_lastremodel'] );
			$('input[name="property_default_parking_display_input"]').val( default_value_items_array['property_default_parking'] );

			$('input[name="property_default_listingprice_display_input"]').val( '$'+numberWithCommas( default_value_items_array['property_default_listingprice'] ) );
			$('input[name="property_default_purchaseprice_display_input"]').val( '$'+numberWithCommas( default_value_items_array['property_default_purchaseprice'] ) );
			$('input[name="property_default_firstmortgage_display_input"]').val( '$'+numberWithCommas( default_value_items_array['property_default_first_loanamount'] ) );
			$('input[name="property_default_secondmortgage_display_input"]').val( '$'+numberWithCommas( default_value_items_array['property_default_second_loanamount'] ) );
			$('input[name="property_default_downpayment_display_input"]').val( '$'+numberWithCommas( default_value_items_array['property_default_downpayment'] ) );
			$('input[name="property_default_buyingcost_display_input"]').val( '$'+numberWithCommas( default_value_items_array['property_default_buyingcost'] ) );

			$('input[name="property_default_initimprove_display_input"]').val( '$'+numberWithCommas( default_value_items_array['property_default_initimprove'] ) );
			$('input[name="property_default_initcost_display_input"]').val( '$'+numberWithCommas( default_value_items_array['property_default_initialcost'] ) );
			$('input[name="property_default_initcost_display_input"]').val( '$'+numberWithCommas( default_value_items_array['property_default_initialcost'] ) );
			$('input[name="property_default_init_cash_invested_display_input"]').val( '$'+numberWithCommas( default_value_items_array['property_default_init_cash_invested'] ) );

			$('input[name="property_default_vacancyrate_display_input"]').val( default_value_items_array['property_default_vacancy_rate'] );
			$('input[name="property_default_singlevalue_display_input"]').val( '$'+default_value_items_array['property_default_singlevalue_rent'] );
		
			$('input[name="property_default_rent_mode"][value="'+default_value_items_array['property_default_rent_mode']+'"]').attr('checked','checked');

			if( default_value_items_array['property_default_rent_mode'] == '28'){// 28 is key from item table
				$('div[name="singlevalue1"]').css('display','block');
				$('div[name="singlevalue2"]').css('display','block');
				$('div[name="sumofunits"]').css('display','none');
			}else if( default_value_items_array['property_default_rent_mode'] == '29'){ // 29 is key from item table
				$('div[name="singlevalue1"]').css('display','none');
				$('div[name="singlevalue2"]').css('display','none');
				$('div[name="sumofunits"]').css('display','block');
			}

			$('input[name="property_default_single_value_frequency"][value="'+default_value_items_array['property_default_singlevalue_rent_frequency']+'"]').attr('checked','checked');

			$('input[name="property_default_appreciationrate_display_input"]').val( default_value_items_array['property_default_appreciation_rate'] );
			$('input[name="property_default_incomeinflationrate_display_input"]').val( default_value_items_array['property_default_incomeinflation_rate'] );
			$('input[name="property_default_expenseinflationrate_display_input"]').val( default_value_items_array['property_default_expenseinflation_rate'] );

			$('input[name="property_default_sellingcost_display_input"]').val( '$'+numberWithCommas( default_value_items_array['property_default_sellingcost'] ) );
			$('input[name="property_default_lvtforrefinance_display_input"]').val( '$'+numberWithCommas( default_value_items_array['property_default_lvt_for_refinance'] ) );
			$('input[name="property_default_compounding_period"][value="'+default_value_items_array['property_default_compounding_period']+'"]').attr('checked','checked');
					
		});

	}

	$.getJSON('/member/getsessionajax',{salt:'<?=$fingerprint?>'}, function(data) {
		if( data['tab'] == 'account_tab'){
			
			updateaccount();

		}
	});

	// password //

	$("div[name='password']").on('show',function(){

		$('input[name="current_password"]').val('');
		$('input[name="new_password"]').val('');
		$('input[name="retype_new_password"]').val('');

		$('div[name="current_password_error"]').html('');
		$('div[name="new_password_error"]').html('');
		$('div[name="retype_new_password_error"]').html('');

		$('button[name="save_password"]').attr("disabled", "disabled");

	});



	$('input[name="current_password"]').keyup(function(){
		if( $(this).val().length > 0 ){
			$('button[name="save_password"]').removeAttr("disabled");
		}else{
			$('button[name="save_password"]').attr("disabled", "disabled");
		}
	});



	$('button[name="save_password"]').click(function(){

		var current_password 	= $('input[name="current_password"]').val();
		var new_password     	= $('input[name="new_password"]').val();
		var retype_new_password = $('input[name="retype_new_password"]').val();

		var data = {
					'current_password' 		: 		current_password,
					'new_password'          :      new_password,
					'retype_new_password'   :      retype_new_password,
				   };

		$('div[name="current_password_error"]').html('');
		$('div[name="new_password_error"]').html('');
		$('div[name="retype_new_password_error"]').html('');


		$.ajax({
			type:"POST",
			url:"/member/updatepasswordajax",
			async:false,
			data:data,
			success:function(result){
				alert(result['message']);

                if( result['status'] == 0 ){

                	if( result['message'] == 'The current password is incorrect' ){

                		$('div[name="current_password_error"]').html('<font color="red">The current password is incorrect</font>');
                		$('input[name="current_password"]').val('');
                		$('input[name="current_password"]').focus();

                    }if( result['message'] == 'You cannot use a blank password' ){

						$('div[name="new_password_error"]').html('<font color="red">You cannot use a blank password</font>');
						$('input[name="new_password"]').val('');
                		$('input[name="new_password"]').focus();

					}else if( result['message'] == 'New password is too short' ){

						$('div[name="new_password_error"]').html('<font color="red">New password is too short</font>');
                		$('input[name="new_password"]').focus();

					}else if( result['message'] == 'New password must be different from old password' ){

						$('div[name="new_password_error"]').html('<font color="red">New password must be different from old password</font>');
						$('input[name="new_password"]').val('');
                		$('input[name="new_password"]').focus();

					}else if( result['message'] == 'Passwords do not match' ){

						$('div[name="retype_new_password_error"]').html('<font color="red">Passwords do not match</font>');
						$('input[name="retype_new_password"]').val('');
                		$('input[name="retype_new_password"]').focus();

					}

                }else if( result['status'] == 1 ){
                	$("div[name='password']").collapse('toggle');
                }
			}
		});
	});





	$('button[name="cancel_password"]').click(function(){
		$("div[name='password']").collapse('toggle');
	});

	// end password //

	// income items //

	$('button[name="add_income_item"]').click(function(){

        var income_item_name = $('input[name="income_item_name"]').val();

        if(income_item_name != '')
        {
			$.ajax({
				type:"POST",
				url:"/member/addincomeitemajax",
				async:false,
				data:{income_item_name:income_item_name},
				success:function(result){
					//alert(result['income_id']);
					output='';
					output+='<tr income_id="'+result['income_id']+'">';
					output+='	<td class="span4"></td>';
					output+='	<td class="span4" style="">'+income_item_name+'</td>';
					output+='   <td class="span4"><button class="btn btn-danger" style="width:80px"  name="delete_income_item" income_id="'+result['income_id']+'">Delete</button></td>';
					output+='</tr>';

					$('table[name="existing_income_item"]').append(output);
					$('input[name="income_item_name"]').val('');
				}
			});
        }else{
            alert('Income item name can not be blank');
        }
	});

	$(document).on('click','button[name="delete_income_item"]',function(){
		var income_id = $(this).attr('income_id');
		
		$.ajax({
			type:"POST",
			url:"/member/deleteincomeitemajax",
			async:false,
			data:{income_id:income_id},
			success:function(result){
								
				if(result.error){
					$('div#alert_box p#property_name').html(result.message);
					$('div#alert_box').modal('show');					
				}else{
					$('tr[income_id="'+income_id+'"]').remove();
				}
				
			}
		});

	});

	// end income items //

	// expense items //

	$('button[name="add_expense_item"]').click(function(){
		var expense_item_name = $('input[name="expense_item_name"]').val();

		if(expense_item_name != '')
        {
			$.ajax({
				type:"POST",
				url:"/member/addexpenseitemajax",
				async:false,
				data:{expense_item_name:expense_item_name},
				success:function(result){
					//alert(result['income_id']);
					output='';
					output+='<tr expense_id="'+result['expense_id']+'">';
					output+='	<td class="span4"></td>';
					output+='	<td class="span4" style="">'+expense_item_name+'</td>';
					output+='   <td class="span4"><button class="btn btn-danger" style="width:80px"  name="delete_expense_item" expense_id="'+result['expense_id']+'">Delete</button></td>';
					output+='</tr>';

					$('table[name="existing_expense_item"]').append(output);
					$('input[name="expense_item_name"]').val('');
				}
			});
        }else{
        	alert('Expense item name can not be blank');
        }
	});

	$(document).on('click','button[name="delete_expense_item"]',function(){
		var expense_id = $(this).attr('expense_id');
		$.ajax({
			type:"POST",
			url:"/member/deleteexpenseitemajax",
			async:false,
			data:{expense_id:expense_id},
			success:function(result){
				
				if(result.error){
					$('div#alert_box p#property_name').html(result.message);
					$('div#alert_box').modal('show');					
				}else{
					$('tr[expense_id="'+expense_id+'"]').remove();
				}
				
			}
		});
	});

	// end expense items //

	// buying cost items
	$('button[name="add_buyingcost_item"]').click(function(){
		var buyingcost_item_name = $('input[name="buyingcost_item_name"]').val();

		if( buyingcost_item_name != ''){
			$.ajax({
				type:"POST",
				url:"/member/addbuyingcostitemajax",
				async:false,
				data:{buyingcost_item_name:buyingcost_item_name},
				success:function(result){
					//alert(result['income_id']);
					output='';
					output+='<tr buyingcost_id="'+result['buyingcost_id']+'">';
					output+='	<td class="span4"></td>';
					output+='	<td class="span4" style="">'+buyingcost_item_name+'</td>';
					output+='   <td class="span4"><button class="btn btn-danger" style="width:80px"  name="delete_buyingcost_item" buyingcost_id="'+result['buyingcost_id']+'">Delete</button></td>';
					output+='</tr>';

					$('table[name="existing_buyingcost_item"]').append(output);
					$('input[name="buyingcost_item_name"]').val('');
				}
			});
		}else{
			alert('Buyingcost item name can not be blank');
		}


	});


	$(document).on('click','button[name="delete_buyingcost_item"]',function(){
		var buyingcost_id = $(this).attr('buyingcost_id');
		$.ajax({
			type:"POST",
			url:"/member/deletebuyingcostitemajax",
			async:false,
			data:{buyingcost_id:buyingcost_id},
			success:function(result){

				if(result.error){
					$('div#alert_box p#property_name').html(result.message);
					$('div#alert_box').modal('show');					
				}else{
					$('tr[buyingcost_id="'+buyingcost_id+'"]').remove();
				}
				
			}
		});
	});

	// end buying cost items

	// selling cost items

	$('button[name="add_sellingcost_item"]').click(function(){
		var sellingcost_item_name = $('input[name="sellingcost_item_name"]').val();

		if( sellingcost_item_name != ''){
			$.ajax({
				type:"POST",
				url:"/member/addsellingcostitemajax",
				async:false,
				data:{sellingcost_item_name:sellingcost_item_name},
				success:function(result){
					//alert(result['income_id']);
					output='';
					output+='<tr sellingcost_id="'+result['sellingcost_id']+'">';
					output+='	<td class="span4"></td>';
					output+='	<td class="span4" style="">'+sellingcost_item_name+'</td>';
					output+='   <td class="span4"><button class="btn btn-danger" style="width:80px"  name="delete_sellingcost_item" sellingcost_id="'+result['sellingcost_id']+'">Delete</button></td>';
					output+='</tr>';

					$('table[name="existing_sellingcost_item"]').append(output);
					$('input[name="sellingcost_item_name"]').val('');
				}
			});
		}else{
			alert('Sellingcost item name can not be blank');
		}


	});

	$(document).on('click','button[name="delete_sellingcost_item"]',function(){
		var sellingcost_id = $(this).attr('sellingcost_id');

		$.ajax({
			type:"POST",
			url:"/member/deletesellingcostitemajax",
			async:false,
			data:{sellingcost_id:sellingcost_id},
			success:function(result){
				
				if(result.error){
					$('div#alert_box p#property_name').html(result.message);
					$('div#alert_box').modal('show');					
				}else{
					$('tr[sellingcost_id="'+sellingcost_id+'"]').remove();
				}
				
			}
		});
	});


	// end selling cost items

	// default value items

	//+	mls input
	$('input[name="property_default_mls_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',	 
	    title: 'MLS#',
	    content: function() {
	    	$('input[name$="_display_input"][name!="property_default_mls_display_input"]').popover('hide');
	    	var mls = $(this).val();
	    	$('input[name="property_mls_input"]').attr('value',mls);
	    	
			return $('div[name="property_mls_popover"]').html();
	    }
	});

	$(document).on('click','button[name="property_mls_save"]',function(){

		var mls = $('input[name="property_mls_input"]').val();
		
		$.ajax({
			type:"POST",
			url:"/member/updatedefaultmlsajax",
			async:false,
			data:{mls:mls},
			success:function(result){
				$('input[name="property_default_mls_display_input"]').val(mls);
				$('input[name="property_default_mls_display_input"]').popover('hide');
			}
		});
		
	});

	$(document).on('click','button[name="property_mls_cancel"]',function(){
			$('input[name="property_default_mls_display_input"]').popover('hide');
	});
	//- mls input

	//+ style input
	$('input[name="property_default_style_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Style',
	    content: function() {
	    	$('input[name$="_display_input"][name!="property_default_style_display_input"]').popover('hide');
	    	var style = $(this).val()
	    	$('input[name="property_style_input"]').attr('value',style);
			return $('div[name="property_style_popover"]').html();
	    }
	});

	$(document).on('click','button[name="property_style_save"]',function(){
		var style = $('input[name="property_style_input"]').val();
		
		$.ajax({
			type:"POST",
			url:"/member/updatedefaultstyleajax",
			async:false,
			data:{style:style},
			success:function(result){
				$('input[name="property_default_style_display_input"]').val(style);
				$('input[name="property_default_style_display_input"]').popover('hide');
			}
		});
	});

	$(document).on('click','button[name="property_style_cancel"]',function(){
			$('input[name="property_default_style_display_input"]').popover('hide');
	});
	//- style input


	//+ squarefeet input
	$('input[name="property_default_squarefeet_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Square Feet',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_default_squarefeet_display_input"]').popover('hide');
	      var squarefeet = $(this).val();
	      $('input[name="property_squarefeet_input"]').attr('value',squarefeet);
		  return $('div[name="property_squarefeet_popover"]').html();
	    }
	});

	$(document).on('click','button[name="property_squarefeet_save"]',function(){
		var squarefeet = $('input[name="property_squarefeet_input"]').val();
		temp = squarefeet.replace(/\,/g, '');
		temp = temp.replace(/\ /g, '');
		if( $.isNumeric(temp) || (temp.length==0) ) { //valid input
			squarefeet = temp;
			$.ajax({
				type:"POST",
				url:"/member/updatedefaultsquarefeetajax",
				async:false,
				data:{squarefeet:squarefeet},
				success:function(result){
					$('input[name="property_default_squarefeet_display_input"]').val( numberWithCommas(squarefeet) );
					$('input[name="property_default_squarefeet_display_input"]').popover('hide');
				}
			});
		}else{
			$('div#alert_box p#property_name').html('The value "'+squarefeet+'" is invalid for square feet');
			$('div#alert_box').modal('show');
		}
	});

	$(document).on('click','button[name="property_squarefeet_cancel"]',function(){
		$('input[name="property_default_squarefeet_display_input"]').popover('hide');
	});
	//- squarefeet input

	//+ lotsize input
	$('input[name="property_default_lotsize_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Lot Size',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_default_lotsize_display_input"]').popover('hide');
	      var lotsize = $(this).val();
	      $('input[name="property_lotsize_input"]').attr('value',lotsize);
		  return $('div[name="property_lotsize_popover"]').html();
	    }
	});

	$(document).on('click','button[name="property_lotsize_save"]',function(){
		var lotsize = $('input[name="property_lotsize_input"]').val();
		temp = lotsize.replace(/\,/g, '');
		temp = temp.replace(/\ /g, '');
		if( $.isNumeric(temp) || (temp.length==0) ) { //valid input
			lotsize = temp;
			$.ajax({
				type:"POST",
				url:"/member/updatedefaultlotsizeajax",
				async:false,
				data:{lotsize:lotsize},
				success:function(result){
					$('input[name="property_default_lotsize_display_input"]').val( numberWithCommas( lotsize) );
					$('input[name="property_default_lotsize_display_input"]').popover('hide');
				}
			});
		}else{
			$('div#alert_box p#property_name').html('The value "'+lotsize+'" is invalid for lot size');
			$('div#alert_box').modal('show');
		}

	});

	$(document).on('click','button[name="property_lotsize_cancel"]',function(){
		$('input[name="property_default_lotsize_display_input"]').popover('hide');
	});
	//- lotsize input

	//+ yearbuilt input
	$('input[name="property_default_yearbuilt_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Year Built',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_default_yearbuilt_display_input"]').popover('hide');
	      var yearbuilt = $(this).val();
	      $('input[name="property_yearbuilt_input"]').attr('value',yearbuilt);
		  return $('div[name="property_yearbuilt_popover"]').html();
	    }
	});

	$(document).on('click','button[name="property_yearbuilt_save"]',function(){

		var yearbuilt = $('input[name="property_yearbuilt_input"]').val();
		temp = yearbuilt.replace(/\,/g, '');
		temp = temp.replace(/\ /g, '');
		if( ( $.isNumeric(temp) && (temp.length==4) ) || (temp.length==0) ) { //valid input
			yearbuilt = temp;
			$.ajax({
				type:"POST",
				url:"/member/updatedefaultyearbuiltajax",
				async:false,
				data:{yearbuilt:yearbuilt},
				success:function(result){
					$('input[name="property_default_yearbuilt_display_input"]').val(yearbuilt);
					$('input[name="property_default_yearbuilt_display_input"]').popover('hide');
				}
			});
		}else{
			$('div#alert_box p#property_name').html('The value "'+yearbuilt+'" is invalid for year built');
			$('div#alert_box').modal('show');
		}
	});

	$(document).on('click','button[name="property_yearbuilt_cancel"]',function(){
		$('input[name="property_default_yearbuilt_display_input"]').popover('hide');
	});
	//- yearbuilt input

	//+ lastremodel input
	$('input[name="property_default_lastremodel_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Last Remodel',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_default_lastremodel_display_input"]').popover('hide');
	      var lastremodel = $(this).val();
	      $('input[name="property_lastremodel_input"]').attr('value',lastremodel);
		  return $('div[name="property_lastremodel_popover"]').html();
	    }
	});

	$(document).on('click','button[name="property_lastremodel_save"]',function(){
		var lastremodel = $('input[name="property_lastremodel_input"]').val();
		temp = lastremodel.replace(/\,/g, '');
		temp = temp.replace(/\ /g, '');
		if( ( $.isNumeric(temp) && (temp.length==4) ) || (temp.length==0) ) { //valid input
			lastremodel = temp;
			$.ajax({
				type:"POST",
				url:"/member/updatedefaultlastremodelajax",
				async:false,
				data:{lastremodel:lastremodel},
				success:function(result){
					$('input[name="property_default_lastremodel_display_input"]').val(lastremodel);
					$('input[name="property_default_lastremodel_display_input"]').popover('hide');
				}
			});
		}else{
			$('div#alert_box p#property_name').html('The value "'+lastremodel+'" is invalid for last remodel');
			$('div#alert_box').modal('show');
		}
	});

	$(document).on('click','button[name="property_lastremodel_cancel"]',function(){
		$('input[name="property_default_lastremodel_display_input"]').popover('hide');
	});
	//- lastremodel input

	//+ parking input
	$('input[name="property_default_parking_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Parking',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_default_parking_display_input"]').popover('hide');
	      var parking = $(this).val();
	      $('input[name="property_parking_input"]').attr('value',parking);
		  return $('div[name="property_parking_popover"]').html();
	    }
	});

	$(document).on('click','button[name="property_parking_save"]',function(){
		var parking = $('input[name="property_parking_input"]').val();
		temp = parking.replace(/\,/g, '');
		temp = temp.replace(/\ /g, '');
		if( $.isNumeric(temp) || (temp.length==0) ) { //valid input
			parking = temp;
			$.ajax({
				type:"POST",
				url:"/member/updatedefaultparkingajax",
				async:false,
				data:{parking:parking},
				success:function(result){
					$('input[name="property_default_parking_display_input"]').val(parking);
					$('input[name="property_default_parking_display_input"]').popover('hide');
				}
			});
		}else{
			$('div#alert_box p#property_name').html('The value "'+parking+'" is invalid for parking');
			$('div#alert_box').modal('show');
		}
	});

	$(document).on('click','button[name="property_parking_cancel"]',function(){
		$('input[name="property_default_parking_display_input"]').popover('hide');
	});
	//- parking input

	//+ listing input
	$('input[name="property_default_listingprice_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Listing Price',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_default_listingprice_display_input"]').popover('hide');
	      var listingprice = $(this).val();
	      listingprice = listingprice.substring(1);
	      $('input[name="property_listingprice_input"]').attr('value',listingprice);
		  return $('div[name="property_listingprice_popover"]').html();
	    }
	});

	$(document).on('click','button[name="property_listingprice_save"]',function(){
		var listingprice = $('input[name="property_listingprice_input"]').val();
		temp = listingprice.replace(/\,/g, '');
		temp = temp.replace(/\ /g, '');
		if( $.isNumeric(temp) || (temp.length==0) ) { //valid input
			listingprice = temp;
			$.ajax({
				type:"POST",
				url:"/member/updatedefaultlistingpriceajax",
				async:false,
				data:{listingprice:listingprice},
				success:function(result){
					$('input[name="property_default_listingprice_display_input"]').val('$'+ numberWithCommas( listingprice) );
					$('input[name="property_default_listingprice_display_input"]').popover('hide');
				}
			});
		}else{
			$('div#alert_box p#property_name').html('The value "'+listingprice+'" is invalid for Listing Price');
			$('div#alert_box').modal('show');
		}
	});

	$(document).on('click','button[name="property_listingprice_cancel"]',function(){
		$('input[name="property_default_listingprice_display_input"]').popover('hide');
	});
	//- listing input

	//+ purchase price input
	$('input[name="property_default_purchaseprice_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Purchase Price',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_default_purchaseprice_display_input"]').popover('hide');
	      var purchaseprice = $(this).val();
	      purchaseprice = purchaseprice.substring(1);
	      $('input[name="property_purchaseprice_input"]').attr('value',purchaseprice);
		  return $('div[name="property_purchaseprice_popover"]').html();
	    }
	});

	$(document).on('click','button[name="property_purchaseprice_save"]',function(){
		var purchaseprice = $('input[name="property_purchaseprice_input"]').val();
		temp = purchaseprice.replace(/\,/g, '');
		temp = temp.replace(/\ /g, '');
		if( $.isNumeric(temp) || (temp.length==0) ) { //valid input
			purchaseprice = temp;
			$.ajax({
				type:"POST",
				url:"/member/updatedefaultpurchasepriceajax",
				async:false,
				data:{purchaseprice:purchaseprice},
				success:function(result){
					$('input[name="property_default_purchaseprice_display_input"]').val('$'+numberWithCommas( purchaseprice) );
					$('input[name="property_default_purchaseprice_display_input"]').popover('hide');
				}
			});
		}else{
			$('div#alert_box p#property_name').html('The value "'+purchaseprice+'" is invalid for Purchase price');
			$('div#alert_box').modal('show');
		}
	});

	$(document).on('click','button[name="property_purchaseprice_cancel"]',function(){
		$('input[name="property_default_purchaseprice_display_input"]').popover('hide');
	});
	//- purchase price input

	//+ init improvement input
	$('input[name="property_default_initimprove_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Intial Improvement',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_default_initimprove_display_input"]').popover('hide');
	      var initimprove = $(this).val();
	      initimprove = initimprove.substring(1);
	      $('input[name="property_initimprove_input"]').attr('value',initimprove);
		  return $('div[name="property_initimprove_popover"]').html();
	    }
	});

	$(document).on('click','button[name="property_initimprove_save"]',function(){
		var initimprove = $('input[name="property_initimprove_input"]').val();
		temp = initimprove.replace(/\,/g, '');
		temp = temp.replace(/\ /g, '');
		if( $.isNumeric(temp) || (temp.length==0) ) { //valid input
			initimprove = temp;
			$.ajax({
				type:"POST",
				url:"/member/updatedefaultinitimproveajax",
				async:false,
				data:{initimprove:initimprove},
				success:function(result){
					$('input[name="property_default_initimprove_display_input"]').val('$'+numberWithCommas( initimprove) );
					$('input[name="property_default_initimprove_display_input"]').popover('hide');
				}
			});
		}else{
			$('div#alert_box p#property_name').html('The value "'+initimprove+'" is invalid for Initial Improvments');
			$('div#alert_box').modal('show');
		}
	});

	$(document).on('click','button[name="property_initimprove_cancel"]',function(){
		$('input[name="property_default_initimprove_display_input"]').popover('hide');
	});
	//- init improvement input

	//+ buying cost input

	$('input[name="property_default_buyingcost_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Buying Costs',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_default_buyingcost_display_input"]').popover('hide');
		  var output;
	      $.ajax({
				type:"POST",
				url:"/memberdefaultbuyingcost/indexajax",
				async:false,
				success:function(result){
					
					output = result;
				}
			});
			
		  return output;

	    }
	});
	//- buying cost input

	//+ buying first mortgate input
	$('input[name="property_default_firstmortgage_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: "1'st Mortgage",
	    content: function() {
	      $('input[name$="_display_input"][name!="property_default_firstmortgage_display_input"]').popover('hide');
		  var output;
	      $.ajax({
				type:"POST",
				url:"/propertymortgagecost/defaultfirstmortgageajax",
				async:false,
				success:function(result){
					$('div[name="main_panel"]').scrollTop( 80 );
					output = result;
				}
			});
	
		  return output;

	    }
	});



	$(document).on('click','button[name="save_firstmortgage_item"]',function(){
		updatepropertyinfo();
	});

	//- buying first mortgage input

	//+ buying second mortgate input
	$('input[name="property_default_secondmortgage_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: "2'nd Mortgage",
	    content: function() {
	      $('input[name$="_display_input"][name!="property_default_secondmortgage_display_input"]').popover('hide');
		  var output;
	      $.ajax({
				type:"POST",
				url:"/propertymortgagecost/defaultsecondmortgageajax",
				async:false,
				success:function(result){
					$('div[name="main_panel"]').scrollTop( 80 );
					output = result;
				}
			});
	
		  return output;

	    }
	});



	$(document).on('click','button[name="save_secondmortgage_item"]',function(){
		updatepropertyinfo();
	});

	//- buying second mortgage input

	//+ vacancy rate

	$('input[name="property_default_vacancyrate_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Vacancy Rate',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_vacancyrate_display_input"]').popover('hide');

	      var output;
	      $.ajax({
				type:"POST",
				url:"/slidebarinput/defaultvacancyrate",
				async:false,
				success:function(result){
					output = result;
				}
			});
	      return output;
	    }
	});

	//- vacancy rate
	
	//+ rent mode

	$('input[name="property_default_rent_mode"]').bind('click',function(){
		//alert($(this).val());
		
		var property_default_rent_mode = $(this).val();

		if( property_default_rent_mode == '28'){
			$('div[name="singlevalue1"]').css('display','block');
			$('div[name="singlevalue2"]').css('display','block');
			$('div[name="sumofunits"]').css('display','none');
		}

		else if( property_default_rent_mode == '29'){
			$('div[name="singlevalue1"]').css('display','none');
			$('div[name="singlevalue2"]').css('display','none');
			$('div[name="sumofunits"]').css('display','block');
		}else{
			alert('error');
		}


		$.ajax({
			type:"POST",
			url:"/member/updaterentmodeajax",
			async:false,
			data:{property_default_rent_mode:property_default_rent_mode},
			success:function(result){

			}
		});

	});

	//- rent mode

	//+ sigle value rent

	$('input[name="property_default_singlevalue_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Fixed amount',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_default_singlevalue_display_input"]').popover('hide');
	      var fix_amount = $(this).val();
	      fix_amount = fix_amount.substring(1);
	      $('input[name="property_singlevalue_input"]').attr('value',fix_amount);
		  return $('div[name="property_singlevalue_popover"]').html();
	    }
	});

	$(document).on('click','button[name="property_singlevalue_save"]',function(){
		var fix_amount = $('input[name="property_singlevalue_input"]').val();
		
		temp = fix_amount.replace(/\,/g, '');
		temp = temp.replace(/\ /g, '');

		if( ( $.isNumeric(temp) || (temp.length==0) )  && (temp >= 0) ) { //valid input
			fix_amount = temp;
			
			$.ajax({
				type:"POST",
				url:"/member/updatedefaultfixamountajax",
				async:false,
				data:{fix_amount:fix_amount},
				success:function(result){
					$('input[name="property_default_singlevalue_display_input"]').val('$'+ numberWithCommas( fix_amount) );
					//updatepropertyinfo();
					$('input[name="property_default_singlevalue_display_input"]').popover('hide');
				}
			});
		}else{
			$('div#alert_box p#property_name').html('The value "'+fix_amount+'" is invalid for Vacancy Rate');
			$('div#alert_box').modal('show');
		}
	});

	$(document).on('click','button[name="property_vacancyrate_cancel"]',function(){
		$('input[name="property_vacancyrate_display_input"]').popover('hide');
	});

	//- single value rent

	//+ single value frequency
	$('input[name="property_default_single_value_frequency"]').bind('click',function(){

		var singlevalue_freq = $(this).val();
		$.ajax({
			type:"POST",
			url:"/member/updatedefaultsinglevaluefreqajax",
			async:false,
			data:{singlevalue_freq:singlevalue_freq},
			success:function(result){
				
			}
		});
	});
	//- single value frequency

	//+ appreciation rate
	
	$('input[name="property_default_appreciationrate_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Appreciation Rate',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_default_appreciationrate_display_input"]').popover('hide');
	      var output;
	      $.ajax({
				type:"POST",
				url:"/slidebarinput/defaultappreciationrate",
				async:false,
				success:function(result){
					output = result;
				}
			});
	      return output;

	    }
	});

	//- appreciation rate

	//+ income inflation rate

	$('input[name="property_default_incomeinflationrate_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Income Inflation Rate',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_default_incomeinflationrate_display_input"]').popover('hide');

	      var output;
	      $.ajax({
				type:"POST",
				url:"/slidebarinput/defaultincomeinflationrate",
				async:false,
				success:function(result){
					output = result;
				}
			});
	      return output;
	    }
	});
	//- income inflation rate

	//+ expense inflation rate
	$('input[name="property_default_expenseinflationrate_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Expense Inflation Rate',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_default_expenseinflationrate_display_input"]').popover('hide');

	      var output;
	      $.ajax({
				type:"POST",
				url:"/slidebarinput/defaultexpenseinflationrate",
				async:false,
				success:function(result){
					output = result;
				}
			});
	      return output;
	    }
	});
	//- expense inflation rate

	//+ selling cost input

	$('input[name="property_default_sellingcost_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Selling Costs',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_default_sellingcost_display_input"]').popover('hide');
		  var output;
	      $.ajax({
				type:"POST",
				url:"/memberdefaultsellingcost/indexajax",
				async:false,
				success:function(result){
					
					output = result;
				}
			});
			
		  return output;

	    }
	});
	
	//- selling cost input

	//+ lvt for refinance
	$('input[name="property_default_lvtforrefinance_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'LVT for Refinance',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_default_lvtforrefinance_display_input"]').popover('hide');

	      var output;
	      $.ajax({
				type:"POST",
				url:"/slidebarinput/defaultlvtforrefinance",
				async:false,
				success:function(result){
					output = result;
				}
			});
	      return output;
	    }
	});
	//- lvt for refinance

	//+ compounding period
	$('input[name="property_default_compounding_period"]').bind('click',function(){
		var property_default_compounding_period = $(this).val();

		$.ajax({
			type:"POST",
			url:"/member/updatedefaultcompoundingperiodajax",
			async:false,
			data:{property_default_compounding_period:property_default_compounding_period},
			success:function(result){

			}
		});

	});
	//- compounding period
	
	// end default value items


	$('div[name="surway_click"]').bind('click',function(){

		$('input:radio[value="free"]').prop('checked',true);
		
		$.ajax({
			type:"POST",
			url:"/member/surwayajax",
			async:false,
			success:function(result){
				alert(" it's underconstruction, we will email you when it's avaliable");
			}
		});
		
	});

	
});

</script>