<?php



?>




<div style='width:737px;height:737px;overflow:scroll'>

	<div name="report">



	</div>


</div>

<button name="send_amortization" class="btn btn-large btn-primary" type="button" style="width:735px;height:100%">Send this amortization report to <?=$username ?> in PDF format</button>

<script type="text/javascript">

$(function(){

	function updateamorizationinfo()
	{


		$.getJSON('/property/getpropertyamortizationajax', function(property_amortization){
			var page = 1;
			var number_of_lines = property_amortization['first_loan_report'].length;
		    number_of_first_pages = Math.ceil( number_of_lines/37 );

			var output = '';
			$('div[name="report"]').html(output);
			var line = 0;
			for(var count = 1; count <= number_of_first_pages; count++){
				output+=	  '<div name="amortization_page_'+page+'">';
				output+=	  '		<div class="container-fluid" style="width:690px;height:1050px;background-color:#ffffff;border:2px solid">';
				output+=	  '			<table>';
				output+=      '				<tr><td style="text-align:center"><font size="4">First mortgage amortization table</font></td></tr>';
				output+=      '			</table>';
				output+=      '			<table>';
				output+=      '				<tr><td><font size="4">Property Name:</font></td>';
				output+=      '				<td>'+property_amortization['property_name']+'</td>';
				output+=      '			<table>';
				output+=	  '			<table border="1" style="width:100%">';
				output+=	  '				<tr style="background-color:#50b5ee">';
				output+=      '					<td style="width:10%;text-align:left">Year</td>';
				output+=      '					<td style="width:10%;text-align:right">No.</td>';
				output+=      '					<td style="width:25%;text-align:right">Interest</td>';
				output+=      '					<td style="width:25%;text-align:right">Principal</td>';
				output+=      '					<td style="width:30%;text-align:right">Balance</td>';
				output+=      '				</tr>';

				for( i = line ; ( (i < line+37) && (i < number_of_lines) ); i++ ){

				output+=	  '				<tr>';
				output+=	  '					<td style="text-align:left">'+property_amortization['first_loan_report'][i]['year']+'</td>';
				output+=	  '					<td style="text-align:right">'+property_amortization['first_loan_report'][i]['number']+'</td>';
				output+=	  '					<td style="text-align:right">$'+numberWithCommas( property_amortization['first_loan_report'][i]['interest']) +'</td>';
				output+=	  '					<td style="text-align:right">$'+numberWithCommas( property_amortization['first_loan_report'][i]['principal'])+'</td>';
				output+=	  '					<td style="text-align:right">$'+numberWithCommas( property_amortization['first_loan_report'][i]['balance'])+ '</td>';
				output+=	  '				</tr>';

				}
				line+=37;
				output+=	  '			</table>';
				output+=	  '		</div>';
				output+=	  '</div>';
				output+=	  '<div class="row-fluid">&nbsp;</div>';
				page++;
			}

			$('div[name="report"]').append(output);

			/////////////////////////

			var number_of_lines = property_amortization['second_loan_report'].length;
			number_of_second_pages = Math.ceil( number_of_lines/37 );

			var output = '';
			var line = 0;
			for(var count = 1; count <= number_of_second_pages; count++){
				output+=	  '<div name="amortization_page_'+page+'">';
				output+=	  '		<div class="container-fluid" style="width:690px;height:1050px;background-color:#ffffff;border:2px solid">';
				output+=	  '			<table>';
				output+=      '				<tr><td style="text-align:center"><font size="4">Second mortgage amortization table</font></td></tr>';
				output+=      '			</table>';
				output+=      '			<table>';
				output+=      '				<tr><td><font size="4">Property Name:</font></td>';
				output+=      '				<td>'+property_amortization['property_name']+'</td>';
				output+=      '			<table>';
				output+=	  '			<table border="1" style="width:100%">';
				output+=	  '				<tr style="background-color:#50b5ee">';
				output+=      '					<td style="width:10%;text-align:left">Year</td>';
				output+=      '					<td style="width:10%;text-align:right">No.</td>';
				output+=      '					<td style="width:25%;text-align:right">Interest</td>';
				output+=      '					<td style="width:25%;text-align:right">Principal</td>';
				output+=      '					<td style="width:30%;text-align:right">Balance</td>';
				output+=      '				</tr>';

				for( i = line ; ( (i < line+37) && (i < number_of_lines) ); i++ ){

				output+=	  '				<tr>';
				output+=	  '					<td style="text-align:left">'+property_amortization['second_loan_report'][i]['year']+'</td>';
				output+=	  '					<td style="text-align:right">'+property_amortization['second_loan_report'][i]['number']+'</td>';
				output+=	  '					<td style="text-align:right">$'+numberWithCommas( property_amortization['second_loan_report'][i]['interest'] )+'</td>';
				output+=	  '					<td style="text-align:right">$'+numberWithCommas( property_amortization['second_loan_report'][i]['principal'])+'</td>';
				output+=	  '					<td style="text-align:right">$'+numberWithCommas( property_amortization['second_loan_report'][i]['balance'])+'</td>';
				output+=	  '				</tr>';

				}
				line+=37;
				output+=	  '			</table>';
				output+=	  '		</div>';
				output+=	  '</div>';
				output+=	  '<div class="row-fluid">&nbsp;</div>';
				page++;
			}

			$('div[name="report"]').append(output);

		});

	}

	$.getJSON('/member/getsessionajax',{salt:'<?=$fingerprint?>'}, function(data) {

		if( data['tab'] == 'amortization_tab'){
			updateamorizationinfo()
		}
	});

	//+ update info for report tab when click property
	$(document).on('click','div#property',function(){
		$.getJSON('/member/getsessionajax',{salt:'<?=$fingerprint?>'}, function(data) {

			if(data['tab'] == 'amortization_tab'){

				updateamorizationinfo();

			}

		});
	});
	//- end update info for report tab


	$('button[name="send_amortization"]').bind('click',function(){

		var num_of_email_per_month;
		var used_num_of_email_per_month;
		
		$.ajax({
			type:"POST",
			url:"/member/getmembercurrenttokenajax",
			async:false,
			success:function(result){
				num_of_email_per_month 			= result['num_of_email_per_month'];
				used_num_of_email_per_month		= result['used_num_of_email_per_month'];
			}
		});

		if( used_num_of_email_per_month >= num_of_email_per_month ){
			
			alert('to send more emails, please upgrade to paid member');
			
		}else{
			
			var number_of_total_pages = number_of_first_pages + number_of_second_pages;

			var pages = new Array();

			for( var page = 1; page <= number_of_total_pages; page++){
				pages[page-1] = $('div[name^="amortization_page_'+page+'"]').html();
				//alert( pages[page] );
			}

			var data =	{
							pages 	    : 	pages,
						};

			
			var sent_sucess = false;
			
			$.ajax({
				type:"POST",
				url:"/member/emailmortgagereport",
				async:false,
				data:data,
				success:function(result){

					sent_sucess = true;
	    			//location.reload();
				}
			});
			
	        if( sent_sucess ){
	            
				$.ajax({
					type:"POST",
					url:"/member/increasenumofemailajax",
					async:false,
					
					success:function(result){
		
		    			alert('Sent!');
		    			location.reload();
					}
				});
	        }else{
				alert('can not send email');
	        }
			
		}

		
	});

});

</script>






