<?php
// module/Index/view/index/index/index.phtml:


?>




<div style='width:740px;height:740px;overflow:scroll'>

	<div name="first_page">

		<div class="container-fluid" style="width:690px;height:1050px;background-color:#ffffff;border:2px solid">
			<div class="pull-right"><i class="fa fa-question-circle" style="font-size: 20px;" data-toggle="tooltip" data-placement="top" title="Need guide?" onclick="javascript:introJs().start();"></i></div>
			<div class="row-fluid" style="width:100%;padding-top:20px;background-color:#ffffff">

				<table class="" style="width: 100%;padding-top:20px;">
					<thead>
						<tr name="add_property_row">
					    	<th style="width: 240px">

				      		</th>
					    	<th style="width: 125px">
					    		<div class="btn-group" style="text-align:center;width:100%;">
								  <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" style="width:90px" data-step="2" data-intro="Click here to choose a property you would like to compare.">
								    Select
								    <span class="caret"></span>
								  </a>
								  <ul name="first_column" class="dropdown-menu">
									<!-- feel by ajax -->
								  </ul>
								</div>
					    	</th>
					    	<th style="width: 125px">
					    		<div class="btn-group" style="text-align:center;width:100%;">>
								  <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" style="width:90px" data-step="3" data-intro="Click here to choose the second property you would like to compare.">
								    Select
								    <span class="caret"></span>
								  </a>
								  <ul name="second_column" class="dropdown-menu">
									<!-- feel by ajax -->
								  </ul>
								</div>
					    	</th>
					    	<th style="width: 125">
					    		<div class="btn-group" style="text-align:center;width:100%;">>
								  <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" style="width:90px" data-step="4" data-intro="Click here to choose the third property you would like to compare.">
								    Select
								    <span class="caret"></span>
								  </a>
								  <ul name="third_column" class="dropdown-menu">
									<!-- feel by ajax -->
								  </ul>
								</div>
					    	</th>
					    	<th style="width: 125px">
					    		<div class="btn-group" style="text-align:center;width:100%;">>
								  <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" style="width:90px" data-step="5" data-intro="Click here to choose the 4th property you would like to compare.">
								    Select
								    <span class="caret"></span>
								  </a>
								  <ul name="fourth_column" class="dropdown-menu">
									<!-- feel by ajax -->
								  </ul>
								</div>
					    	</th>
						</tr>
					    <tr style="height:100px">
					      <th style="width: 240px">

					      </th>
					      <th style="width: 125px">
								<img border="0" name="first_column_cover_photo" src="/img/empty_home.jpg" style=" width: 120px;height:95px">
					      </th>
					      <th style="width: 125px">
								<img border="0" name="second_column_cover_photo" src="/img/empty_home.jpg" style=" width: 120px;height:95px">
					      </th>
					      <th style="width: 125px">
								<img border="0" name="third_column_cover_photo" src="/img/empty_home.jpg" style=" width: 120px;height:95px">
					      </th>
					      <th style="width: 125px">
								<img border="0" name="fourth_column_cover_photo" src="/img/empty_home.jpg" style=" width: 120px;height:95px">
					      </th>
					    </tr>

				 	</thead>

					<tr>
						<td align="left">Property Name</td>
						<td name="first_column_property_name" align="center"></td>
						<td name="second_column_property_name" align="center"></td>
						<td name="third_column_property_name" align="center"></td>
						<td name="fourth_column_property_name" align="center"></td>
					</tr>

					<tr style='background-color:#50b5ee'>
						<td align="left" colspan="5">Basic Info</td>
					</tr>
					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="mls">MLS#</a></td>
						<td name="first_column_mls"  style="" align="center"></td>
						<td name="second_column_mls" style="" align="center"></td>
						<td name="third_column_mls"  style="" align="center"></td>
						<td name="fourth_column_mls" style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="square_feet">Square Feet</a></td>
						<td name="first_column_squarefeet" 		style="" align="center"></td>
						<td name="second_column_squarefeet" 	style="" align="center"></td>
						<td name="third_column_squarefeet" 		style="" align="center"></td>
						<td name="fourth_column_squarefeet" 	style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="lot_size">Lot Size</a></td>
						<td name="first_column_lotsize" 		style="" align="center"></td>
						<td name="second_column_lotsize" 		style="" align="center"></td>
						<td name="third_column_lotsize" 		style="" align="center"></td>
						<td name="fourth_column_lotsize" 		style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="year_built">Year Built</a></td>
						<td name="first_column_yearbuilt" 		style="" align="center"></td>
						<td name="second_column_yearbuilt" 		style="" align="center"></td>
						<td name="third_column_yearbuilt" 		style="" align="center"></td>
						<td name="fourth_column_yearbuilt" 		style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="parking">Parking</a></td>
						<td name="first_column_parking" 		style="" align="center"></td>
						<td name="second_column_parking" 		style="" align="center"></td>
						<td name="third_column_parking" 		style="" align="center"></td>
						<td name="fourth_column_parking" 		style="" align="center"></td>
					</tr>
					<tr style='background-color:#50b5ee'>
						<td align="left" colspan="5">Mortgages</td>
					</tr>
					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="loan_to_cost_ratio">1'st Mortgage Loan-To-Cost</a></td>
						<td name="first_column_first_loantocost" 	style="" align="center"></td>
						<td name="second_column_first_loantocost" 	style="" align="center"></td>
						<td name="third_column_first_loantocost" 	style="" align="center"></td>
						<td name="fourth_column_first_loantocost" 	style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="loan_to_value_ratio">1'st Mortgage Loan-To-Value</a></td>
						<td name="first_column_first_loantovalue" 	style="" align="center"></td>
						<td name="second_column_first_loantovalue" 	style="" align="center"></td>
						<td name="third_column_first_loantovalue" 	style="" align="center"></td>
						<td name="fourth_column_first_loantovalue" 	style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="loan_amount">1'st Mortgage Loan Amount</a></td>
						<td name="first_column_first_loanamount" 	style="" align="center"></td>
						<td name="second_column_first_loanamount" 	style="" align="center"></td>
						<td name="third_column_first_loanamount" 	style="" align="center"></td>
						<td name="fourth_column_first_loanamount" 	style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="term">1'st Mortgage Loan Term</a></td>
						<td name="first_column_first_loanterm" 		style="" align="center"></td>
						<td name="second_column_first_loanterm" 	style="" align="center"></td>
						<td name="third_column_first_loanterm" 		style="" align="center"></td>
						<td name="fourth_column_first_loanterm" 	style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="interest_rate">1'st Mortgage Interest Rate</a></td>
						<td name="first_column_first_intrate" 		style="" align="center"></td>
						<td name="second_column_first_intrate"  	style="" align="center"></td>
						<td name="third_column_first_intrate"  		style="" align="center"></td>
						<td name="fourth_column_first_intrate"  	style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="payment">1'st Mortgage Payment</a></td>
						<td name="first_column_first_payment" 		style="" align="center"></td>
						<td name="second_column_first_payment" 		style="" align="center"></td>
						<td name="third_column_first_payment" 		style="" align="center"></td>
						<td name="fourth_column_first_payment" 		style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="loan_to_cost_ratio">2'nd Mortgage Loan-To-Cost</a></td>
						<td name="first_column_second_loantocost" 	style="" align="center"></td>
						<td name="second_column_second_loantocost" 	style="" align="center"></td>
						<td name="third_column_second_loantocost" 	style="" align="center"></td>
						<td name="fourth_column_second_loantocost" 	style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="loan_to_value_ratio">2'nd Mortgage Loan-To-Value</a></td>
						<td name="first_column_second_loantovalue" 	style="" align="center"></td>
						<td name="second_column_second_loantovalue" 	style="" align="center"></td>
						<td name="third_column_second_loantovalue" 	style="" align="center"></td>
						<td name="fourth_column_second_loantovalue" 	style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="loan_amount">2'st Mortgage Loan Amount</a></td>
						<td name="first_column_second_loanamount" 	style="" align="center"></td>
						<td name="second_column_second_loanamount" 	style="" align="center"></td>
						<td name="third_column_second_loanamount" 	style="" align="center"></td>
						<td name="fourth_column_second_loanamount" 	style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="term">2'st Mortgage Loan Term</a></td>
						<td name="first_column_second_loanterm" 	style="" align="center"></td>
						<td name="second_column_second_loanterm" 	style="" align="center"></td>
						<td name="third_column_second_loanterm" 	style="" align="center"></td>
						<td name="fourth_column_second_loanterm" 	style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="interest_rate">2'st Mortgage Interest Rate</a></td>
						<td name="first_column_second_intrate" 		style="" align="center"></td>
						<td name="second_column_second_intrate"  	style="" align="center"></td>
						<td name="third_column_second_intrate"  	style="" align="center"></td>
						<td name="fourth_column_second_intrate"  	style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="payment">2'st Mortgage Payment</a></td>
						<td name="first_column_second_payment" 		style="" align="center"></td>
						<td name="second_column_second_payment" 	style="" align="center"></td>
						<td name="third_column_second_payment" 		style="" align="center"></td>
						<td name="fourth_column_second_payment" 	style="" align="center"></td>
					</tr>

					<tr style='background-color:#50b5ee'>
						<td align="left" colspan="5">Financial Metrics</td>
					</tr>
					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="grm">Annual Gross Rent Multiplier</a></td>
						<td name="first_column_grm" 				style="" align="center"></td>
						<td name="second_column_grm" 				style="" align="center"></td>
						<td name="third_column_grm" 				style="" align="center"></td>
						<td name="fourth_column_grm" 				style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="oer">Operating Expense Ratio</a></td>
						<td name="first_column_operatingexpense" 	style="" align="center"></td>
						<td name="second_column_operatingexpense" 	style="" align="center"></td>
						<td name="third_column_operatingexpense" 	style="" align="center"></td>
						<td name="fourth_column_operatingexpense" 	style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="dcr">Debt Coverage Ratio</a></td>
						<td name="first_column_dcr" 	style="" align="center"></td>
						<td name="second_column_dcr" 	style="" align="center"></td>
						<td name="third_column_dcr" 	style="" align="center"></td>
						<td name="fourth_column_dcr" 	style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="cap_rate">Cap Rate</a></td>
						<td name="first_column_caprate" 	style="" align="center"></td>
						<td name="second_column_caprate" 	style="" align="center"></td>
						<td name="third_column_caprate" 	style="" align="center"></td>
						<td name="fourth_column_caprate" 	style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="cash_on_cash_return">Cash on Cash Return</a></td>
						<td name="first_column_cashoncashreturn" 	style="" align="center"></td>
						<td name="second_column_cashoncashreturn" 	style="" align="center"></td>
						<td name="third_column_cashoncashreturn" 	style="" align="center"></td>
						<td name="fourth_column_cashoncashreturn" 	style="" align="center"></td>
					</tr>

					<tr style='background-color:#50b5ee'>
						<td align="left" colspan="5">Purchase Info</td>
					</tr>
					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="purchase_price">Purchase Price</a></td>
						<td name="first_column_purchaseprice" 		style="" align="center"></td>
						<td name="second_column_purchaseprice" 		style="" align="center"></td>
						<td name="third_column_purchaseprice" 		style="" align="center"></td>
						<td name="fourth_column_purchaseprice" 		style="" align="center"></td>
					</tr>
					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="first_mortgage">First Mortgage</a></td>
						<td name="first_column_firstmortgage" 		style="" align="center"></td>
						<td name="second_column_firstmortgage" 		style="" align="center"></td>
						<td name="third_column_firstmortgage" 		style="" align="center"></td>
						<td name="fourth_column_firstmortgage" 		style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="second_mortgage">Second Mortgage</a></td>
						<td name="first_column_secondmortgage" 		style="" align="center"></td>
						<td name="second_column_secondmortgage" 	style="" align="center"></td>
						<td name="third_column_secondmortgage" 		style="" align="center"></td>
						<td name="fourth_column_secondmortgage" 	style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="down_payment">Downpayment</a></td>
						<td name="first_column_downpayment" 		style="" align="center"></td>
						<td name="second_column_downpayment" 		style="" align="center"></td>
						<td name="third_column_downpayment" 		style="" align="center"></td>
						<td name="fourth_column_downpayment" 		style="" align="center"></td>
					</tr>
					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="buying_costs">Buying Costs</a></td>
						<td name="first_column_buyingcost" 			style="" align="center"></td>
						<td name="second_column_buyingcost" 		style="" align="center"></td>
						<td name="third_column_buyingcost" 			style="" align="center"></td>
						<td name="fourth_column_buyingcost" 		style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="init_improvments">Initial Improvements</a></td>
						<td name="first_column_initimprove" 		style="" align="center"></td>
						<td name="second_column_initimprove" 		style="" align="center"></td>
						<td name="third_column_initimprove" 		style="" align="center"></td>
						<td name="fourth_column_initimprove" 		style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="init_cash_invested">Initial Cash Invested</a></td>
						<td name="first_column_initcashinvested" 	style="" align="center"></td>
						<td name="second_column_initcashinvested" 	style="" align="center"></td>
						<td name="third_column_initcashinvested" 	style="" align="center"></td>
						<td name="fourth_column_initcashinvested" 	style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="cost_per_square_foot">Cost per Square Foot</a></td>
						<td name="first_column_costpersquarefoot" 	style="" align="center"></td>
						<td name="second_column_costpersquarefoot" 	style="" align="center"></td>
						<td name="third_column_costpersquarefoot" 	style="" align="center"></td>
						<td name="fourth_column_costpersquarefoot" 	style="" align="center"></td>
					</tr>



				</table>

			</div>
		</div>

	</div> <!-- end first page -->

	<div class="row-fluid">&nbsp;</div>

	<div name="second_page">

		<div class="container-fluid" style="width:690px;height:1050px;background-color:#ffffff;border:2px solid">
			<div class="row-fluid" style="width:100%;padding-top:20px;background-color:#ffffff">
				<table class="" style="width: 100%;padding-top:20px;" >
					<thead>

						<tr name="add_property_row">
					    	<th style="width: 240px">

				      		</th>
					    	<th style="width: 125px">
					    		<div class="btn-group" style="text-align:center;width:100%;">
								  <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" style="width:90px">
								    Select
								    <span class="caret"></span>
								  </a>
								  <ul name="first_column" class="dropdown-menu">
									<!-- feel by ajax -->
								  </ul>
								</div>
					    	</th>
					    	<th style="width: 125px">
					    		<div class="btn-group" style="text-align:center;width:100%;">>
								  <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" style="width:90px">
								    Select
								    <span class="caret"></span>
								  </a>
								  <ul name="second_column" class="dropdown-menu">
									<!-- feel by ajax -->
								  </ul>
								</div>
					    	</th>
					    	<th style="width: 125">
					    		<div class="btn-group" style="text-align:center;width:100%;">>
								  <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" style="width:90px">
								    Select
								    <span class="caret"></span>
								  </a>
								  <ul name="third_column" class="dropdown-menu">
									<!-- feel by ajax -->
								  </ul>
								</div>
					    	</th>
					    	<th style="width: 125px">
					    		<div class="btn-group" style="text-align:center;width:100%;">>
								  <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" style="width:90px">
								    Select
								    <span class="caret"></span>
								  </a>
								  <ul name="fourth_column" class="dropdown-menu">
									<!-- feel by ajax -->
								  </ul>
								</div>
					    	</th>
						</tr>
						<tr style="height:100px">
					      <th style="width: 240px">

					      </th>
					      <th style="width: 125px">
								<img border="0" name="first_column_cover_photo" src="/img/empty_home.jpg" style=" width: 120px;height:95px">
					      </th>
					      <th style="width: 125px">
								<img border="0" name="second_column_cover_photo" src="/img/empty_home.jpg" style=" width: 120px;height:95px">
					      </th>
					      <th style="width: 125px">
								<img border="0" name="third_column_cover_photo" src="/img/empty_home.jpg" style=" width: 120px;height:95px">
					      </th>
					      <th style="width: 125px">
								<img border="0" name="fourth_column_cover_photo" src="/img/empty_home.jpg" style=" width: 120px;height:95px">
					      </th>
					    </tr>

					</thead>

					<tr>
						<td align="left">Property Name</td>
						<td name="first_column_property_name" align="center"></td>
						<td name="second_column_property_name" align="center"></td>
						<td name="third_column_property_name" align="center"></td>
						<td name="fourth_column_property_name" align="center"></td>
					</tr>

					<tr style='background-color:#50b5ee'>
						<td align="left" colspan="5">Income</td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="gross_rent">Monthly Gross Rent</a></td>
						<td name="first_column_grossrent" 	style="" align="center"></td>
						<td name="second_column_grossrent" 	style="" align="center"></td>
						<td name="third_column_grossrent" 	style="" align="center"></td>
						<td name="fourth_column_grossrent" 	style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="vacancy_loss">Vacancy Loss</a></td>
						<td name="first_column_vacancyloss" 	style="" align="center"></td>
						<td name="second_column_vacancyloss" 	style="" align="center"></td>
						<td name="third_column_vacancyloss" 	style="" align="center"></td>
						<td name="fourth_column_vacancyloss" 	style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="other_income">Other Income</a></td>
						<td name="first_column_otherincome" 	style="" align="center"></td>
						<td name="second_column_otherincome" 	style="" align="center"></td>
						<td name="third_column_otherincome" 	style="" align="center"></td>
						<td name="fourth_column_otherincome" 	style="" align="center"></td>
					</tr>


					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="operating_income">Operating Income</a></td>
						<td name="first_column_operatingincome" 	style="" align="center"></td>
						<td name="second_column_operatingincome" 	style="" align="center"></td>
						<td name="third_column_operatingincome" 	style="" align="center"></td>
						<td name="fourth_column_operatingincome" 	style="" align="center"></td>
					</tr>

					<tr style='background-color:#50b5ee'>
						<td align="left" colspan="5">Expenses</td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="operating_expenses">Operating Expenses</a></td>
						<td name="first_column_operatingexpenses" 	style="" align="center"></td>
						<td name="second_column_operatingexpenses" 	style="" align="center"></td>
						<td name="third_column_operatingexpenses" 	style="" align="center"></td>
						<td name="fourth_column_operatingexpenses" 	style="" align="center"></td>
					</tr>

					<tr style='background-color:#50b5ee'>
						<td align="left" colspan="5">Net Performance</td>
					</tr>
					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="operating_expenses">Net Operating Income</a></td>
						<td name="first_column_netoperatingincome" 		style="" align="center"></td>
						<td name="second_column_netoperatingincome" 	style="" align="center"></td>
						<td name="third_column_netoperatingincome" 		style="" align="center"></td>
						<td name="fourth_column_netoperatingincome" 	style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="payment">Mortgage Payments</a></td>
						<td name="first_column_mortgagepayment" 		style="" align="center"></td>
						<td name="second_column_mortgagepayment" 		style="" align="center"></td>
						<td name="third_column_mortgagepayment" 		style="" align="center"></td>
						<td name="fourth_column_mortgagepayment" 		style="" align="center"></td>
					</tr>

					<tr>
						<td style="" align="left"><a type="tooltip" tooltip_name="cash_flow">Cash Flow</a></td>
						<td name="first_column_cashflow" 		style="" align="center"></td>
						<td name="second_column_cashflow" 		style="" align="center"></td>
						<td name="third_column_cashflow" 		style="" align="center"></td>
						<td name="fourth_column_cashflow" 		style="" align="center"></td>
					</tr>

				</table>
			</div>
		</div>
	</div>

</div>

<button name="send_compare" class="btn btn-large btn-primary" type="button" style="width:735px;height:100%">Send this comparision to <?=$username ?> in PDF format</button>

<script type="text/javascript">

$(function(){

	function updatecompareinfo()
	{
		$.getJSON('/property/getpropertycompareajax', function(property_compare){


			var property_list = property_compare['property_list'];

			$output = '';
			for(i = 0; i < property_list.length; i++){

				$output+='<li name="first_column_property_choice" align="left"><a property_id='+property_list[i]['property_id']+'>'+property_list[i]['property_name']+'</a></li>';

			}

			$('ul[name="first_column"]').html($output);

			$output = '';
			for(i = 0; i < property_list.length; i++){

				$output+='<li name="second_column_property_choice" align="left"><a property_id='+property_list[i]['property_id']+'>'+property_list[i]['property_name']+'</a></li>';

			}
			$('ul[name="second_column"]').html($output);

			$output = '';
			for(i = 0; i < property_list.length; i++){

				$output+='<li name="third_column_property_choice" align="left"><a property_id='+property_list[i]['property_id']+'>'+property_list[i]['property_name']+'</a></li>';

			}
			$('ul[name="third_column"]').html($output);

			$output = '';
			for(i = 0; i < property_list.length; i++){

				$output+='<li name="fourth_column_property_choice" align="left"><a property_id='+property_list[i]['property_id']+'>'+property_list[i]['property_name']+'</a></li>';

			}
			$('ul[name="fourth_column"]').html($output);

		});

	}

	function update_compare_column(column,data){

		$('img[name="'+column+'_column_cover_photo"]').attr('src',data['property_image']);
		$('td[name="'+column+'_column_property_name"]').html(data['property_name']);
		$('td[name="'+column+'_column_mls"]').html(data['mls']);
		$('td[name="'+column+'_column_squarefeet"]').html( numberWithCommas( data['squarefeet'] ) );
		$('td[name="'+column+'_column_lotsize"]').html( numberWithCommas( data['lotsize']) );
		$('td[name="'+column+'_column_yearbuilt"]').html(data['yearbuilt']);
		$('td[name="'+column+'_column_parking"]').html(data['parking']);

		$('td[name="'+column+'_column_first_loantocost"]').html(data['loan_to_cost1']+'%');
		$('td[name="'+column+'_column_first_loantovalue"]').html(data['loan_to_value1'].toFixed(2)+'%');
		$('td[name="'+column+'_column_first_loanamount"]').html( '$'+numberWithCommas( data['loan_amount1']) );
		$('td[name="'+column+'_column_first_loanterm"]').html(data['loan_term1']);
		$('td[name="'+column+'_column_first_intrate"]').html(data['intrate1']+'%');
		$('td[name="'+column+'_column_first_payment"]').html( '$'+numberWithCommas( data['payment1'].toFixed(2) ) );

		$('td[name="'+column+'_column_second_loantocost"]').html(data['loan_to_cost2']+'%');
		$('td[name="'+column+'_column_second_loantovalue"]').html(data['loan_to_value2'].toFixed(2)+'%');
		$('td[name="'+column+'_column_second_loanamount"]').html( '$'+numberWithCommas( data['loan_amount2']) );
		$('td[name="'+column+'_column_second_loanterm"]').html(data['loan_term2']);
		$('td[name="'+column+'_column_second_intrate"]').html(data['intrate2']+'%');
		$('td[name="'+column+'_column_second_payment"]').html( '$'+numberWithCommas( data['payment2'].toFixed(2) ) );

		if( data['grm'] == 0 ){
			grm = 'N/A';
		}else{
			grm = data['grm'].toFixed(2);
		}
		$('td[name="'+column+'_column_grm"]').html(grm);
		$('td[name="'+column+'_column_operatingexpense"]').html(data['operatingexpense_ratio'].toFixed(2));

		if( data['dcr'] == 0){
			dcr = 'N/A'
		}else{
			dcr = data['dcr'].toFixed(2);
		}

		$('td[name="'+column+'_column_dcr"]').html(dcr);

		if( data['caprate'] == 0 ){
			caprate = 'N/A'
		}else{
			caprate = data['caprate'].toFixed(2);
		}
		
		$('td[name="'+column+'_column_caprate"]').html( caprate );

		if( data['cash_on_cash_return'] == 0){
			cash_on_cash_return = 'N/A';
		}else{
			cash_on_cash_return = data['cash_on_cash_return'].toFixed(2)
		}
		
		$('td[name="'+column+'_column_cashoncashreturn"]').html( cash_on_cash_return );

		$('td[name="'+column+'_column_purchaseprice"]').html( '$'+numberWithCommas( data['purchaseprice']));
		$('td[name="'+column+'_column_firstmortgage"]').html( '<font color="red">$-'+numberWithCommas( data['loan_amount1'])+'</font>');
		$('td[name="'+column+'_column_secondmortgage"]').html('<font color="red">$-'+numberWithCommas(data['loan_amount2'])+'</font>' );
		$('td[name="'+column+'_column_downpayment"]').html( '$'+numberWithCommas(data['downpayment']) );

		$('td[name="'+column+'_column_buyingcost"]').html( '$'+numberWithCommas( data['buyingcost']) );
		$('td[name="'+column+'_column_initimprove"]').html( '$'+numberWithCommas( data['initimprove']) );
		$('td[name="'+column+'_column_initcashinvested"]').html( '$'+numberWithCommas( data['initinvested']) );
		$('td[name="'+column+'_column_costpersquarefoot"]').html( '$'+data['costpersquarefoot'].toFixed(2) );

		$('td[name="'+column+'_column_grossrent"]').html( '$'+numberWithCommas( data['grossrent'] ) );
		$('td[name="'+column+'_column_vacancyloss"]').html( '<font color="red">$-'+data['vacancyloss'].toFixed(2)+'</font>' );
		var income_items = data['income_table'];

		var total_otherincome = 0;

		var length = income_items.length;
		for( var i = 0; i < length; i++){
			total_otherincome += income_items[i]['monthly'];
		}
		$('td[name="'+column+'_column_otherincome"]').html( '$'+numberWithCommas( total_otherincome.toFixed(2) ) );

		$('td[name="'+column+'_column_operatingincome"]').html( '$'+numberWithCommas( data['operatingincome'].toFixed(2) ) );

		$('td[name="'+column+'_column_operatingexpenses"]').html( '<font color="red">$-'+numberWithCommas( data['operatingexpenses'].toFixed(2) )+'</font' );

		$('td[name="'+column+'_column_netoperatingincome"]').html( '$'+numberWithCommas( data['netoperatingincome'].toFixed(2) ) );

		$('td[name="'+column+'_column_mortgagepayment"]').html( '<font color="red">$-'+numberWithCommas( data['mortgagepayment'].toFixed(2) )+'</font' );

		$('td[name="'+column+'_column_cashflow"]').html( '$'+numberWithCommas( data['cashflow'].toFixed(2) ) );

	}

	$.getJSON('/member/getsessionajax',{salt:'<?=$fingerprint?>'}, function(data) {

		if( data['tab'] == 'compare_tab'){

			var first_column_property_id = data['first_column_property_id'];
			var second_column_property_id= data['second_column_property_id'];
			var third_column_property_id= data['third_column_property_id'];
			var fourth_column_property_id= data['fourth_column_property_id'];

			updatecompareinfo();

			var data = {
					property_id : first_column_property_id,
					column      : 'first'
			   };

			$.ajax({
				type:"POST",
				url:"/property/getpropertycomparecolumnajax",
				async:false,
				data:data,
				success:function(result){
					update_compare_column('first',result)
				}
			});

			var data = {
					property_id : second_column_property_id,
					column      : 'second'
			   };

			$.ajax({
				type:"POST",
				url:"/property/getpropertycomparecolumnajax",
				async:false,
				data:data,
				success:function(result){
					update_compare_column('second',result)
				}
			});

			var data = {
					property_id : third_column_property_id,
					column      : 'third'
			   };

			$.ajax({
				type:"POST",
				url:"/property/getpropertycomparecolumnajax",
				async:false,
				data:data,
				success:function(result){
					update_compare_column('third',result)
				}
			});

			var data = {
					property_id : fourth_column_property_id,
					column      : 'fourth'
			   };

			$.ajax({
				type:"POST",
				url:"/property/getpropertycomparecolumnajax",
				async:false,
				data:data,
				success:function(result){
					update_compare_column('fourth',result)
				}
			});

		}
	});

	//+ update info for report tab when click property
	$(document).on('click','div#property',function(){
		$.getJSON('/member/getsessionajax',{salt:'<?=$fingerprint?>'}, function(data) {

			if(data['tab'] == 'compare_tab'){

				updatecompareinfo();

			}

		});
	});
	//- end update info for report tab



	$(document).on('click','li[name="first_column_property_choice"]',function(){
		var property_id = $(this).find('a').attr('property_id');

		var data = {
						property_id : property_id,
						column      : 'first'
				   };

		$.ajax({
			type:"POST",
			url:"/property/getpropertycomparecolumnajax",
			async:false,
			data:data,
			success:function(result){
				update_compare_column('first',result)
			}
		});


	});

	$(document).on('click','li[name="second_column_property_choice"]',function(){
		var property_id = $(this).find('a').attr('property_id');

		var data = {
						property_id : property_id,
						column      : 'second'
		   		   };

		$.ajax({
			type:"POST",
			url:"/property/getpropertycomparecolumnajax",
			async:false,
			data:data,
			success:function(result){
				update_compare_column('second',result)
			}
		});

	});

	$(document).on('click','li[name="third_column_property_choice"]',function(){
		var property_id = $(this).find('a').attr('property_id');

		var data = {
						property_id : property_id,
						column 		: 'third'
		   		   };

		$.ajax({
			type:"POST",
			url:"/property/getpropertycomparecolumnajax",
			async:false,
			data:data,
			success:function(result){
				update_compare_column('third',result)
			}
		});
	});

	$(document).on('click','li[name="fourth_column_property_choice"]',function(){
		var property_id = $(this).find('a').attr('property_id');

		var data = {
						property_id : property_id,
						column      : 'fourth'
		   		   };

		$.ajax({
			type:"POST",
			url:"/property/getpropertycomparecolumnajax",
			async:false,
			data:data,
			success:function(result){
				update_compare_column('fourth',result)
			}
		});
	});

	$('button[name="send_compare"]').bind('click',function(){

		var num_of_email_per_month;
		var used_num_of_email_per_month;
		
		$.ajax({
			type:"POST",
			url:"/member/getmembercurrenttokenajax",
			async:false,
			success:function(result){
				num_of_email_per_month 			= result['num_of_email_per_month'];
				used_num_of_email_per_month		= result['used_num_of_email_per_month'];
			}
		});

		if( used_num_of_email_per_month >= num_of_email_per_month ){
			alert('to send more emails, please upgrade to paid member');
		}else{
			
			$('tr[name="add_property_row"]').remove();// remove it to not show in pdf file
			
			var data =	{
							first_page 	    : 	$('div[name="first_page"]').html(),
							second_page     :   $('div[name="second_page"]').html(),

						};

			var sent_sucess = false;
			
			$.ajax({
				type:"POST",
				url:"/member/emailpropertypdfcompare",
				async:false,
				data:data,
				success:function(result){

					sent_sucess = true;
					
				}
			});

			if( sent_sucess ){
	            
				$.ajax({
					type:"POST",
					url:"/member/increasenumofemailajax",
					async:false,
					
					success:function(result){
		
		    			alert('Sent!');
		    			location.reload();
					}
				});
	        }else{
				alert('can not send email');
	        }
			
		}

		
		
	});

});

</script>






