
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script> 
<div class="container-fluid" style='width:740px;height:740px;overflow:scroll'>
	<div class="pull-right"><i class="fa fa-question-circle" style="font-size: 20px;" data-toggle="tooltip" data-placement="top" title="Need guide?" onclick="javascript:introJs().start();"></i></div>
	<div class="row-fluid">
		<div class="span2" style="text-align:center;padding-top:5px">
			Property Name
		</div>
		<div class="span3">
			<input type="text" class="input-small" style="width:100%" name="property_name_display_input" readonly>
		</div>
	</div>
	
	<!-- cover photo  -->

	<div name="cover_photo" class="row-fluid" style="border:1px solid;border-radius:5px;padding:5px">

		<div class="row-fluid">
			<a class="">
				<i name="address_icon" class="icon-minus-sign"></i>
        		Cover Photo
      		</a>
		</div>
		<div class="row-fluid">



			<form action="" name="cover_photo_form" method="post" enctype="multipart/form-data" class="navbar-form pull-left">
				<div class='span3' style="padding-left:10px">
					<input type="button" class="btn btn-primary" style="width:100%" name="add_cover_photo" value="Choose File" data-step="2" data-intro="Click here to choose photo."/></input>
					<input type="file" name="cover_photo" id="cover_photo"  accept=".jpeg,.jpg,.JPG,.gif,.png" style="visibility:hidden;">
					
				</div>
	
				<div class='span4'>
					<input type="text" class="span12" name="cover_photo_file_name" style='width:200px' value='' readonly></input>
				</div>
	
				<div class='span2'>
					<input type="submit" name="cover_photo" style='width:214px' class='btn btn-primary' value="Upload" data-step="3" data-intro="Click here to upload photo.">
				</div>
			</form>

		</div>
		
		
		
		<div class="row=fluid"> 
			<div style="margin-left:10px;width:647px;display:none;background-color:#993333" name="cover_photo_progress_bar">s
			</div>
		</div>
		<br>
		<div class="row-fluid">
			<div class="span12" style="text-align: center">
				<img border="0" name="cover_photo" src="/img/empty_home.jpg" style="width:690px;height:525px">

			</div>
		</div>

	</div>
	</br>
	<!-- full page photo -->

	<div name="full_page_photo" class="row-fluid" style="border:1px solid;border-radius:5px;padding:5px">

		<div class="row-fluid">
			<a class="">
				<i name="address_icon" class="icon-minus-sign"></i>
        		Full Page Photo
      		</a>
		</div>

	</div>
	<div class="row-fluid">
		<form action="" method="post" name="full_page_photo_form" enctype="multipart/form-data" class="navbar-form pull-left">

		<div class='span3' style="padding-left:10px">
			<input type="button" class="btn btn-primary" style="width:100%" value="Add Full Page Photo" name="add_full_page_photo"  data-step="4" data-intro="Click here to add full page photo."/></input>
			<input type="file" name="full_page_photo" id="fullpage_photo"  accept=".jpeg,.jpg,.JPG,.gif,.png" style="visibility:hidden;">
		</div>
		<div class='span4'>
			<input type="text" class="span12" name="full_page_photo_filename" style='width:200px' value='' readonly></input>
		</div>

		<div class='span2'>
			<input type="submit" name="full_page_photo" style='width:214px' class='btn btn-primary' value="Upload" data-step="5" data-intro="Click here to upload full page photo.">
		</div>

		</form>
	</div>
</div>

<script type="text/javascript">



$(function(){



	$('form[name="cover_photo_form"]').submit(function(){
		alert("Plase don't refresh this page, the page will refresh itself when uploading is done. click 'OK' to continue");
	});
	

	$('input[name="add_cover_photo"]').click(function(){
	
		$('input#cover_photo').trigger("click");
		
	});


	$('form[name="full_page_photo_form"]').submit(function(){
		alert("Plase don't refresh this page, the page will refresh itself when uploading is done. click 'OK' to continue");
	});


	
	$('input[name="add_full_page_photo"]').click(function(){

		$('input#fullpage_photo').trigger("click");
		
	});
    
	/////////////////////////////////
	function updatephoto()
	{

		$.getJSON('/property/getpropertyphotoajax', function(property_photo){

			$('input[name="property_name_display_input"]').val(property_photo['property_name']);
			

			if( property_photo['cover_photo'] == null ){ // to put default photo in case it has not been uploaded yet
				$('img[name="cover_photo"]').attr('src','/img/empty_home.jpg');
				
			}else{
				
				$('img[name="cover_photo"]').attr('src',property_photo['cover_photo']);
			}
			
			$('input[name="property_id"]').val(property_photo['property_id']);

			fullpage_photos = property_photo['fullpage_photos'];


			$output='';

			for(var i = 0; i < fullpage_photos.length; i++){

				$output+= '<div class="row-fluid" name="fullpage_photo_display" fullpage_photo_id="'+fullpage_photos[i]['fullpage_photo_id']+'">';
				$output+= '		<div class="row-fluid span12;" style="text-align:right">';
				$output+= '				<button name="delete_fullpage_photo" fullpage_photo_id="'+fullpage_photos[i]['fullpage_photo_id']+'" class="btn btn-large btn-danger" type="button" style="width:20%;height:100%">Delete Photo</button>';
				$output+= '		</div>';
				$output+= '		<div class="span12" style="text-align:left">';
				$output+= ' 			<img border="0" src="'+fullpage_photos[i]['fullpage_photo_path']+'"  style="width:690px;height:525px">';
				$output+= '		</div>';
				$output+= '</div><br>';


			}

			$('div[name="fullpage_photo_display"]').remove();
			$('div[name="full_page_photo"]').append($output);




		});


	}




	
	$.getJSON('/member/getsessionajax',{salt:'<?=$fingerprint?>'}, function(data) {
		
		if( data['tab'] == 'photo_tab'){
			
			updatephoto();

		}
	});

	// update info for report tab when click property
	$(document).on('click','div#property',function(){
		$.getJSON('/member/getsessionajax',{salt:'<?=$fingerprint?>'}, function(data) {
			
			if(data['tab'] == 'photo_tab'){
				
				updatephoto();

			}

		});

	});
	//- end update info for report tab



	 $("input[name='cover_photo']").change(function(){
		  var file_path = $(this).val();

		  var n=file_path.search("fakepath");

		  var file_name = file_path.substring(n+9)
		  $('input[name="cover_photo_file_name"]').val(file_name);

	  });

	 $("input[name='full_page_photo']").change(function(){
		  var file_path = $(this).val();

		  var n=file_path.search("fakepath");

		  var file_name = file_path.substring(n+9)
		  $('input[name="full_page_photo_filename"]').val(file_name);

	  });

	 $(document).on('click',"button[name='delete_fullpage_photo']",function(){

		var fullpage_photo_id = $(this).attr('fullpage_photo_id');
		$.ajax({
				type:"POST",
				url:"/property/delettingfullpagephotoajax",
				async:false,
				data:{fullpage_photo_id:fullpage_photo_id},
				success:function(result){
					$('div[fullpage_photo_id="'+fullpage_photo_id+'"]').remove();
				}
		});

	 });


});
</script>







