
<div class="container-fluid" style='width:740px;' name="main_panel">
	<div class="pull-right"><i class="fa fa-question-circle" style="font-size: 20px;" data-toggle="tooltip" data-placement="top" title="Need guide?" onclick="javascript:introJs().start();"></i></div>
	<!-- address -->
	<div class="row-fluid">
		<div class="span2" style="text-align:center;padding-top:5px">
			Property Name
		</div>
		<div class="span3">
			<input type="text" class="input-small" style="width:100%" name="property_name_display_input" readonly>
		</div>
	</div>
	<div name="address_row" class="row-fluid" style="border:1px solid;border-radius:5px;padding:5px">

		<div class="row-fluid">
			<a class="">
				<i name="address_icon" class="icon-minus-sign"></i>
        		Address
      		</a>
		</div>

		<div class="row-fluid">
		
				<div class="span12">
				
					<div class="row-fluid"  style="background-color:#eeeeff">
						<div class="span6">Street</div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Street" name="property_street" data-step="2" data-intro="Fill out street address."></div>
					</div>
					
					<div class="row-fluid">
						<div class="span6">City</div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right"  placeholder="City"   name="property_city" data-step="3" data-intro="Fill out city."></div>
					</div>
					
					<div class="row-fluid"  style="background-color:#eeeeff">
						<div class="span6">State</div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="State"  name="property_state" data-step="4" data-intro="Fill out state."></div>
					</div>
					
					<div class="row-fluid">
						<div class="span6">Zip</div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Zip"    name="property_zip" data-step="5" data-intro="Fill out zipcode."></div>
					</div>
					
					<div class="row-fluid"  style="background-color:#eeeeff">
						<div class="span6">Country</div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right"  placeholder="Country"name="property_country" data-step="6" data-intro="Fill out country."></div>
					</div>
					
					<div class="row-fluid">
						<button name="property_map" class="btn btn-large btn-primary" type="button" style="width:100%;height:40px">Click here to view map</button>
					</div>
					
				</div>			
		</div>

	</div>
	</br>
	<!-- basic info -->

	<div name="basic_info_row" class="row-fluid"  style="border:1px solid;border-radius:5px;padding:5px">

		<div class="row-fluid">
			<a class="" href="#basic_info">
				<i name="basic_info_icon" class="icon-minus-sign"></i>
        		Basic info
      		</a>
		</div>


		<div class="row-fluid" id="basic_info">

				<div class="span12" style="">
				
					<div class="row-fluid"  style="background-color:#eeeeff">
						<div class="span6"><a type="tooltip" tooltip_name="mls">MLS#</a></div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="MLS#" name="property_mls_display_input" data-step="7" data-intro="Fill out MLS number. Normally, MLS is the ID that realtor uses in the real estate system."></div>
					</div>
					
					<div class="row-fluid">
						<div class="span6"><a>Style</a></div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Style" name="property_style_display_input" data-step="8" data-intro="Fill out style of the property. Ex. Single Family, Multi Family, Townhome, Conde, Apartment, etc."></div>
					</div>
					
					<div class="row-fluid" style="background-color:#eeeeff">
						<div class="span6"><a type="tooltip" tooltip_name="mls">Square Feet</a></div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Square feet" name="property_squarefeet_display_input" data-step="9" data-intro="Fill out square feet of the property."></div>
					</div>
					
					<div class="row-fluid">
						<div class="span6"><a type="tooltip" tooltip_name="lot_size">Lot Size</a></div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Lot size" name="property_lotsize_display_input" data-step="10" data-intro="Fill out lot size."></div>
					</div>
					
					<div class="row-fluid" style="background-color:#eeeeff">
						<div class="span6"><a type="tooltip" tooltip_name="year_built">Year Built</a></div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Year built" name="property_yearbuilt_display_input" data-step="11" data-intro="Fill out year of the property was built."></div>
					</div>
					
					<div class="row-fluid">
						<div class="span6"><a type="tooltip" tooltip_name="last_remodel">Last Remodel</a></div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Last remodel" name="property_lastremodel_display_input" data-step="12" data-intro="Fill out year of the property was remodeled."></div>
					</div>
					
					<div class="row-fluid" style="background-color:#eeeeff">
						<div class="span6"><a type="tooltip" tooltip_name="parking">Parking</a></div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Parking" name="property_parking_display_input" data-step="13" data-intro="Fill out number of cars that can be parked in the property."></div>
					</div>
					<!-- 
					<div class="row-fluid">
						<div class="span6">HOA</div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="HOA" name="property_hoa_display_input" readonly></div>
					</div>
					 -->
					<div class="row-fluid">
					&nbsp;
					</div>
				</div>

		</div>

	</div>
	</br>
	<!-- purchasing info -->

	<div name="purchase_info_row" class="row-fluid"  style="border:1px solid;border-radius:5px;padding:5px">

		<div class="row-fluid">
			<a class="" href="#purchase_info">
				<i name="purchase_info_icon" class="icon-minus-sign"></i>
        		Purchase info
      		</a>
		</div>
		<div class="row-fluid" id="purchase_info">

				<div class="span12" style="">
				
					<div class="row-fluid" style="background-color:#eeeeff">
						<div class="span6"><a type="tooltip" tooltip_name="market_price">Market Price</a></div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Listing Price" name="property_listingprice_display_input" data-step="14" data-intro="Fill out market price of the property. This normally the price that the property was listed on the market."></div>
					</div>
					
					<div class="row-fluid" >
						<div class="span6"><a type="tooltip" tooltip_name="purchase_price">Purchase Price</a></div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Purchase Price" name="property_purchaseprice_display_input" data-step="15" data-intro="Fill out purchase price. The purchase price can be higher or lower the market price depending on the trend of the property."></div>
					</div>
					
					<div class="row-fluid" style="background-color:#eeeeff">
						<div class="span6"><a type="tooltip" tooltip_name="first_mortgage">1'st Mortgage</a></div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="1'st Mortgage" name="property_firstmortgage_display_input" readonly data-step="16" data-intro="Select 1st mortgage loan. Additional information can be found in the popup after clicking this input."></div>
					</div>
					
					<div class="row-fluid">
						<div class="span6"><a type="tooltip" tooltip_name="second_mortgage">2'nd Mortgage</a></div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="2'nd Mortgage" name="property_secondmortgage_display_input" readonly data-step="17" data-intro="Select 2nd mortgage loan if applicable."></div>
					</div>
					
					<div class="row-fluid" style="background-color:#eeeeff">
						<div class="span6"><a type="tooltip" tooltip_name="down_payment">Down Payment</a></div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Down Payment" name="property_downpayment_display_input" readonly data-step="18" data-intro="Down payment will be calculated when you selected the 1st and/or 2nd mortgage loan."></div>
					</div>
					
					<div class="row-fluid">
						<div class="span6"><a type="tooltip" tooltip_name="buying_costs">Buying Costs</a></div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Buying Costs" name="property_buyingcost_display_input" readonly data-step="19" data-intro="Add buying costs. Additional information can be found in the popup after clicking this input."></div>
					</div>
					
					<div class="row-fluid"  style="background-color:#eeeeff">
						<div class="span6"><a type="tooltip" tooltip_name="init_improvments">Init Improvments</a></div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Initial Improvments" name="property_initimprove_display_input" readonly data-step="20" data-intro="Fill out initial improvment. This cost may be occured when you buy the house that sold as is or you need to improve some areas before moving in."></div>
					</div>
					
					<div class="row-fluid">
						<div class="span6"><a type="tooltip" tooltip_name="initial_costs">Initial Cost</a></div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Initial Cost" name="property_initcost_display_input" readonly data-step="21" data-intro="Initial cost is the total of all buying expense and initial improvement expense."></div>
					</div>					
					
					
					
					<div class="row-fluid"  style="background-color:#eeeeff">
						<div class="span6"><a type="tooltip" tooltip_name="init_cash_invested">Init cash invested</a></div>
						<div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Init cash invested" name="init_cash_invested" readonly data-step="22" data-intro="The total of dowm payment plus initial cost."></div>
					</div>
					
				</div>
		</div>
	</div>
	</br>
	<!-- income info -->

	<div name="income_info_row" class="row-fluid" style="border:1px solid;border-radius:5px;padding:5px">

		<div class="row-fluid">
			<a class="" href="#income_info">
				<i name="income_info_icon" class="icon-minus-sign"></i>
        		Gross Rent info
      		</a>
		</div>
		<div class="row-fluid" id="income_info">
			<div class="span12" style="">
					<div class="row-fluid">


						<div class="span6" style="height:150px;border:1px solid;border-radius:5px;padding:5px" data-step="23" data-intro="Select single value when you would like to specific value. Mostly select this option when you have a room for rent. If you have more than one unit for rent, you may want to select sum of unit option.">
							<div class="row-fluid" >
								<input type="radio" name="rent_mode" value="28" style="margin-bottom: 4px"> <a type="tooltip" tooltip_name="single_value">Single Value</a>
							</div>
							<br>
							<div class="row-fluid" name="singlevalue1" style="background-color:#eeeeff">
								<div class="span5" style="padding-top:5px">Fixed amount:</div>
								<div class="span6">
									<input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Fixed amount" name="property_singlevalue_display_input">
								</div>

							</div>
							<div class="row-fluid" name="singlevalue2">
								<div class="span4">Frequency:</div>
								<div class="span8">
									<input type="radio" name="single_value_frequency" value="30" style="margin-bottom: 4px"> Bi-weekly
									<input type="radio" name="single_value_frequency" value="31" style="margin-bottom: 4px"> Monthly
									<input type="radio" name="single_value_frequency" value="32" style="margin-bottom: 4px"> Yearly
								</div>
								<!--
								<div class="row-fluid">
									<div class="span5" style="padding-top:5px">Other incomes:</div>
									<div class="span6">
										<input type="text" class="input-small" style="width:80%;" placeholder="Other incomes" name="property_otherincome_display_input" readonly>
									</div>
								</div>
								-->
							</div>

						</div>
						<div class="span6" style="height:150px;border:1px solid;border-radius:5px;padding:5px" data-step="24" data-intro="If you have more than one unit for rent, you may want to select sum of unit option. The number here will be calculated under unit menu.">
							<div class="row_fluid">
								<input type="radio" name="rent_mode" value="29"  style="margin-bottom: 4px"> <a type="tooltip" tooltip_name="sum_of_units">Sum of Units</a>
							</div>
							<br>
							<div class="row-fluid" name="sumofunits" style="background-color:#eeeeff">
								<div class="span5">Per Month</div>
								<div class="span6"><input type="text" class="input-small" style="width:90%;text-align:right" placeholder="Sum of Units" name="property_sumofunitsmonth_display_input" readonly></div>
							</div>
							
							
							<div class="row_fluid" name="sumofunits">
								<div class="span5">Per Year</div>
								<div class="span6"><input type="text" class="input-small" style="width:90%;text-align:right" placeholder="Sum of Units" name="property_sumofunitsyear_display_input" readonly></div>
							</div>
							
							
							
						</div>
						
						
						
					</div>
					
					<div class="row-fluid"  style="background-color:#eeeeff">
									<div class="span6"><a type="tooltip" tooltip_name="vacancy_rate">Vacancy Rate:</a></div>
									<div class="span5"><input type="text" class="input-small" style="width:90%;text-align:right" placeholder="Vacancy Rate" name="property_vacancyrate_display_input" readonly data-step="25" data-intro="Fill in vacancy rate.">%</div>
					</div>
								
					<div class="row-fluid">
								    <div class="span6"><a type="tooltip" tooltip_name="other_income">Other Income:</a></div> 
								    <div class="span5"><input type="text" class="input-small" style="width:100%;text-align:right" placeholder="Other incomes" name="property_otherincome_display_input" readonly data-step="26" data-intro="Fill in vacancy rate. Additional information can be found in the popup after clicking this input."></div>
					</div>
					
			</div>
		</div>
	</div>
	</br>
	<!-- expenses info -->

	<div name="expenses_info_row" class="row-fluid" style="border:1px solid;border-radius:5px;padding:5px">

		<div class="row-fluid">
			<a class="" href="#expenses_info">
				<i name="expenses_info_icon" class="icon-minus-sign"></i>
        		Recurring Expenses info
      		</a>
		</div>
		<div class="row-fluid" id="income_info">
			<div class="span12" style="">
				<div class="row-fluid">
					<div class="span3">
					<button class="btn btn-primary" name="property_otherexpense_display_input" style="width:100%" data-step="27" data-intro="Fill in expense. Additional information can be found in the popup after clicking this input.">Add Expenses</button>
					</div>
				</div>
				<div class="row-fluid">
					<table class=" table-hover table-striped table-bordered" style="width:100%;height:50px;overflow-y:auto;">

					<tbody style=" height:50px;  overflow:scroll;" name="expense_items">


					</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>
	</br>
	<!-- projection info -->

	<div name="projection_info_row" class="row-fluid" style="border:1px solid;border-radius:5px;padding:5px">
		<div class="row-fluid">
			<a class="" href="#projection_info">
				<i name="projection_info_icon" class="icon-minus-sign"></i>
        		Projection info
      		</a>
		</div>
		<div class="row-fluid" id="income_info">
			<div class="span12" style="">
				
				<div class="row-fluid"  style="background-color:#eeeeff">
					<div class="span6"><a type="tooltip" tooltip_name="appreciation_rate">Appreciation Rate</a></div>
					<div class="span5"><input type="text" class="input-small" style="width:90%;text-align:right" placeholder="Appreciation Rate" name="property_appreciationrate_display_input" readonly data-step="28" data-intro="Appreciation rate is the amount that you think the amount of the property will increase.">%</div>
				</div>
					
				<div class="row-fluid">
					<div class="span6"><a type="tooltip" tooltip_name="income_inflation_rate">Income Inflation Rate</a></div>
					<div class="span5"><input type="text" class="input-small" style="width:90%;text-align:right" placeholder="Income Inflation Rate" name="property_incomeinflationrate_display_input" readonly data-step="29" data-intro="Fill in the income inflation rate.">%</div>
				</div>
				
				<div class="row-fluid"  style="background-color:#eeeeff">
					<div class="span6"><a type="tooltip" tooltip_name="expense_inflation_rate">Expense Inflation Rate</a></div>
					<div class="span5"><input type="text" class="input-small" style="width:90%;text-align:right" placeholder="Expense Inflation Rate" name="property_expenseinflationrate_display_input" readonly data-step="30" data-intro="Fill in the expense inflation rate.">%</div>
				</div>
				
				<div class="row-fluid">
					<div class="span6"><a type="tooltip" tooltip_name="selling_costs">Selling Costs</a></div>
					<div class="span5"><input type="text" class="input-small" style="width:90%;text-align:right" placeholder="Selling Costs" name="property_sellingcost_display_input" readonly data-step="31" data-intro="Fill in the Selling expense."></div>
				</div>
				
				<div class="row-fluid"  style="background-color:#eeeeff">
					<div class="span6"><a type="tooltip" tooltip_name="ltv_for_refinance">LTV for Refinance</a></div>
					<div class="span5"><input type="text" class="input-small" style="width:90%;text-align:right" placeholder="LTV for Refinance" name="property_lvtforrefinance_display_input" readonly data-step="32" data-intro="Fill in the LTV ratio.">%</div>
				</div>
				
				<div class="row-fluid">
					<div class="span6"><a type="tooltip" tooltip_name="compounding_period">Compounding Period</a></div>
					<div class="span5" data-step="33" data-intro="Select compounding period.">
						<input type="radio" name="compounding_period" value="30" style="margin-bottom: 4px"> Bi-weekly
						<input type="radio" name="compounding_period" value="31" style="margin-bottom: 4px"> Monthly
						<input type="radio" name="compounding_period" value="32" style="margin-bottom: 4px"> Yearly
					</div>
				</div>
				
			</div>
		</div>

	</div>


	<!-- popover for all input -->


	<div name="property_mls_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_mls_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_mls_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_mls_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>

	<div name="property_style_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_style_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_style_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_style_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>

	<div name="property_squarefeet_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_squarefeet_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_squarefeet_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_squarefeet_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>

	<div name="property_lotsize_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_lotsize_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_lotsize_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_lotsize_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>

	<div name="property_yearbuilt_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_yearbuilt_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_yearbuilt_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_yearbuilt_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>

	<div name="property_lastremodel_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_lastremodel_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_lastremodel_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_lastremodel_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>

	<div name="property_parking_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_parking_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_parking_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_parking_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>

	<div name="property_hoa_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_hoa_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_hoa_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_hoa_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>

	<div name="property_listingprice_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_listingprice_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_listingprice_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_listingprice_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>

	<div name="property_initimprove_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_initimprove_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_initimprove_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_initimprove_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>

	<div name="property_purchaseprice_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_purchaseprice_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_purchaseprice_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_purchaseprice_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>

	<div name="property_vacancyrate_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_vacancyrate_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_vacancyrate_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_vacancyrate_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>

	<div name="property_singlevalue_popover" style="display: none;">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" class="input-small" style="width:90%" name="property_singlevalue_input">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_singlevalue_cancel" class="btn btn-primary" type="button">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_singlevalue_save" class="btn btn-primary" type="button">Save</button>
			</div>
		</div>

	</div>




	<!-- popover for all input -->

</div>

<script type="text/javascript">




$(function(){
	
		
	
	function updatepropertyinfo()
	{
		
		
		if( <?php echo count($properties)?> > 0){
		$.getJSON('/property/getpropertytabajax', function(property){
			
			$('input[name="property_name_display_input"]').val(property['property_name']);

			$('input[name="property_street"]').val(property['address']['street']);
			$('input[name="property_city"]').val(property['address']['city']);
			$('input[name="property_state"]').val(property['address']['state']);
			$('input[name="property_zip"]').val(property['address']['zip']);
			$('input[name="property_country"]').val(property['address']['country']);
			
			$('input[name="property_mls_display_input"]').val(property['basic_info']['mls']);
			$('input[name="property_style_display_input"]').val(property['basic_info']['style']);
			$('input[name="property_squarefeet_display_input"]').val( numberWithCommas( property['basic_info']['squarefeet']) );
			$('input[name="property_lotsize_display_input"]').val( numberWithCommas( property['basic_info']['lotsize']) );
			$('input[name="property_yearbuilt_display_input"]').val(property['basic_info']['yearbuilt']);
			$('input[name="property_lastremodel_display_input"]').val(property['basic_info']['lastremodel']);
			$('input[name="property_parking_display_input"]').val(property['basic_info']['parking']);
			$('input[name="property_hoa_display_input"]').val('$'+property['basic_info']['hoa']);
			
			$('input[name="property_listingprice_display_input"]').val('$'+numberWithCommas( property['purchase_info']['listingprice']) );
			$('input[name="property_buyingcost_display_input"]').val('$'+numberWithCommas( property['purchase_info']['buyingcost']) );
			$('input[name="property_initimprove_display_input"]').val('$'+numberWithCommas( property['purchase_info']['init_improve']) );
			$('input[name="property_initcost_display_input"]').val('$'+numberWithCommas( property['purchase_info']['init_costs']) );
			$('input[name="property_purchaseprice_display_input"]').val('$'+numberWithCommas( property['purchase_info']['purchase_price']) );
			$('input[name="property_firstmortgage_display_input"]').val('$'+numberWithCommas( property['purchase_info']['firstmortgage']) );
			$('input[name="property_secondmortgage_display_input"]').val('$'+numberWithCommas( property['purchase_info']['secondmortgage']) );
			$('input[name="property_downpayment_display_input"]').val('$'+numberWithCommas( property['purchase_info']['down_payment']) );
			$('input[name="init_cash_invested"]').val('$'+numberWithCommas( property['purchase_info']['init_cash_invested']) );
			
			$('input[name="property_vacancyrate_display_input"]').val(property['gross_rent_info']['vacancy_rate']);
			$('input[name="property_singlevalue_display_input"]').val('$'+numberWithCommas( property['gross_rent_info']['singlevalue_rent']) );
			$('input[name="property_sumofunitsmonth_display_input"]').val('$'+numberWithCommas( property['gross_rent_info']['sum_of_units_permonth'].toFixed(2)) );
			$('input[name="property_sumofunitsyear_display_input"]').val('$'+ numberWithCommas((property['gross_rent_info']['sum_of_units_permonth']*12).toFixed(2)) );


			$('input[name="rent_mode"][value="'+property['gross_rent_info']['rent_mode']+'"]').attr('checked','checked');
			
			if( property['gross_rent_info']['rent_mode'] == '28'){// 28 is key from item table
				$('div[name="singlevalue1"]').css('display','block');
				$('div[name="singlevalue2"]').css('display','block');
				$('div[name="sumofunits"]').css('display','none');
			}else if( property['gross_rent_info']['rent_mode'] == '29'){ // 29 is key from item table
				$('div[name="singlevalue1"]').css('display','none');
				$('div[name="singlevalue2"]').css('display','none');
				$('div[name="sumofunits"]').css('display','block');
			}

			$('input[name="single_value_frequency"][value="'+property['gross_rent_info']['singlevalue_rent_frequency']+'"]').attr('checked','checked');

			$('input[name="property_otherincome_display_input"]').val('$'+numberWithCommas( property['gross_rent_info']['otherincome']) );



			var expense = property['expense_info']['expense_table'];
			var expense_item_row='';
			var total_row='';
			var total_expense=0;
			$.each( expense, function( key, value ) {
				  //alert( key1 + ": " + value1 );
				  expense_item_row+="<tr>";
				  expense_item_row+="<td style='width:40%'>"+value['expense_name']+"</td>";

				  if( value['frequency'] == 30 ){
					  frequency = 'Bi-weekly';
					  multipier = 26;
				  }else if( value['frequency'] == 31 ){
					  frequency = 'Monthly';
					  multipier = 12;
				  }else if( value['frequency'] == 32 ){
					  frequency = 'Yearly';
					  multipier = 1;
				  }
				  expense_item_row+="<td style='text-align:center;width:20%'>"+frequency+"</td>";
				  expense_item_row+="<td style='text-align:right;width:20%'>$"+numberWithCommas(value['amount'])+"</td>";
				  expense_item_row+="<td style='width:20%'><button name='expense_item_delete' class='btn btn-danger btn-mini' type='button' style='width:100%;height:100%' property_expense_id="+value['property_expense_id']+">Delete</button></td>";
				  expense_item_row+="</tr>";
				  total_expense+=parseInt(value['amount'])*multipier;

			});
			  $('tbody[name="expense_items"]').html(expense_item_row);
			total_row = "<tr>";
			total_row+= "<td>Total</td>";
			total_row+= "<td style='text-align:center;width:20%'>Yearly</td>";
			total_row+= "<td style='text-align:right'>$"+numberWithCommas(total_expense)+"</td>";
			total_row+= "<td></td>";
			total_row+= "</tr>";
			$('tbody[name="expense_items"]').append(total_row);

			$('input[name="property_appreciationrate_display_input"]').val(property['projection_info']['appreciation_rate']);
			$('input[name="property_incomeinflationrate_display_input"]').val(property['projection_info']['incomeinflation_rate']);
			$('input[name="property_expenseinflationrate_display_input"]').val(property['projection_info']['expenseinflation_rate']);
			$('input[name="property_sellingcost_display_input"]').val(property['projection_info']['sellingcost']);
			$('input[name="property_lvtforrefinance_display_input"]').val(property['projection_info']['lvtforrefinance']);
			$('input[name="compounding_period"][value="'+property['projection_info']['compounding_period']+'"]').attr('checked','checked');
			
		});

		}
	}


	$.getJSON('/member/getsessionajax',{salt:'<?=$fingerprint?>'}, function(data) {
		if( data['tab'] == 'property_tab'){
			updatepropertyinfo();

		}
	});

	//+ update info for property tab when click property
	$(document).on('click','div#property',function(){
		$.getJSON('/member/getsessionajax',{salt:'<?=$fingerprint?>'}, function(data) {

			if(data['tab'] == 'property_tab'){
				updatepropertyinfo();

			}

		});

	});

	//- end update info for property tab




	$('input[name="property_street"]').bind('keyup',function(){
		var street = $(this).val();
		$.ajax({
			type:"POST",
			url:"/property/updatestreetajax",
			data:{street:street},
			success:function(result){

			}
		});
	});


	$('input[name="property_city"]').bind('keyup',function(){
		var city = $(this).val();
		$.ajax({
			type:"POST",
			url:"/property/updatecityajax",
			data:{city:city},
			success:function(result){

			}
		});
	});

	$('input[name="property_state"]').bind('keyup',function(){
		var state = $(this).val();

		$.ajax({
			type:"POST",
			url:"/property/updatestateajax",
			data:{state:state},
			success:function(result){

			}
		});
	});

	$('input[name="property_zip"]').bind('keyup',function(){
		var zip = $(this).val();

		$.ajax({
			type:"POST",
			url:"/property/updatezipajax",
			data:{zip:zip},
			success:function(result){

			}
		});
	});

	$('input[name="property_country"]').bind('keyup',function(){
		var country = $(this).val();

		$.ajax({
			type:"POST",
			url:"/property/updatecountryajax",
			data:{country:country},
			success:function(result){

			}
		});
	});
	///

	//+	mls input
	$('input[name="property_mls_display_input"]').on('keyup', function(){
		var mls = $(this).val();
		delay(function(){
			$.ajax({
				type:"POST",
				url:"/property/updatemlsajax",
				async:false,
				data:{mls:mls},
				success:function(result){
					$('input[name="property_mls_display_input"]').val(mls);
				}
			});
		}, 1000);
	});
	//- mls input

	//+ style input
	$('input[name="property_style_display_input"]').on('keyup', function(){
		var style = $(this).val();
		delay(function(){
			$.ajax({
				type:"POST",
				url:"/property/updatestyleajax",
				async:false,
				data:{style:style},
				success:function(result){
					$('input[name="property_style_display_input"]').val(style);
				}
			});
		}, 1000);
	});
	//- style input

	//+ squarefeet input
	$('input[name="property_squarefeet_display_input"]').on('keyup', function(){
		var squarefeet = $(this).val();
		delay(function(){
			temp = squarefeet.replace(/\,/g, '');
			temp = temp.replace(/\ /g, '');
			if( $.isNumeric(temp) || (temp.length==0) ) { //valid input
				squarefeet = temp;
				$.ajax({
					type:"POST",
					url:"/property/updatesquarefeetajax",
					async:false,
					data:{squarefeet:squarefeet},
					success:function(result){
						debugger;
						$('input[name="property_squarefeet_display_input"]').val( numberWithCommas(squarefeet) );
					}
				});
			} else {
				$('div#alert_box p#property_name').html('The value "'+squarefeet+'" is invalid for square feet');
				$('div#alert_box').modal('show');
			}
		}, 1000);
	});
	//- squarefeet input

	//+ lotsize input
	$('input[name="property_lotsize_display_input"]').on('keyup', function(){
		var lotsize = $(this).val();
		delay(function(){
			temp = lotsize.replace(/\,/g, '');
			temp = temp.replace(/\ /g, '');
			if( $.isNumeric(temp) || (temp.length==0) ) { //valid input
				lotsize = temp;
				$.ajax({
					type:"POST",
					url:"/property/updatelotsizeajax",
					async:false,
					data:{lotsize:lotsize},
					success:function(result){
						$('input[name="property_lotsize_display_input"]').val( numberWithCommas( lotsize) );
					}
				});
			}else{
				$('div#alert_box p#property_name').html('The value "'+lotsize+'" is invalid for lot size');
				$('div#alert_box').modal('show');
			}
		}, 1000);
	});
	//- lotsize input

	//+ yearbuilt input
	$('input[name="property_yearbuilt_display_input"]').on('keyup', function(){
		var yearbuilt = $(this).val();
		delay(function(){
			temp = yearbuilt.replace(/\,/g, '');
			temp = temp.replace(/\ /g, '');
			if( ( $.isNumeric(temp) && (temp.length==4) ) || (temp.length==0) ) { //valid input
				yearbuilt = temp;
				$.ajax({
					type:"POST",
					url:"/property/updateyearbuiltajax",
					async:false,
					data:{yearbuilt:yearbuilt},
					success:function(result){
						$('input[name="property_yearbuilt_display_input"]').val(yearbuilt);
					}
				});
			}else{
				$('div#alert_box p#property_name').html('The value "'+yearbuilt+'" is invalid for year built');
				$('div#alert_box').modal('show');
			}
		}, 1000);
	});
	//- yearbuilt input

	//+ lastremodel input
	$('input[name="property_lastremodel_display_input"]').on('keyup', function(){
		var lastremodel = $(this).val();
		delay(function(){
			temp = lastremodel.replace(/\,/g, '');
			temp = temp.replace(/\ /g, '');
			if( ( $.isNumeric(temp) && (temp.length==4) ) || (temp.length==0) ) { //valid input
				lastremodel = temp;
				$.ajax({
					type:"POST",
					url:"/property/updatelastremodelajax",
					async:false,
					data:{lastremodel:lastremodel},
					success:function(result){
						$('input[name="property_lastremodel_display_input"]').val(lastremodel);
					}
				});
			}else{
				$('div#alert_box p#property_name').html('The value "'+lastremodel+'" is invalid for last remodel');
				$('div#alert_box').modal('show');
			}
		}, 1000);
	});
	//- lastremodel input

	//+ parking input
	$('input[name="property_parking_display_input"]').on('keyup', function(){
		var parking = $(this).val();
		delay(function(){
			temp = parking.replace(/\,/g, '');
			temp = temp.replace(/\ /g, '');
			if( $.isNumeric(temp) || (temp.length==0) ) { //valid input
				parking = temp;
				$.ajax({
					type:"POST",
					url:"/property/updateparkingajax",
					async:false,
					data:{parking:parking},
					success:function(result){
						$('input[name="property_parking_display_input"]').val(parking);
					}
				});
			}else{
				$('div#alert_box p#property_name').html('The value "'+parking+'" is invalid for parking');
				$('div#alert_box').modal('show');
			}
		}, 1000);
	});
	//- parking input

	//+ hoa input
	$('input[name="property_hoa_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'HOA',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_hoa_display_input"]').popover('hide');
	      var hoa = $(this).val();
	      hoa = hoa.substring(1);
	      $('input[name="property_hoa_input"]').attr('value',hoa);
		  return $('div[name="property_hoa_popover"]').html();
	    }
	});

	$(document).on('click','button[name="property_hoa_save"]',function(){
		var hoa = $('input[name="property_hoa_input"]').val();
		temp = hoa.replace(/\,/g, '');
		temp = temp.replace(/\ /g, '');
		if( $.isNumeric(temp) || (temp.length==0) ) { //valid input
			hoa = temp;
			$.ajax({
				type:"POST",
				url:"/property/updatehoaajax",
				async:false,
				data:{hoa:hoa},
				success:function(result){
					$('input[name="property_hoa_display_input"]').val('$'+hoa);
					$('input[name="property_hoa_display_input"]').popover('hide');
				}
			});
		}else{
			$('div#alert_box p#property_name').html('The value "'+hoa+'" is invalid for hoa');
			$('div#alert_box').modal('show');
		}
	});

	$(document).on('click','button[name="property_hoa_cancel"]',function(){
		$('input[name="property_hoa_display_input"]').popover('hide');
	});
	//- hoa input

	//+ listing input
	$('input[name="property_listingprice_display_input"]').on('keyup', function(){
		var listingprice = $(this).val();
		delay(function(){
			temp = listingprice.replace(/[\,\$]/g, '');
			temp = temp.replace(/\ /g, '');
			if( $.isNumeric(temp) || (temp.length==0) ) { //valid input
				listingprice = temp;
				$.ajax({
					type:"POST",
					url:"/property/updatelistingpriceajax",
					async:false,
					data:{listingprice:listingprice},
					success:function(result){
						$('input[name="property_listingprice_display_input"]').val('$'+ numberWithCommas( listingprice) );
					}
				});
			}else{
				$('div#alert_box p#property_name').html('The value "'+listingprice+'" is invalid for Listing Price');
				$('div#alert_box').modal('show');
			}
		}, 1000);
	});
	//- listing input

	// + buying cost
	$(document).on('click','button[name="close_buyingcost_item"]',function(){
		updatepropertyinfo();
	});

	$(document).on('click','button[name="add_buyingcost_item"]',function(){
		updatepropertyinfo();
	});

	// - buying cost

	//+ init improvement input
	$('input[name="property_initimprove_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Intial Improvement',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_initimprove_display_input"]').popover('hide');
	      var initimprove = $(this).val();
	      initimprove = initimprove.substring(1);
	      $('input[name="property_initimprove_input"]').attr('value',initimprove);
		  return $('div[name="property_initimprove_popover"]').html();
	    }
	});

	$(document).on('click','button[name="property_initimprove_save"]',function(){
		var initimprove = $('input[name="property_initimprove_input"]').val();
		temp = initimprove.replace(/\,/g, '');
		temp = temp.replace(/\ /g, '');
		if( $.isNumeric(temp) || (temp.length==0) ) { //valid input
			initimprove = temp;
			$.ajax({
				type:"POST",
				url:"/property/updateinitimproveajax",
				async:false,
				data:{initimprove:initimprove},
				success:function(result){
					$('input[name="property_initimprove_display_input"]').val('$'+numberWithCommas( initimprove) );
					updatepropertyinfo();
					$('input[name="property_initimprove_display_input"]').popover('hide');
				}
			});
		}else{
			$('div#alert_box p#property_name').html('The value "'+initimprove+'" is invalid for Initial Improvments');
			$('div#alert_box').modal('show');
		}
	});

	$(document).on('click','button[name="property_initimprove_cancel"]',function(){
		$('input[name="property_initimprove_display_input"]').popover('hide');
	});
	//- init improvement input

	//+ purchase price input
	$('input[name="property_purchaseprice_display_input"]').on('keyup', function(){
		var purchaseprice = $(this).val();
		delay(function(){
			temp = purchaseprice.replace(/[\,\$]/g, '');
			temp = temp.replace(/\ /g, '');
			if( $.isNumeric(temp) || (temp.length==0) ) { //valid input
				purchaseprice = temp;
				$.ajax({
					type:"POST",
					url:"/property/updatepurchasepriceajax",
					async:false,
					data:{purchaseprice:purchaseprice},
					success:function(result){
						$('input[name="property_purchaseprice_display_input"]').val('$'+numberWithCommas( purchaseprice) );
						updatepropertyinfo();
					}
				});
			}else{
				$('div#alert_box p#property_name').html('The value "'+purchaseprice+'" is invalid for Purchase price');
				$('div#alert_box').modal('show');
			}
		}, 1000);
	});
	//- purchase price input

	//+ buying cost input


	$('input[name="property_buyingcost_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Buying Costs',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_buyingcost_display_input"]').popover('hide');
		  var output;
	      $.ajax({
				type:"POST",
				url:"/propertybuyingcost/indexajax",
				async:false,
				success:function(result){

					output = result;
				}
			});

		  return output;

	    }
	});
	//- buying cost input

	//+ buying first mortgate input
	$('input[name="property_firstmortgage_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: "1'st Mortgage",
	    content: function() {
	      $('input[name$="_display_input"][name!="property_firstmortgage_display_input"]').popover('hide');
		  var output;
	      $.ajax({
				type:"POST",
				url:"/propertymortgagecost/firstmortgageajax",
				async:false,
				success:function(result){
					$('div[name="main_panel"]').scrollTop( 310 );
					output = result;
				}
			});
	
		  return output;

	    }
	});



	$(document).on('click','button[name="save_firstmortgage_item"]',function(){
		updatepropertyinfo();
	});

	//- buying first mortgage input

	//+ buying second mortgate input
	$('input[name="property_secondmortgage_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: "2'st Mortgage",
	    content: function() {
	      $('input[name$="_display_input"][name!="property_secondmortgage_display_input"]').popover('hide');
		  var output;
	      $.ajax({
				type:"POST",
				url:"/propertymortgagecost/secondmortgageajax",
				async:false,
				success:function(result){
					$('div[name="main_panel"]').scrollTop( 350 );
					output = result;
				}
			});

		  return output;

	    }
	});

	$(document).on('click','button[name="save_secondmortgage_item"]',function(){
		updatepropertyinfo();
	});
	//- buying second mortgage input

	//+ vacancy rate

	$('input[name="property_vacancyrate_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Vacancy Rate',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_vacancyrate_display_input"]').popover('hide');

	      var output;
	      $.ajax({
				type:"POST",
				url:"/slidebarinput/vacancyrate",
				async:false,
				success:function(result){
					output = result;
				}
			});
	      return output;
	    }
	});

	//- vacancy rate

	//+ rent mode

	$('input[name="rent_mode"]').bind('click',function(){
		//alert($(this).val());

		var rent_mode = $(this).val();

		if( rent_mode == '28'){
			$('div[name="singlevalue1"]').css('display','block');
			$('div[name="singlevalue2"]').css('display','block');
			$('div[name="sumofunits"]').css('display','none');
		}

		else if( rent_mode == '29'){
			$('div[name="singlevalue1"]').css('display','none');
			$('div[name="singlevalue2"]').css('display','none');
			$('div[name="sumofunits"]').css('display','block');
		}else{
			alert('error');
		}


		$.ajax({
			type:"POST",
			url:"/property/updaterentmodeajax",
			async:false,
			data:{rent_mode:rent_mode},
			success:function(result){

			}
		});

	});

	//- rent mode


	//+ sigle value rent
	$('input[name="property_singlevalue_display_input"]').on('keyup', function(){
		var fix_amount = $(this).val();
		delay(function(){
			temp = fix_amount.replace(/[\,\$]/g, '');
			temp = temp.replace(/\ /g, '');

			if( ( $.isNumeric(temp) || (temp.length==0) )  && (temp >= 0) ) { //valid input
				fix_amount = temp;

				$.ajax({
					type:"POST",
					url:"/property/updatefixamountajax",
					async:false,
					data:{fix_amount:fix_amount},
					success:function(result){
						$('input[name="property_singlevalue_display_input"]').val('$'+ numberWithCommas( fix_amount) );
					}
				});
			}else{
				$('div#alert_box p#property_name').html('The value "'+fix_amount+'" is invalid for Vacancy Rate');
				$('div#alert_box').modal('show');
			}
		}, 1000);
	});
	//- single value rent


	//+ single value frequency
	$('input[name="single_value_frequency"]').bind('click',function(){

		var singlevalue_freq = $(this).val();
		$.ajax({
			type:"POST",
			url:"/property/updatesinglevaluefreqajax",
			async:false,
			data:{singlevalue_freq:singlevalue_freq},
			success:function(result){

			}
		});
	});
	//- single value frequency

	
	//+ other income

	$('input[name="property_otherincome_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Other Incomes',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_otherincome_display_input"]').popover('hide');
	      var otherincome = $(this).val();
	      otherincome = otherincome.substring(1);
	      var output;
	      $.ajax({
				type:"POST",
				url:"/otherincome/indexajax",
				async:false,
				success:function(result){
					output = result;
				}
			});

		  return output;
	    }
	});
	//- other income


	//+ add other expense
	$('button[name="property_otherexpense_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Add Expenses',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_otherexpense_display_input"]').popover('hide');

	      $.ajax({
				type:"POST",
				url:"/otherexpense/indexajax",
				async:false,
				success:function(result){
					output = result;
				}
			});

		  return output;

	    }
	});
	//- add other expense

	//+ delete other expense
	$(document).on('click','button[name="expense_item_delete"]',function(){
		var property_expense_id = $(this).attr('property_expense_id');
		$.ajax({
			type:"POST",
			url:"/otherexpense/deleteotherexpenseitemajax",
			async:false,
			data:{property_expense_id:property_expense_id},
			success:function(result){
				updatepropertyinfo();
			}
		});
	});
	//- delete other expense

	//+ appreciation rate
	$('input[name="property_appreciationrate_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Appreciation Rate',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_appreciationrate_display_input"]').popover('hide');
	      var output;
	      $.ajax({
				type:"POST",
				url:"/slidebarinput/appreciationrate",
				async:false,
				success:function(result){
					output = result;
				}
			});
	      return output;

	    }
	});

	//- appreciation rate

	//+ income inflation rate

	$('input[name="property_incomeinflationrate_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Income Inflation Rate',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_incomeinflationrate_display_input"]').popover('hide');

	      var output;
	      $.ajax({
				type:"POST",
				url:"/slidebarinput/incomeinflationrate",
				async:false,
				success:function(result){
					output = result;
				}
			});
	      return output;
	    }
	});
	//- income inflation rate

	//+ expense inflation rate
	$('input[name="property_expenseinflationrate_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Expense Inflation Rate',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_expenseinflationrate_display_input"]').popover('hide');

	      var output;
	      $.ajax({
				type:"POST",
				url:"/slidebarinput/expenseinflationrate",
				async:false,
				success:function(result){
					output = result;
				}
			});
	      return output;
	    }
	});
	//- expense inflation rate

	//+ selling costs

	$('input[name="property_sellingcost_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'Selling Costs',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_sellingcost_display_input"]').popover('hide');

	      var output;
	      $.ajax({
				type:"POST",
				url:"/propertysellingcost/indexajax",
				async:false,
				success:function(result){
					output = result;
				}
			});
	      return output;
	    }
	});

	//- selling costs

	//+ lvt for refinance
	$('input[name="property_lvtforrefinance_display_input"]').popover({
	    html : true,
	    placement : 'top',
	    container: 'body',
	    title: 'LVT for Refinance',
	    content: function() {
	      $('input[name$="_display_input"][name!="property_lvtforrefinance_display_input"]').popover('hide');

	      var output;
	      $.ajax({
				type:"POST",
				url:"/slidebarinput/lvtforrefinance",
				async:false,
				success:function(result){
					output = result;
				}
			});
	      return output;
	    }
	});
	//- lvt for refinance

	//+ compounding period
	$('input[name="compounding_period"]').bind('click',function(){
		var compounding_period = $(this).val();

		$.ajax({
			type:"POST",
			url:"/property/updatecompoundingperiodajax",
			async:false,
			data:{compounding_period:compounding_period},
			success:function(result){

			}
		});

	});
	//- compounding period

	///

	$('button[name="property_map"]').bind('click',function(){

		var street =	$('input[name="property_street"]').val();
		var city   =	$('input[name="property_city"]').val();
		var state  =	$('input[name="property_state"]').val();
		var zip    = 	$('input[name="property_zip"]').val();
		var country=	$('input[name="property_country"]').val();

		window.open('https://maps.google.com/maps?q='+street+',+'+city+',+'+state+'+'+zip+'&t=m');


	});

	// Delay ajax call.
	var delay = (function(){
	  var timer = 0;
	  return function(callback, ms){
	    clearTimeout (timer);
	    timer = setTimeout(callback, ms);
	  };
	})();

  $('[data-toggle="tooltip"]').tooltip()
});

</script>



