
<div class="container-fluid" style='width:740px;height:740px;overflow:scroll'>
	<div class="pull-right"><i class="fa fa-question-circle" style="font-size: 20px;" data-toggle="tooltip" data-placement="top" title="Need guide?" onclick="javascript:introJs().start();"></i></div>
	<div class="row-fluid">
		<div class="span2" style="text-align:center;padding-top:5px">
			Property Name
		</div>
		<div class="span3">
			<input type="text" class="input-small" style="width:100%" name="property_name_display_input" readonly>
		</div>
		<div class="span2">
			<button class="btn btn-primary" name="property_addunit_form" style="width:100%" data-step="2" data-intro="Click here to add unit.">Add Unit</button>
		</div>
	</div>
	<div class="row-fluid">
		<table class="table-hover table-striped table-bordered" style="width:100%;height:50px;overflow-y:auto;">

			<thead>
			    <tr style='background-color:#50b5ee'>
				  <th>Edit</th>
			      <th>Type</th>
			      <th>Number of Units</th>
			      <th>Bedrooms</th>
			      <th>Bathrooms</th>
			      <th>Furnished</th>
			      <th>Square Feet</th>
			      <th>Rent/Month</th>

			    </tr>
  			</thead>
			<tbody style=" height:50px;  overflow:scroll;" name="units">

			</tbody>
			<tfoot>
    			<tr>
    			  	<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>

			    </tr>
			</tfoot>
		</table>
	</div>
</div>
<script type="text/javascript">
$(function(){


	function updateunitinfo()
	{

		$.getJSON('/unit/getunittabajax', function(unit){



			$('input[name="property_name_display_input"]').val(unit['property_name']);

			var units = unit['units'];


			$unit_row='';
			$.each( units, function( key, value ) {

				$unit_row+='<tr name="unit_row" value="'+value['unit_id']+'">';
				$unit_row+='<td style="text-align: center"><button name="property_editunit_form" class="btn btn-warning btn-mini" type="button" style="width:100%;height:100%" value="'+value['unit_id']+'">edit</button></td>';
				$unit_row+='<td name="test" style="text-align: center">'+value['unit_type']+'</td>';
				$unit_row+='<td style="text-align: center">'+value['number_of_units']+'</td>';
				$unit_row+='<td style="text-align: center">'+value['number_of_bedrooms']+'</td>';
				$unit_row+='<td style="text-align: center">'+value['number_of_bathrooms']+'</td>';

				if( value['furnished'] == '1'){
					$unit_row+='<td style="text-align: center">Yes</td>';
				}else if(value['furnished'] == '0'){
					$unit_row+='<td style="text-align: center">No</td>';
				}
				//value['unit_rents'][0]['unit_rent_rent']
				if( typeof value['unit_rents'][0] == 'undefined'){
					rent = 0;
				}else{
					rent = value['unit_rents'][0]['unit_rent_rent'];
				}


				$unit_row+='<td style="text-align: center">'+value['unit_squarfeet']+'</td>';
				$unit_row+='<td style="text-align: center">$'+rent+'</td>';
				$unit_row+='</tr>';

			});

			$('tbody[name="units"]').html($unit_row);

		});
	}







	var popOverEdit = { //Save the setting for later use as well

		    placement: 'bottom',
		    container: 'body',
		    html: true,
		    title: 'Edit Unit',
		    content: function () {
		       var unit_id  = $(this).attr('value');
		       $('button[name$="_form"][value!="'+unit_id+'"]').popover('hide');


		       var output;
			      $.ajax({
						type:"POST",
						url:"/unitforms/editunitajax",
						data:{unit_id:unit_id},
						async:false,
						success:function(result){

							output = result;
						}
					});

			      return output;

			   //   return '<div>test</div>';
		    }

	}



	$('tbody[name="units"]').on('DOMNodeInserted', function () { //listed for new items inserted onto ul
		test = $(event.target).html();
		//alert(test);
		 $(event.target).find('button[name="property_editunit_form"]').popover(popOverEdit);
		 //$(event.target).popover(popOverEdit);
	});




	$.getJSON('/member/getsessionajax',{salt:'<?=$fingerprint?>'}, function(data) {
		if( data['tab'] == 'unit_tab'){

			updateunitinfo();

		}
	});

	//+ update info for property tab when click property
	$(document).on('click','div#property',function(){
		$.getJSON('/member/getsessionajax',{salt:'<?=$fingerprint?>'}, function(data) {

			if(data['tab'] == 'unit_tab'){

				updateunitinfo();

			}

		});

	});

	//+ add unit
	$('button[name="property_addunit_form"]').popover({
	    html : true,
	    placement : 'bottom',
	    container: 'body',
	    title: 'Add Unit',
	    content: function() {
	      $('button[name$="_form"][name!="property_addunit_form"]').popover('hide');
	      $('tr[name="unit_row"]').popover('hide');

	      var output;
	      $.ajax({
				type:"POST",
				url:"/unitforms/addunitajax",
				async:false,
				success:function(result){

					output = result;
				}
			});
	      return output;

	    }
	});
	//- add unit

});
</script>
