<?php
// module/Index/view/index/index/index.phtml:


?>
<div class="container-fluid" style='width:740px;height:740px;overflow:scroll'>
	<div class="row-fluid">
		<div class="span2" style="text-align:center;padding-top:5px">
			Property Name
		</div>
		<div class="span3">
			<input type="text" class="input-small" style="width:100%" name="property_name_display_input" readonly>
		</div>
	</div>
	<div name="videos" class="row-fluid"  style="border:1px solid;border-radius:5px;padding:5px">
		<div class="row-fluid">
			<a class="">
				<i name="address_icon" class="icon-minus-sign"></i>
        		Videos
      		</a>
		</div>

	</div>

	<div class="row-fluid">
		<form action="" method="post" enctype="multipart/form-data" class="navbar-form pull-left">

		<div class='span3' style="padding-left:10px">
			<input type="button" class="btn btn-primary" style="width:100%" value="Add Video" onclick="document.getElementById('video').click(); return false;" /></input>
			<input type="file" name="video" id="video"  accept=".mp4" style="visibility:hidden;">
		</div>
		<div class='span4'>
			<input type="text" class="span12" name="video_filename" style='width:200px' value='' readonly></input>
		</div>

		<div class='span2'>
			<input type="submit" name="video" style='width:214px' class='btn btn-primary' value="Upload">
		</div>

		</form>
	</div>
</div>


<script type="text/javascript">


$(function(){

	function updatevideo()
	{

		$.getJSON('/property/getpropertyvideoajax', function(property_video){

			$('input[name="property_name_display_input"]').val(property_video['property_name']);

			property_videos = property_video['property_videos'];
			$output='';
			$('div[name="property_video_display"]').remove();
			for(var i = 0; i < property_videos.length; i++){


				$output+= '<div class="row-fluid" name="property_video_display" property_video_id="'+property_videos[i]['property_video_id']+'">';
				$output+= '		<div class="row-fluid span12" style="text-align:right">';
				$output+= '				<button name="delete_property_video" property_video_id="'+property_videos[i]['property_video_id']+'" class="btn btn-large btn-danger" type="button" style="width:20%;height:100%">Delete Video</button>';
				$output+= '		</div>';
				$output+= '		<div class="span12">';
				$output+= '			<video style="width:690px;height:525px" controls>';
				$output+= '				<source src="'+property_videos[i]['video_path']+'">';
				//$output+= '				<source src="/videos/members/member_id_41/property_video_id_4.mp4">';
				$output+= '			</video>';
				$output+= '		</div>';
				$output+= '</div>';
			}

			$('div[name="videos"]').append($output);
		});

	}




	$.getJSON('/member/getsessionajax',{salt:'<?=$fingerprint?>'}, function(data) {
		if( data['tab'] == 'video_tab'){

			updatevideo();

		}
	});

	//+ update info for report tab when click property
	$(document).on('click','div#property',function(){
		$.getJSON('/member/getsessionajax',{salt:'<?=$fingerprint?>'}, function(data) {

			if(data['tab'] == 'video_tab'){

				updatevideo();

			}

		});

	});
	//- end update info for report tab

	$("input[name='video']").change(function(){

		  var file_path = $(this).val();

		  var n=file_path.search("fakepath");

		  var file_name = file_path.substring(n+9)
		  $('input[name="video_filename"]').val(file_name);

	  });

	$(document).on('click',"button[name='delete_property_video']",function(){

		var property_video_id = $(this).attr('property_video_id');

		$.ajax({
				type:"POST",
				url:"/property/delettingpropertyvideoajax",
				async:false,
				data:{property_video_id:property_video_id},
				success:function(result){
					$('div[property_video_id="'+property_video_id+'"]').remove();
				}
		});

	 });

});
</script>