
<div class="container-fluid" style="width:550px">
	<div class="row-fluid span12" name="otherexpenses">
		<div class="span5">
			<select class="selectpicker" name="otherexpense_items" style="width:100%">
				<option value="0">Select One</option>
				<?php
					foreach($memberexpenseitems  as $memberexpenseitem ){
				?>
					<option value="<?php echo $memberexpenseitem->get_expense_id()?>"><?php echo $memberexpenseitem->get_expense_name()?></option>
				<?php
					}
				?>
	  		</select>
  		</div>

  		<div class="span3">
  			<select class="selectpicker" name="otherexpense_item_frequency" style="width: 100%">
   				<option value="30">Bi-weekly</option>
  				<option value="31" selected>Monthly</option>
  				<option value="32">yearly</option>
  			</select>
  		</div>
		<div class="span2"><input type="text" class="input-small" style="width:90%" name="otherexpense_item_amount" placeholder="Amount"></div>
		<div class="span2" style="text-align: center"><button class="btn btn-primary" name="add_otherexpense_item" style="width:100%">Add</button></div>
	</div>
	<div class="row-fluid" name="otherexpense_item">

	</div>

	<div class="row-fluid">
			<div class="span6" style="text-aligh:center">
				&nbsp;
			</div>
			<div class="span6" style="text-aligh:center">
				<button class="btn btn-primary" type="button" name="close_otherexpense_item" style="width:100%">Save & Close</button>
			</div>
	</div>








</div>

<script type="text/javascript">
$(function(){

	$('button[name="add_otherexpense_item"]').bind('click',function(){
		var otherexpense_item_id 		= $('select[name="otherexpense_items"] option:selected').val();
		var otherexpense_item_amount     = $('input[name="otherexpense_item_amount"]').val();
		var otherexpense_item_frequency  = $('select[name="otherexpense_item_frequency"] option:selected').val();

		temp = otherexpense_item_amount.replace(/\,/g, '');
		temp = temp.replace(/\ /g, '');

		if( $.isNumeric(temp) && (otherexpense_item_id != 0) ) { //valid input
			
			$.ajax({
				type:"POST",
				url:"/otherexpense/addotherexpenseitemajax",
				async:false,
				data:{otherexpense_item_id:otherexpense_item_id,otherexpense_item_amount:otherexpense_item_amount,otherexpense_item_frequency:otherexpense_item_frequency},
				success:function(result){
					//alert(JSON.stringify(result));

					var expense_item_row='';
					var total_row='';
					var total_expense=0;
					var multiplier=1;
					$.each( result , function( key, value){
						  expense_item_row+="<tr>";
						  expense_item_row+="<td style='width:40%'>"+value['expense_name']+"</td>";
						  if( value['frequency'] == 30 ){
							  frequency = 'Bi-weekly';
							  multiplier= 24;
						  }else if( value['frequency'] == 31 ){
							  frequency = 'Monthly';
							  multiplier= 12;
						  }else if( value['frequency'] == 32 ){
							  frequency = 'Yearly';
							  multiplier= 1
						  }
						  expense_item_row+="<td style='text-align:center;width:20%'>"+frequency+"</td>";
						  expense_item_row+="<td style='text-align:right;width:20%'>$"+value['amount']+"</td>";
						  expense_item_row+="<td style='width:20%'><button name='expense_item_delete' class='btn btn-danger btn-mini' type='button' style='width:100%;height:100%' property_expense_id="+value['property_expense_id']+">Delete</button></td>";
						  expense_item_row+="</tr>";
						  total_expense+=parseInt(value['amount'] * multiplier);

					});
					$('tbody[name="expense_items"]').html(expense_item_row);
					total_row = "<tr>";
					total_row+= "<td colspan='2'>Total</td>";
					total_row+= "<td style='text-align:right'>$"+total_expense+"</td>";
					total_row+= "<td></td>";
					total_row+= "</tr>";
					$('tbody[name="expense_items"]').append(total_row);

					$('button[name="property_otherexpense_display_input"]').popover('hide');
				}
			});

		}else if(otherexpense_item_id == 0){
			$('div#alert_box p#property_name').html('Other expense item need to be selected');
			$('div#alert_box').modal('show');

		}else if( !($.isNumeric(temp)) ){
			$('div#alert_box p#property_name').html('Amount is invalid input');
			$('div#alert_box').modal('show');

		}

	});

	$('button[name="close_otherexpense_item"]').bind('click',function(){

		$('button[name="property_otherexpense_display_input"]').popover('hide');
	});



});
</script>