<script type="text/javascript">



s = new Array(1,2,3);
l = 2;

count=0;


testn(s, new Array(l), 0 ,0);

alert(count);

function testn( e, sub, estart,substart){
	count++;
	//alert('called'+' estart='+estart+' substart='+substart+ 'substring = '+ sub.toString());

	if( substart == sub.length){

		alert('answer='+sub.toString());

	}

	else if( estart < e.length ) {

		sub[substart] = e[estart];

		//alert('2.1'+' estart='+estart+' substart='+substart+ 'substring = '+ sub.toString());

		testn(e,sub,estart+1,substart+1);

		//alert('2.2'+' estart='+estart+' substart='+substart+ 'substring = '+ sub.toString());

		testn(e,sub,estart+1,substart);


	}else{
		//alert('back track');
	}

}
</script>


<script type="text/javascript">

s = new Array(1,2,3);
l = 2;

count=0;

generate(s, new Array(l), 0 ,0);

//alert(count);

function generate( s, output, s_index, output_index){

	count++;

	if( output_index == output.length ){

		alert('answer = '+output.toString());

	}else if( s_index < s.length ) {

		output[output_index] = s[s_index];

		generate(s,output,s_index+1,output_index+1);

		generate(s,output,s_index+1,output_index);

	}else{
		//alert('back track');
	}

}
</script>











