

<div class="container-fluid" style="width:570px;height:390px">
	<div class="row-fluid">
		<div class="span2">Type Name:</div>
		<div class="span2"><input type="text" style="width:100%;text-align:right" name="unit_type_name" value="<?=$unit_type?>"></input></div>
		<div class="span1"></div>
		<div class="span5">Number of Units of this type:</div>
		<div class="span2"><input type="text" style="width:100%;text-align:right" name="unit_quality" value="<?=$quality?>"></input></div>
	</div>
	<div class="row-fluid">
		<div class="span2">Squar Feet:</div>
		<div class="span2"><input type="text" style="width:100%;text-align:right" name="unit_squarfeet" value="<?=$squar_feet?>"></input></div>
		<div class="span1"></div>
		<div class="span5">Number of bedrooms for this type:</div>
		<div class="span2"><input type="text" style="width:100%;text-align:right" name="unit_bed" value="<?=$bed?>"></input></div>
	</div>
	<div class="row-fluid">
		<div class="span2">Furnished?</div>
		<div class="span3">
			<?php
			if($furnished == 1){
			?>
				<input type="radio" name="furnished" value="1" checked>Yes   <input type="radio" name="furnished" value="0">No
			<?php
			}else{
			?>
				<input type="radio" name="furnished" value="1">Yes   <input type="radio" name="furnished" value="0" checked>No
			<?php
			}
			?>

		</div>

		<div class="span5">Number of bathrooms for this type:</div>
		<div class="span2"><input type="text" style="width:100%;text-align:right" name="unit_bath" value="<?=$bath?>"></input></div>
	</div>
	<div class="row-fluid">


		<div class="span12">
			<div class="row-fluid">
				Description:
			</div>
			<div class="row-fluid">
				<textarea style="width:100%;resize: none;" name="unit_desc"><?=$desc?></textarea>
			</div>

		</div>
	</div>

	<div class="row-fluid">
		<div class="span4">
			<div class="row-fluid">
				&nbsp;
			</div>
			<div class="row-fluid">
				<div class="span6">Rent:</div>
				<div class="span6"><input type="text" style="width:100%" name="unit_rent" value="500"></input></div>
			</div>
			<div class="row-fluid">
				<div class="span6">Frequency:</div>
				<div class="span6">
				<select style="width:114%" name="unit_frequency">
					<option value='30'>Bi-weekly</option>
					<option value='31' selected>Monthly</option>
					<option value='32'>Yearly</option>
				</select>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6">Year:</div>
				<div class="span6">
					<select name="year" style="width:114%">
						<?php
							for( $year = 1; $year <= 30; $year++){

								$match = false;
								foreach($unit_rent_schedules as $unit_rent_schedule){
									if( $year == $unit_rent_schedule['year']){
										$match = true;
									}
								}

								if(!$match){
						?>
							<option name="year" value="<?=$year?>"><?=$year?></option>
						<?php
								}


							}
						?>


					</select>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<button class="btn btn-primary" name="unit_addrent" style="width:110%">Add Rent</button>
				</div>
			</div>
			<br>
			<div class="row-fluid">
				<div class="span12">
					<button class="btn btn-danger" name="unit_deleteunit" style="width:110%">Delete Unit</button>
				</div>
			</div>

		</div>
		<div class="span1"></div>
		<div class="span7">
			<div class="row-fluid">
				Rent Schedule:
			</div>
			<div class="row-fluid">
			     <table  style="width:100%" border="1" >
			        <thead>
					   <tr>
					      <th style="text-align:center;width:15%">Year</th>
					      <th style="text-align:center;width:30%">Rent</th>
					      <th style="text-align:center;width:40%">Frequency</th>
					      <th style="text-align:center;width:15%"></th>
					   </tr>
  					 </thead>
			      </table>
			</div>
			<div class="row-fluid" style="width:100%; height:125px; overflow:auto;">
				  <table class=" table-hover" style="width:100%;" border="1" name="rent_schedule">
				  		<?php
				  			foreach($unit_rent_schedules as $unit_rent_schedule){
				  		?>
							<tr name="rent_schedule_row" value="<?=$unit_rent_schedule['year']?>">
								  <td style="text-align:center;width:15%" name="year" value="<?=$unit_rent_schedule['year']?>"><?=$unit_rent_schedule['year']?></td>
								  <td style="text-align:center;width:30%" name="rent" value="<?=$unit_rent_schedule['rent']?>">$<?=$unit_rent_schedule['rent']?></td>
								  <?php
								  	if($unit_rent_schedule['frequency'] == 30){
								  		$frequency = 'Bi-weekly';
								  	}else if($unit_rent_schedule['frequency'] == 31){
										$frequency = 'Monthly';
								  	}else if($unit_rent_schedule['frequency'] == 32){
										$frequency = 'Yearly';
								  	}
								  ?>
								  <td style="text-align:center;width:40%" name="frequency" value="<?=$unit_rent_schedule['frequency']?>"><?=$frequency?></td>
								  <td style="text-align:center;width:15%">
								  	<button name='edit_rent_delete' class='btn btn-danger btn-mini' type='button' style='width:100%;height:100%' value="<?=$unit_rent_schedule['year']?>">Delete</button>
								  </td>
							</tr>
				  		<?php
				  			}
				  		?>



			      </table>
			 </div>
			 <br>
			 <div class="row-fluid">
				<div class="span6">
					<button class="btn btn-primary" name="unit_cancel" style="width:100%">Cancel</button>
				</div>
				<div class="span6">
					<button class="btn btn-primary" name="unit_save" style="width:100%">Save</button>
				</div>
			</div>
		</div>

	</div>
</div>
<script type="text/javascript">
$(function(){

	function formate_number_input( input ){

		input = input.replace(/\,/g, '');
		input = input.replace(/\ /g, '');
		return input;
	}

	function updateunitinfo()
	{

		$.getJSON('/unit/getunittabajax', function(unit){

			//alert(JSON.stringify( unit['units'] ));

			$('input[name="property_name_display_input"]').val(unit['property_name']);

			var units = unit['units'];


			$unit_row='';
			$.each( units, function( key, value ) {

				$unit_row+='<tr name="unit_row" value="'+value['unit_id']+'">';
				$unit_row+='<td style="text-align: center"><button name="property_editunit_form" class="btn btn-warning btn-mini" type="button" style="width:100%;height:100%" value="'+value['unit_id']+'">edit</button></td>';
				$unit_row+='<td name="test" style="text-align: center">'+value['unit_type']+'</td>';
				$unit_row+='<td style="text-align: center">'+value['number_of_units']+'</td>';
				$unit_row+='<td style="text-align: center">'+value['number_of_bedrooms']+'</td>';
				$unit_row+='<td style="text-align: center">'+value['number_of_bathrooms']+'</td>';

				if( value['furnished'] == '1'){
					$unit_row+='<td style="text-align: center">Yes</td>';
				}else if(value['furnished'] == '0'){
					$unit_row+='<td style="text-align: center">No</td>';
				}
				//value['unit_rents'][0]['unit_rent_rent']
				if( typeof value['unit_rents'][0] == 'undefined'){
					rent = 0;
				}else{
					rent = value['unit_rents'][0]['unit_rent_rent'];
				}


				$unit_row+='<td style="text-align: center">'+value['unit_squarfeet']+'</td>';
				$unit_row+='<td style="text-align: center">$'+rent+'</td>';
				$unit_row+='</tr>';

			});

			$('tbody[name="units"]').html($unit_row);

		});
	}

	$('button[name="unit_addrent"]').bind('click',function(){
		var rent 		= $('input[name="unit_rent" ]').val();
		rent            = formate_number_input( rent );
		var frequency 	= $('select[name="unit_frequency"]').val();
		var year        = $('select[name="year"]').val();

		if( ( !$.isNumeric( rent ) ) || ( rent.length==0 ) ){
			$('div#alert_box p#property_name').html('The value "'+rent+'" is invalid for Rent');
			$('div#alert_box').modal('show');

		}else{
			if(frequency == '30'){
				period = 'Bi-weekly';
			}else if(frequency == '31'){
				period = 'Monthly';
			}else if(frequency == '32'){
				period = 'Yaerly';
			}

			var rent_schedule_row = "<tr name='rent_schedule_row' value='"+year+"'>";
			rent_schedule_row    += 	"<td style='text-align:center;width:15%' name='year' value='"+year+"'>"+year+"</td>";
			rent_schedule_row    += 	"<td style='text-align:center;width:30%' name='rent' value='"+rent+"'>$"+rent+"</td>";
			rent_schedule_row    += 	"<td style='text-align:center;width:40%' name='frequency' value='"+frequency+"'>"+period+"</td>";
			rent_schedule_row    += 	"<td style='text-align:center;width:15%'>";
			rent_schedule_row    += 		"<button name='edit_rent_delete' class='btn btn-danger btn-mini' type='button' style='width:100%;height:100%' value='"+year+"'>Delete</button>";
			rent_schedule_row    += 	"</td>";
			rent_schedule_row    += "</tr>";

			$('table[name="rent_schedule"]').append(rent_schedule_row);
			$("option[name='year'][value='"+year+"']").remove();
		}


	});

	$(document).on('click','button[name="edit_rent_delete"]',function(){
		var year = $(this).val();
		$("tr[name='rent_schedule_row'][value='"+year+"']").remove();
		$("option[name='year'][value='"+year+"']").remove();
		$("select[name='year']").append('<option name="year" value="'+year+'">'+year+'</option>');

	});

	$('button[name="unit_save"]').bind('click',function(){

		var type_name 	= $('input[name="unit_type_name"]').val();
		var squar_feet  = $('input[name="unit_squarfeet"]').val();
		squar_feet      = formate_number_input( squar_feet );

		var furnished   = $('input[name="furnished"]:checked').val();
		var quality     = $('input[name="unit_quality"]').val();
		quality         = formate_number_input( quality );
		var bed         = $('input[name="unit_bed"]').val();
		bed             = formate_number_input( bed );
		var bath        = $('input[name="unit_bath"]').val();
		bath             = formate_number_input( bath );
		var description = $('textarea[name="unit_desc"]').val();

		if( type_name.length == 0){
			$('div#alert_box p#property_name').html('The value "'+type_name+'" is invalid for Type Name');
			$('div#alert_box').modal('show');
		}else if( ( !$.isNumeric( squar_feet ) ) || (squar_feet.length==0) ){
			$('div#alert_box p#property_name').html('The value "'+squar_feet+'" is invalid for Squar Feet');
			$('div#alert_box').modal('show');
		}else if( ( !$.isNumeric( quality ) ) || (quality.length==0) ){
			$('div#alert_box p#property_name').html('The value "'+quality+'" is invalid for Number of Units of this type');
			$('div#alert_box').modal('show');
		}else if( ( !$.isNumeric( bed ) ) || (bed.length==0) ){
			$('div#alert_box p#property_name').html('The value "'+bed+'" is invalid for Number of bedrooms for this type');
			$('div#alert_box').modal('show');
		}else if( ( !$.isNumeric( bath ) ) || (bath.length==0) ){
			$('div#alert_box p#property_name').html('The value "'+bath+'" is invalid for Number of bathrooms for this type');
			$('div#alert_box').modal('show');
		}else{



			var rent_schedule= new Array();

			$('tr[name="rent_schedule_row"]').each(function(){

				var year 		=	$(this).find('td[name="year"]').attr('value');
				var rent 		=   $(this).find('td[name="rent"]').attr('value');
				var frequency   =   $(this).find('td[name="frequency"]').attr('value');
				rent_schedule.push( {'year':year,'rent':rent,'frequency':frequency} );

			});
			//unit_id =
			var rent = {
						 'unit_id'      : <?=$unit_id ?>,
						 'type_name'  	:  type_name,
						 'squar_feet' 	:  squar_feet,
						 'furnished'  	:  furnished,
						 'quality'    	:  quality,
						 'bed'        	:  bed,
						 'bath'       	:  bath,
						 'description'	:  description,
						 'rent_schedule':  rent_schedule,
					   }

			$.ajax({
				type:"POST",
				url:"/unit/editingunitajax",
				async:false,
				data:rent,
				success:function(result){

					//alert(result);
				}
			});

			$('button[name="property_editunit_form"]').popover('hide');
			updateunitinfo();
		}


	});

	$('button[name="unit_cancel"]').bind('click',function(){
		$('button[name="property_editunit_form"]').popover('hide');
	});

	$('button[name="unit_deleteunit"]').bind('click',function(){
		var unit_id = <?=$unit_id ?>;

		$.ajax({
			type:"POST",
			url:"/unit/deletingunitajax",
			async:false,
			data:{unit_id:unit_id},
			success:function(result){

				//alert(result);
			}
		});
		$('button[name="property_editunit_form"]').popover('hide');
		updateunitinfo();
	})
});
</script>
