<p>
This website is one of my hobbies, I build it to help anyone who is interested in real-estate investment.<br>
it will help you to analyzing and comparing potential US-based investment properties.<br>
it is not just another calculator tool, it is real-estate investment helper that help you simplify your analysis and keep track of your investmetns<br>

it gives you confidence in your investment decisions by making it easy to compute Cap Rate, GRM, Cash on Cash, and other important investment indicators 
over the lifetime of your property.

You can view up to 30 years of investing calculations, in monthly or annual, and spreadsheet views,<br>
and you can email the spreadsheet in PDF format for further processing.<br><br>

this beta version is 100% free of charge, but feel free to shoot me feedbacks,comments and suggestions at voranons@hotmail.com<br>
 





</p>

<script type="text/javascript">
$(function(){

	
});
</script>