<?php
// module/Index/view/index/index/index.phtml:



?>
<div class="container-fluid" style="width:100%;height:400px;padding-top:70px;padding-bottom:70px">
	<?php
	if($result){
	?>
		<div class="row-fluid">
		<?=$message?>
		</div>
		<div class="row-fluid">
		Click <a href="/index/">here</a> to log in
		</div>
	<?php
	}else{
	?>
		<div class="row-fluid">
		<?=$message?>
		</div>
		<div class="row=fluid">
		Click <a href="mailto:voranons@hotmail.com" target="_top">here</a> to contact support
		</div>

	<?php
	}
	?>


</div>
















