<?php
// module/Index/view/index/index/index.phtml:

?>

<div class="container-fluid" style="background-color: #aaCCff;width:100%;height:400px;padding-top:70px;padding-bottom:70px">

	<div class="row-fluid" style="margin-left: auto;margin-right:auto;width:30%;height:380px;padding-top:20px;">

					<?php
						$form = $this->form;
						$form->prepare();
						$form->setAttribute('action', $this->url('index', array('action' => 'index')) );

						echo $this->form()->openTag($form);
					?>
					<div class="row-fluid span4" style='margin-left: auto;margin-right:auto;width:100%;background-color:#cccccc;padding-top:10px;padding-left:10px;padding-right:10px'>
						<?php
							$email = $form->get('email');
							$email->setAttribute('style','width:90%;height:20px');
						?>

						<div class="row-fluid" style='height: 20px'>
							<div class="span3" style="padding-top: 5px"><font size="3">Email:</font></div>
							<div class="span9">
							<?php echo $this->formInput($email);?>
							</div>
						</div>
						<div class="row-fluid">

								<div class="span12" style='height: 20px'>
								<font color='red'>
									<?php
									$error = $this->formElementErrors($email);
									echo ( strpos($error,"Value is required") > 0 ) ? "<ul><li>Email is required" : $error  ;
									?>
								</font>
								</div>
						</div>
					</div>
					<div class="row-fluid span4" style='margin-left: auto;margin-right:auto;width:100%;background-color:#cccccc;padding-left:10px;padding-right:10px'>
						<?php
							$password = $form->get('password');
							$password->setAttribute('style','width:90%;height:20px');
						?>
						<div class="row-fluid" style='height: 20px'>
							<div class="span3" style="padding-top: 5px"><font size="3">Password:</font></div>
							<div class="span9">
							<?php echo $this->formInput($password);?>
							</div>
						</div>
						<div class="row-fluid">

							<div class="span12" style='height: 20px'>
								<font color='red'>
									<?php
									$error = $this->formElementErrors($password);
									echo ( strpos($error,"Value is required") > 0 ) ? "<ul><li>Password is required</li></ul>" : $error  ;
									?>
								</font>
							</div>
						</div>

					</div>
					<div class="row-fluid span4" style='margin-left: auto;margin-right:auto;width:100%;background-color:#cccccc;padding-left:10px;padding-right:10px'>
						<?php
							$submit = $form->get('submit');
							$submit->setAttribute('style','margin-left: auto;margin-right:auto;width:100%;height:30px');
							echo $this->formInput($submit);
						?>
					</div>
					<div class="row-fluid span4" style='margin-left: auto;margin-right:auto;width:100%;background-color:#cccccc;padding-top:10px;padding-left:10px;padding-right:10px;text-align:center'>
						<a href="<?php echo $this->url('index',array('action'=>'forgotpassword'));?>">Forgot your password</a>
					</div>
					<div class="row-fluid span4" style='margin-left: auto;margin-right:auto;width:100%;background-color:#cccccc;padding-top:10px;padding-left:10px;padding-right:10px;overflow:auto;display:none' >
						<div class="row-fluid" style='margin-left: auto;margin-right:auto;'>
							<div class="span4" style='float:left;width:144px;height:30px;background-color:#3B5998;text-align:center;padding-top:5px'><font color='#ffffff'>Log in with Facebook</font></div>
							<div class="span4" style='float:left;width:144px;height:30px;background-color:#9AE4E8;text-align:center;padding-top:5px'><font color='#ffffff'>Log in with Twitter</font></div>
						</div>
					</div>
					<div class="row-fluid span4" style='margin-left: auto;margin-right:auto;width:100%;background-color:#cccccc;padding:10px;text-align:center'>
						<a href="<?php echo $this->url('index',array('action'=>'signup'));?>">Sign Up</a>
					</div>
	</div>

</div>
