<?php
// module/Index/view/index/index/index.phtml:



?>
<div class="container-fluid" style="width:100%;height:400px;padding-top:70px;padding-bottom:70px">

	<div class="row-fluid" style="margin-left: auto;margin-right:auto;width:420px;height:380px;padding-top:20px;">
		<?php
			$form = $this->form;
			$form->prepare();
			$form->setAttribute('action', $this->url('index', array('action' => 'forgotpassword')) );
			echo $this->form()->openTag($form);
		?>
		<div class="row-fluid" style='margin-left: auto;margin-right:auto;width:450px;padding-top:10px;padding-left:10px;padding-right:10px'>
						<?php
							$email = $form->get('email');
							$email->setAttribute('style','width:240px;height:20px');
						?>
						<div class="row-fluid" style='height: 20px'>
							<div class="span3" style="padding-top: 5px"><font size="3">Email:</font></div>
							<div class="span9">
							<?php echo $this->formInput($email);?>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span3"></div>
							<div class="span9" style='height: 40px'>
								<font color='red'>
									<?php
									$error = $this->formElementErrors($email);
									echo ( strpos($error,"Value is required") > 0 ) ? "<ul><li>Email is required" : $error  ;
									?>
								</font>
							</div>
						</div>
		</div>
		<div class="row-fluid" style='margin-left: auto;margin-right:auto;width:450px;padding-left:10px;padding-right:10px;padding-bottom:10px'>
						<?php
							$submit = $form->get('submit');
							$submit->setAttribute('style','width:370px;height:30px');
							echo $this->formInput($submit);
						?>
		</div>
	</div>


</div>
















