<?php
// module/Index/view/index/index/index.phtml:
?>

<div class="container-fluid" style="width:100%;height:400px;padding-bottom:70px">

	<div class="row-fluid" style="">

					<?php
						$form = $this->form;
						$form->prepare();
						$form->setAttribute('action', $this->url('index', array('action' => 'index')) );

						echo $this->form()->openTag($form);
					?>
					<div class="span3" style=''>
						<?php
							$email = $form->get('email');
							$email->setAttribute('style','width:90%;height:20px');
						?>

						<div class="row-fluid" style='height: 20px'>
							<div class="span2" style="padding-top: 5px;text-align:left"><font size="2">Email:</font></div>
							<div class="span10">
							<?php echo $this->formInput($email);?>
							</div>
						</div>
						<div class="row-fluid">
								
								<div class="span12" style='height: 20px'>
								<font color='red'>
									<?php
									$error = $this->formElementErrors($email);
									echo ( strpos($error,"Value is required") > 0 ) ? "<ul><li>Email is required</li></ul>" : $error  ;
									?>
								</font>
								</div>
						</div>
					</div>
					<div class="span3" style=''>
						<?php
							$password = $form->get('password');
							$password->setAttribute('style','width:90%;height:20px');
						?>
						<div class="row-fluid" style='height: 20px'>
							<div class="span3" style="padding-top: 5px;text-align:left"><font size="2">Password:</font></div>
							<div class="span9" style="text-align:right">
							<?php echo $this->formInput($password);?>
							</div>
						</div>
						<div class="row-fluid">
							
							<div class="span12" style='height: 20px'>
								<font color='red'>
									<?php
									$error = $this->formElementErrors($password);
									echo ( strpos($error,"Value is required") > 0 ) ? "<ul><li>Password is required</li></ul>" : $error  ;
									?>
								</font>
							</div>
						</div>

					</div>
					<div class="span3" style=''>
						<div class="row-fluid" >
						<?php
							$submit = $form->get('submit');
							$submit->setAttribute('style','margin-left: auto;margin-right:auto;width:100%;height:30px');
							echo $this->formInput($submit);
						?>
						</div>
						<div class="row-fluid" >
							<div class="span12" style='padding-top:10px;padding-left:10px;padding-right:10px;text-align:center'>
							<a href="<?php echo $this->url('index',array('action'=>'forgotpassword'));?>">Forgot your password</a>
							</div>
						</div>
						<div class="row-fluid" >
							<div class="span12" style='padding-left:10px;padding-right:10px;text-align:center'>
							<a href="<?php echo $this->url('index',array('action'=>'signup'));?>">Sign Up</a>
							</div>
						</div>
					</div>
<!--
					<div class="row-fluid span4" style='margin-left: auto;margin-right:auto;background-color:#cccAAc;padding-top:10px;padding-left:10px;padding-right:10px;overflow:auto;display:none' >
						<div class="row-fluid" style='margin-left: auto;margin-right:auto;'>
							<div class="span4" style='float:left;width:144px;height:30px;background-color:#3B5998;text-align:center;padding-top:5px'><font color='#ffffff'>Log in with Facebook</font></div>
							<div class="span4" style='float:left;width:144px;height:30px;background-color:#9AE4E8;text-align:center;padding-top:5px'><font color='#ffffff'>Log in with Twitter</font></div>
						</div>
					</div>
 -->

	</div>
	<div class="row-fluid" style="text-align:center">
			
			
			<div id="myCarousel" class="carousel slide">
				<!-- 
				  <ol class="carousel-indicators">
				    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				    <li data-target="#myCarousel" data-slide-to="1"></li>
				    <li data-target="#myCarousel" data-slide-to="2"></li>
				  </ol>
				-->
				  <!-- Carousel items -->
				  <div class="carousel-inner">
				  
				    <div class="active item" id="0" style="height: 360px;">
				    		<div class="row-fluid">
				    			<img src="/img/baner.jpg" style="width: 450px;height:140px"></img>
				    		</div>
				    		<div class="span6 offset4" style="text-align:left;">
				    				<ul>
									  <li><font size="4">100% Free of charge, no credit card required</font></li>
									  <li><font size="4">Free property analysis and evaluation</font></li>
									  <li><font size="4">Free property comparision</font></li>
									  <li><font size="4">Free detailed PDF Reports</font></li>
									  <li><font size="4">Paperless financial infomation</font></li>
									  <li><font size="4">Keep track of all your real estate investments</font></li>
									  <li><font size="4">A lot more with only a minute <a href="<?php echo $this->url('index',array('action'=>'signup'));?>">Sign Up</a></font></li>
									</ul>
				    			
				    		</div>				    								    									
						
				    </div>
				    <!-- 
				    <div class="item" id="1" style="height: 360px;">
				    	<div class="row-fluid">
					    	<div class="span3 offset2" style="padding-top: 20px">
					    		<img alt="" src="/img/liz2.jpg">
					    	</div>
				    	</div>
				    	<div class="row-fluid" style="padding-top: 20px;">
					    	<div class="span10 offset2 row-fluid" style="text-align: left">
					    		
					    		<ul>
					    			  <li><font size="4">Elizabeth Do, being recognized as one of the organization&#96;s &#34;Top 30 Under 30&#34; year 20xx</font></li>
					    			  <li><font size="4">http://www.elizabethdo.com/</font></li>									
									  
								</ul>
					    	</div>
					    	
					    	
				    	</div>
				    	
				    </div>
				     -->
				  
				  </div>
				 
				   
				  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
				  
				   
			</div>
	</div>
	<div class="row-fluid" style="text-align:center">
		<font size="5" color="#50b5ee">Key Features</font>
	</div>
	<div class="row-fluid" style="text-align:center">
			<div id="myDemoCarousel" class="carousel slide">
				<div class="carousel-inner">
					  	<div class="active item" id="0" style="height: 510px">
					  		<div class="row-fluid" style="padding-top: 5px">
					  			<font size="4" color="red">Amortization Details</font>
					  		</div>
					  		<div class="row-fluid" style="padding-top: 5px">
				    			<img src='/img/demo/2.png' style="width: 800px;height:480px"></img>
				    		</div>
				    		
					  	</div>
					  	<div class="item" id="1" style="height: 510px;">
					  		
					  		<div class="row-fluid" style="padding-top: 5px">
					  			<font size="4" color="red">Property Details</font>
					  		</div>
					  		<div class="row-fluid" style="padding-top: 5px">
				    			<img src='/img/demo/3.png' style="width: 800px;height:480px"></img>
				    		</div>
					  	</div>
					  	<div class="item" id="2" style="height: 510px;">
					  		<div class="row-fluid" style="padding-top: 5px">
					  			<font size="4" color="red">Multiple Unit Details</font>
					  		</div>
					  		<div class="row-fluid" style="padding-top: 5px">
				    			<img src='/img/demo/4.png' style="width: 800px;height:480px"></img>
				    		</div>
					  	</div>
					  	<div class="item" id="3" style="height: 510px;">
					  		<div class="row-fluid" style="padding-top: 5px">
					  			<font size="4" color="red">Upload unlimited Photos for each propert</font>
					  		</div>
					  		<div class="row-fluid" style="padding-top: 5px">
				    			<img src='/img/demo/5.png' style="width: 800px;height:480px"></img>
				    		</div>
					  	</div>
					  	<div class="item" id="4" style="height: 510px;">
					  		<div class="row-fluid" style="padding-top: 5px">
					  			<font size="4" color="red">Key financial report</font>
					  		</div>
					  		<div class="row-fluid" style="padding-top: 5px">
				    			<img src='/img/demo/7.png' style="width: 800px;height:480px"></img>
				    		</div>
					  	</div>
					  	<div class="item" id="5" style="height: 510px;">
					  		<div class="row-fluid" style="padding-top: 5px">
					  			<font size="4" color="red">Property evaluation up to 30 years</font>
					  		</div>
					  		<div class="row-fluid" style="padding-top: 5px">
				    			<img src='/img/demo/8.png' style="width: 800px;height:480px"></img>
				    		</div>
					  	</div>
					  	<div class="item" id="6" style="height: 510px;">
					  		<div class="row-fluid" style="padding-top: 5px">
					  			<font size="4" color="red">Property comparision reports for Free</font>
					  		</div>
					  		<div class="row-fluid" style="padding-top: 5px">
				    			<img src='/img/demo/10.png' style="width: 800px;height:480px"></img>
				    		</div>
					  	</div>
					  	<div class="item" id="7" style="height: 510px;">
					  		<div class="row-fluid" style="padding-top: 5px">
					  			<font size="4" color="red">Free property analysis reports sent to your email</font>
					  		</div>
					  		<div class="row-fluid" style="padding-top: 5px">
				    			<img src='/img/demo/11.png' style="width: 800px;height:480px"></img>
				    		</div>
					  	</div>
					  	
			    </div>
			    <a class="carousel-control left" href="#myDemoCarousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#myDemoCarousel" data-slide="next">&rsaquo;</a>
		    </div>

	</div>

</div>

<script>
$(document).ready(function() {
  $('.carousel').carousel();
  $('.carousel').on('slid', function() {
    var to_slide = $('.carousel-inner .item.active').attr('id');
    $('.carousel-indicators').children().removeClass('active');
    $('.carousel-indicators [data-slide-to=' + to_slide + ']').addClass('active');
  });


  $('li[data-target="#myCarousel"]').click(function(){
	  var to_slide = $(this).attr('data-slide-to');
	 
	  $('.carousel-indicators').children().removeClass('active');
	  $('.carousel-indicators [data-slide-to=' + to_slide + ']').addClass('active');
	  $('.carousel').carousel( parseInt(to_slide) );
	  
  });
  
});
</script>
