<?php
// module/Index/view/index/index/index.phtml:



?>
<div class="container-fluid" style="background-color: #AACCff;width:100%;height:400px;padding-top:70px;padding-bottom:70px">

	<div class="row-fluid">
	We have sent new password to you email
	</div>
	<div class="row-fluid">
	Click <a href="/index/">here</a> to log in
	</div>

</div>
















