<?php
// module/Index/view/index/index/index.phtml:



?>
<div class="container-fluid" style="width:100%;height:400px;padding-top:10px;padding-bottom:70px">

	<div class="row-fluid" style="margin-left: auto;margin-right:auto;width:420px;height:380px;padding-top:0px">


					<?php
						$form = $this->form;
						$form->prepare();
						$form->setAttribute('action', $this->url('index', array('action' => 'signup')) );
						echo $this->form()->openTag($form);
					?>

					<div class="row-fluid" style='margin-left: auto;margin-right:auto;width:500px;height:40px;padding-top:5px;padding-left:10px;padding-right:10px'>
						<?php
							$email = $form->get('email');
							$email->setAttribute('style','width:250px;height:20px');
						?>
						<div class="row-fluid" style='height: 20px'>
							<div class="span4" style="padding-top: 5px"><font size="3">Email:</font></div>
							<div class="span8" style='height: 20px;text-align:left;'>
								<?php echo $this->formInput($email);?>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span4"></div>
							<div class="span8" style='height: 20px'>
								<font color='red'>
									<?php
									$error = $this->formElementErrors($email);
									echo ( strpos($error,"Value is required") > 0 ) ? "<ul><li>Email is requred</li></ul>" : $error  ;
									?>
								</font>
							</div>
						</div>
					</div>
					<div class="row-fluid" style='margin-left: auto;margin-right:auto;width:500px;height:40px;padding-left:10px;padding-right:10px'>
						<?php
							$cemail = $form->get('cemail');
							$cemail->setAttribute('style','width:250px;height:20px');
						?>
						<div class="row-fluid" style='height: 20px'>
							<div class="span4" style="padding-top: 5px"><font size="3">Confirm Email:</font></div>
							<div class="span8" style='height: 20px;text-align:left;'>
								<?php echo $this->formInput($cemail);?>
							</div>
						</div>
						<div class="row-fluid" >
							<div class="span4"></div>
							<div class="span8" style='height: 20px'>
								<font color='red'>
									<?php
									$error = $this->formElementErrors($cemail);
									echo ( strpos($error,"Value is required") > 0 ) ? "<ul><li>Confirm Email is required</li></ul>" : $error  ;
									?>
								</font>
							</div>
						</div>
					</div>
					<div class="row-fluid" style='margin-left: auto;margin-right:auto;width:500px;height:40px;padding-left:10px;padding-right:10px'>
						<?php
							$password = $form->get('password');
							$password->setAttribute('style','width:250px;height:20px');
						?>
						<div class="row-fluid" style='height: 20px'>
							<div class="span4" style="padding-top: 5px"><font size="3">Password:</font></div>
							<div class="span8" style='height: 20px;text-align:left;'>
								<?php echo $this->formInput($password);?>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span4"></div>
							<div class="span8" style='height: 20px'>
							<font color='red'>
								<?php
								$error = $this->formElementErrors($password);
								echo ( strpos($error,"Value is required") > 0 ) ? "<ul><li>Password is required</li></ul>" : $error  ;
								?>
							</font>
							</div>
						</div>
					</div>
					<div class="row-fluid" style='margin-left: auto;margin-right:auto;width:500px;height:80px;padding-left:10px;padding-right:10px'>
						<?php
							$cpassword = $form->get('cpassword');
							$cpassword->setAttribute('style','width:250px;height:20px');
						?>
						<div class="row-fluid" style='height: 20px;'>
							<div class="span4" style="padding-top: 5px"><font size="3">Confirm Password:</font></div>
							<div class="span8" style='height: 20px;text-align:left;'>
								<?php echo $this->formInput($cpassword);?>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span4"></div>
							<div class="span8" style='height: 20px'>
							<font color='red'>
								<?php
								$error = $this->formElementErrors($cpassword);
								echo ( strpos($error,"Value is required") > 0 ) ? "<ul><li>Confirm Password is requred</li></ul>" : $error  ;
								?>
							</font>
							</div>
						</div>


					</div>
					<div class="row-fluid" style='margin-left: auto;margin-right:auto;width:500px;height:80px;padding-left:10px;padding-right:10px;text-align:left'>
						<?php
							$submit = $form->get('submit');
							$submit->setAttribute('style','width:500px;height:30px');
							echo $this->formInput($submit);
						?>
					</div>
<!--
					<div class="row-fluid" style='margin-left: auto;margin-right:auto;width:380px;background-color:#cccccc;padding:10px;overflow:auto'>
						<div style='float:left;width:190px;height:30px;background-color:#3B5998;text-align:center;padding-top:5px'><font color='#ffffff'>Sign up with Facebook</font></div>
						<div style='float:left;width:190px;height:30px;background-color:#9AE4E8;text-align:center;padding-top:5px'><font color='#ffffff'>Sign up with Twitter</font></div>
					</div>
 -->
					<?php echo $this->form()->closeTag() ?>






	</div>

</div>

















