<?php
// module/Index/view/index/index/index.phtml:



?>
<div class="container-fluid" style="width:100%;height:400px;padding-top:70px;padding-bottom:70px">

	<div class="row-fluid">
	Welcome
	</div>
	<div class="row=fluid">
	Check your email to activae your account
	</div>
	<div class="row-fluid">
	Click <a href="/index/">here</a> to log in
	</div>

</div>
















