<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
		<?php echo $this->headTitle('ho-mie.com')->setSeparator(' - ')->setAutoEscape(false) ?>
		<meta description='Free property analysis,comparision and evaluation'/>
		<meta name='robots' content='noodp,noydir'/>
		


        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <!-- Le styles -->


        <?php  echo $this->headLink()->appendStylesheet($this->basePath() . '/css/bootstrap-responsive.min.css')
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') ?>

        <!-- Scripts -->
		<?php echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                                      ->prependFile($this->basePath() . '/js/bootstrap.min.js')
                                      ->prependFile($this->basePath() . '/js/jquery.min.js') ?>


    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
					
                    <div class="nav-collapse collapse"><!-- <font color="red">!Beta version</font>  -->
                        <ul class="nav">
                        	<li><img src="/img/logo.jpg" style="width:40px;height: 40px"></img>
                        	</li>
                            <li class="active"><a href="<?php echo $this->url('index',array('action'=>'index'));?>"><?php echo $this->translate('Home') ?></a>
                            </li>
                            <li class="active"><a href="<?php echo $this->url('index',array('action'=>'contactus'));?>"><?php echo $this->translate('Contact Us') ?></a></li>
                             <!--
                            <li class="active"><a href="<?php echo $this->url('index',array('action'=>'aboutus'));?>"><?php echo $this->translate('About Us') ?></a></li>
                            
                           
							
							<li class="active"><a href="<?php echo $this->url('index',array('action'=>'privacypolicy'));?>"><?php echo $this->translate('Privacy Policy') ?></a></li>
							<li class="active"><a href="<?php echo $this->url('index',array('action'=>'terms'));?>"><?php echo $this->translate('Terms') ?></a></li>
							 -->
							
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container" style=''>
            <?php echo $this->content; ?>


        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
