


<div name="property_appreciationrate_popover">

		<div class="row-fluid" style="text-align: center">
			<input style="text-align:center;width:20%" name='appreciation_rate_display' value="<?=$property_appreciation_rate ?>" readonly></input>%
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div class="span2"><i class="icon-arrow-left" name="appreciationrate_dec"></i></div>
				<div class="span8"><input type="range" style="width: 95%" name="appreciationrate_bar" min="0" max="100" step="1" value="<?=$property_appreciation_rate ?>"></div>
				<div class="span2"><i class="icon-arrow-right" name="appreciationrate_inc"></i></div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_appreciationrate_cancel" class="btn btn-primary" type="button" style="width: 100%">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_appreciationrate_save" class="btn btn-primary" type="button" style="width:100%;">Save</button>
			</div>
		</div>

</div>

<script type="text/javascript">
$(function(){

	$('input[name="appreciationrate_bar"]').bind('change',function(){
		var appreciationrate = $(this).val();
		$('input[name="appreciation_rate_display"]').val(appreciationrate);
	});

	$('i[name="appreciationrate_dec"]').bind('click',function(){
		var appreciationrate = $('input[name="appreciationrate_bar"]').val();
		appreciationrate = parseInt(appreciationrate) - 1;

		if( appreciationrate <= 1){
			appreciationrate = 1;
		}

		$('input[name="appreciationrate_bar"]').val(appreciationrate);
		$('input[name="appreciation_rate_display"]').val(appreciationrate);
	});

	$('i[name="appreciationrate_inc"]').bind('click',function(){
		var appreciationrate = $('input[name="appreciationrate_bar"]').val();
		appreciationrate = parseInt(appreciationrate) + 1;

		if( appreciationrate >= 100){
			appreciationrate = 100;
		}

		$('input[name="appreciationrate_bar"]').val(appreciationrate);
		$('input[name="appreciation_rate_display"]').val(appreciationrate);
	});

	$('button[name="property_appreciationrate_cancel"]').bind('click',function(){
		 $('input[name="property_appreciationrate_display_input"]').popover('hide');
	});

	$('button[name="property_appreciationrate_save"]').bind('click',function(){
		 var appreciationrate = $('input[name="appreciationrate_bar"]').val();

		 $.ajax({
				type:"POST",
				url:"/property/updateappreciationrateajax",
				data:{appreciationrate:appreciationrate},
				async:false,
				success:function(result){

				}
		});

		 $('input[name="property_appreciationrate_display_input"]').popover('hide');
		 $('input[name="property_appreciationrate_display_input"]').val(appreciationrate);
	});

});
</script>