


<div name="property_expenseinflationrate_popover">

		<div class="row-fluid" style="text-align: center">
			<input style="text-align:center;width:20%" name='expenseinflation_rate_display' value="<?=$property_default_expenseinflation_rate ?>" readonly></input>%
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div class="span2"><i class="icon-arrow-left" name="expenseinflationrate_dec"></i></div>
				<div class="span8"><input type="range" style="width: 95%" name="expenseinflationrate_bar" min="0" max="100" step="1" value="<?=$property_default_expenseinflation_rate ?>"></div>
				<div class="span2"><i class="icon-arrow-right" name="expenseinflationrate_inc"></i></div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_expenseinflationrate_cancel" class="btn btn-primary" type="button" style="width: 100%">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_expenseinflationrate_save" class="btn btn-primary" type="button" style="width:100%;">Save</button>
			</div>
		</div>
</div>

<script type="text/javascript">
$(function(){

	$('input[name="expenseinflationrate_bar"]').bind('change',function(){
		var expenseinflationrate = $(this).val();
		$('input[name="expenseinflation_rate_display"]').val(expenseinflationrate);
	});

	$('i[name="expenseinflationrate_dec"]').bind('click',function(){
		var expenseinflationrate = $('input[name="expenseinflationrate_bar"]').val();
		expenseinflationrate = parseInt(expenseinflationrate) - 1;

		if( expenseinflationrate <= 1){
			expenseinflationrate = 1;
		}

		$('input[name="expenseinflationrate_bar"]').val(expenseinflationrate);
		$('input[name="expenseinflation_rate_display"]').val(expenseinflationrate);
	});

	$('i[name="expenseinflationrate_inc"]').bind('click',function(){
		var expenseinflationrate = $('input[name="expenseinflationrate_bar"]').val();
		expenseinflationrate = parseInt(expenseinflationrate) + 1;

		if( expenseinflationrate >= 100){
			expenseinflationrate = 100;
		}

		$('input[name="expenseinflationrate_bar"]').val(expenseinflationrate);
		$('input[name="expenseinflation_rate_display"]').val(expenseinflationrate);
	});

	$('button[name="property_expenseinflationrate_cancel"]').bind('click',function(){
		 $('input[name="property_default_expenseinflationrate_display_input"]').popover('hide');
	});

	$('button[name="property_expenseinflationrate_save"]').bind('click',function(){
		 var expenseinflationrate = $('input[name="expenseinflationrate_bar"]').val();
	
		 $.ajax({
				type:"POST",
				url:"/member/updatedefaultexpenseinflationrateajax",
				data:{expenseinflationrate:expenseinflationrate},
				async:false,
				success:function(result){
				
				}
		});

		 $('input[name="property_default_expenseinflationrate_display_input"]').popover('hide');
		 $('input[name="property_default_expenseinflationrate_display_input"]').val(expenseinflationrate);
	});

});
</script>