
<div name="property_incomeinflationrate_popover">

		<div class="row-fluid" style="text-align: center">
			<input style="text-align:center;width:20%" name='incomeinflation_rate_display' value="<?=$property_default_incomeinflation_rate ?>" readonly></input>%
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div class="span2"><i class="icon-arrow-left" name="incomeinflationrate_dec"></i></div>
				<div class="span8"><input type="range" style="width: 95%" name="incomeinflationrate_bar" min="0" max="100" step="1" value="<?=$property_default_incomeinflation_rate ?>"></div>
				<div class="span2"><i class="icon-arrow-right" name="incomeinflationrate_inc"></i></div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_incomeinflationrate_cancel" class="btn btn-primary" type="button" style="width: 100%">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_incomeinflationrate_save" class="btn btn-primary" type="button" style="width:100%;">Save</button>
			</div>
		</div>
</div>

<script type="text/javascript">
$(function(){

	$('input[name="incomeinflationrate_bar"]').bind('change',function(){
		var incomeinflationrate = $(this).val();
		$('input[name="incomeinflation_rate_display"]').val(incomeinflationrate);
	});

	$('i[name="incomeinflationrate_dec"]').bind('click',function(){
		var incomeinflationrate = $('input[name="incomeinflationrate_bar"]').val();
		incomeinflationrate = parseInt(incomeinflationrate) - 1;

		if( incomeinflationrate <= 1){
			incomeinflationrate = 1;
		}

		$('input[name="incomeinflationrate_bar"]').val(incomeinflationrate);
		$('input[name="incomeinflation_rate_display"]').val(incomeinflationrate);
	});

	$('i[name="incomeinflationrate_inc"]').bind('click',function(){
		var incomeinflationrate = $('input[name="incomeinflationrate_bar"]').val();
		incomeinflationrate = parseInt(incomeinflationrate) + 1;

		if( incomeinflationrate >= 100){
			incomeinflationrate = 100;
		}

		$('input[name="incomeinflationrate_bar"]').val(incomeinflationrate);
		$('input[name="incomeinflation_rate_display"]').val(incomeinflationrate);
	});

	$('button[name="property_incomeinflationrate_cancel"]').bind('click',function(){
		 $('input[name="property_default_incomeinflationrate_display_input"]').popover('hide');
	});

	$('button[name="property_incomeinflationrate_save"]').bind('click',function(){
		 var incomeinflationrate = $('input[name="incomeinflationrate_bar"]').val();

		 $.ajax({
				type:"POST",
				url:"/member/updatedefaultincomeinflationrateajax",
				data:{incomeinflationrate:incomeinflationrate},
				async:false,
				success:function(result){

				}
		});

		 $('input[name="property_default_incomeinflationrate_display_input"]').popover('hide');
		 $('input[name="property_default_incomeinflationrate_display_input"]').val(incomeinflationrate);
	});

});
</script>