


<div name="property_vacancyrate_popover">

		<div class="row-fluid" style="text-align: center">
			<input style="text-align:center;width:20%" name='vacancy_rate_display' value="<?=$property_default_vacancy_rate ?>" readonly></input>%
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div class="span2"><i class="icon-arrow-left" name="vacancyrate_dec"></i></div>
				<div class="span8"><input type="range" style="width: 95%" name="vacancyrate_bar" min="0" max="100" step="1" value="<?=$property_default_vacancy_rate ?>"></div>
				<div class="span2"><i class="icon-arrow-right" name="vacancyrate_inc"></i></div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_vacancyrate_cancel" class="btn btn-primary" type="button" style="width: 100%">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_vacancyrate_save" class="btn btn-primary" type="button" style="width:100%;">Save</button>
			</div>
		</div>

</div>

<script type="text/javascript">
$(function(){

	$('input[name="vacancyrate_bar"]').bind('change',function(){
		var vacancyrate = $(this).val();
		$('input[name="vacancy_rate_display"]').val(vacancyrate);
	});

	$('i[name="vacancyrate_dec"]').bind('click',function(){
		var vacancyrate = $('input[name="vacancyrate_bar"]').val();
		vacancyrate = parseInt(vacancyrate) - 1;

		if( vacancyrate <= 1){
			vacancyrate = 1;
		}

		$('input[name="vacancyrate_bar"]').val(vacancyrate);
		$('input[name="vacancy_rate_display"]').val(vacancyrate);
	});

	$('i[name="vacancyrate_inc"]').bind('click',function(){
		var vacancyrate = $('input[name="vacancyrate_bar"]').val();
		vacancyrate = parseInt(vacancyrate) + 1;

		if( vacancyrate >= 100){
			vacancyrate = 100;
		}

		$('input[name="vacancyrate_bar"]').val(vacancyrate);
		$('input[name="vacancy_rate_display"]').val(vacancyrate);
	});

	$('button[name="property_vacancyrate_cancel"]').bind('click',function(){
		 $('input[name="property_default_vacancyrate_display_input"]').popover('hide');
	});

	$('button[name="property_vacancyrate_save"]').bind('click',function(){
		 var vacancyrate = $('input[name="vacancyrate_bar"]').val();
	
		 $.ajax({
				type:"POST",
				url:"/member/updatedefaultvacancyrateajax",
				data:{vacancyrate:vacancyrate},
				async:false,
				success:function(result){
					
				}
		});

		 $('input[name="property_default_vacancyrate_display_input"]').popover('hide');
		 $('input[name="property_default_vacancyrate_display_input"]').val(vacancyrate);
	});

});
</script>