


<div name="property_lvtforrefinance_popover">

		<div class="row-fluid" style="text-align: center">
			<input style="text-align:center;width:20%" name='lvtforrefinance_display' value="<?=$property_lvt_for_refinance ?>" readonly></input>%
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div class="span2"><i class="icon-arrow-left" name="lvtforrefinance_dec"></i></div>
				<div class="span8"><input type="range" style="width: 95%" name="lvtforrefinance_bar" min="0" max="100" step="1" value="<?=$property_lvt_for_refinance ?>"></div>
				<div class="span2"><i class="icon-arrow-right" name="lvtforrefinance_inc"></i></div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<button name="property_lvtforrefinance_cancel" class="btn btn-primary" type="button" style="width: 100%">Cancel</button>
			</div>
			<div class="span6">
				<button name="property_lvtforrefinance_save" class="btn btn-primary" type="button" style="width:100%;">Save</button>
			</div>
		</div>

</div>

<script type="text/javascript">
$(function(){

	$('input[name="lvtforrefinance_bar"]').bind('change',function(){
		var lvtforrefinance = $(this).val();
		$('input[name="lvtforrefinance_rate_display"]').val(lvtforrefinance);
	});

	$('i[name="lvtforrefinance_dec"]').bind('click',function(){
		var lvtforrefinance = $('input[name="lvtforrefinance_bar"]').val();
		lvtforrefinance = parseInt(lvtforrefinance) - 1;

		if( lvtforrefinance <= 1){
			lvtforrefinance = 1;
		}

		$('input[name="lvtforrefinance_bar"]').val(lvtforrefinance);
		$('input[name="lvtforrefinance_display"]').val(lvtforrefinance);
	});

	$('i[name="lvtforrefinance_inc"]').bind('click',function(){
		var lvtforrefinance = $('input[name="lvtforrefinance_bar"]').val();
		lvtforrefinance = parseInt(lvtforrefinance) + 1;

		if( lvtforrefinance >= 100){
			lvtforrefinance = 100;
		}

		$('input[name="lvtforrefinance_bar"]').val(lvtforrefinance);
		$('input[name="lvtforrefinance_display"]').val(lvtforrefinance);
	});

	$('button[name="property_lvtforrefinance_cancel"]').bind('click',function(){
						
		 $('input[name="property_lvtforrefinance_display_input"]').popover('hide');
		 
	});

	$('button[name="property_lvtforrefinance_save"]').bind('click',function(){
		 var lvtforrefinance = $('input[name="lvtforrefinance_bar"]').val();
			
		 $.ajax({
				type:"POST",
				url:"/property/updatelvtforrefinanceajax",
				data:{lvtforrefinance:lvtforrefinance},
				async:false,
				success:function(result){

				}
		});

		 $('input[name="property_lvtforrefinance_display_input"]').popover('hide');
		 $('input[name="property_lvtforrefinance_display_input"]').val(lvtforrefinance);
	});

});
</script>