
<?php
	$total=0;
	foreach($member_default_sellingcost_items as $member_default_sellingcost_item){
?>
	<tr>
		 <td><?= $member_default_sellingcost_item['sellingcost_name'] ?></td>
		 <td style="text-align:right">$<?= $member_default_sellingcost_item['member_default_sellingcost_item_amount'] ?></td>
		 <td style="text-align:center">
		 	<button class="btn btn-danger btn-mini" type="button" name="delete_sellingcost_item" member_default_sellingcost_item_id='<?= $member_default_sellingcost_item['member_default_sellingcost_item_id'] ?>'>Delete</button>
		 </td>
	</tr>
<?php
	$total += $member_default_sellingcost_item['member_default_sellingcost_item_amount'];
	}

?>

<tr>
		<td>Total</td>
		<td style="text-align:right" name="sellingcost_total">$<?= $total?></td>
		<td style="text-align:center">&nbsp;</td>
</tr>
