
<div class="container-fluid" style="width:700px">

	<div class="span5" >
		<div class="row-fluid">
			<div class="span4"><strong>Downpayment:</strong></div>
			<div class="span2" style="text-align:center" name="downpayment_display"><?=$downpayment ?>%</div>
			<div class="span2"><strong>Loan:</strong></div>
			<div class="span4"  style="text-align:right" name="down_price">$<?=$purchase_price*( (100-$downpayment)/100) ?></div>
			<input type="hidden" name="purchase_price" value="<?=$purchase_price ?>">
		</div>
		<div class="row-fluid">
			<div class="span1"><i class="icon-arrow-left" name="downpayment_dec"></i></div>
			<div class="span10"><input type="range" name="downpayment_bar" min="0" max="100" step="1" style="width:230px" value="<?=$downpayment ?>"></div>
			<div class="span1"><i class="icon-arrow-right" name="downpayment_inc"></i></div>
		</div>
		<!-- //////////////////////////////////////////////  -->
		<div class="row-fluid">
			<div class="span6"><strong>Interested Rate:</strong></div>
			<div class="span2" name="interestedrate_display"><?=$interested_rate ?>%</div>
		</div>
		<div class="row-fluid">
			<div class="span1"><i class="icon-arrow-left" name="interestedrate_dec"></i></div>
			<div class="span10"><input type="range" name="interestedrate_bar" min="1" max="20" step="0.125" style="width:230px" value="<?=$interested_rate ?>"></div>
			<div class="span1"><i class="icon-arrow-right" name="interestedrate_inc"></i></div>
		</div>
		<!-- //////////////////////////////////////////////  -->
		<div class="row-fluid">
			<div class="span6"><strong>Loan term:</strong></div>
			<div class="span2" name="loanterm_display"><?=$loan_term?></div>
			<div class="span1">Years</div>
		</div>
		<div class="row-fluid">
			<div class="span1"><i class="icon-arrow-left" name="loanterm_dec"></i></div>
			<div class="span10"><input type="range" name="loanterm_bar" min="1" max="50" step="1" style="width:230px" value="<?=$loan_term?>"></div>
			<div class="span1"><i class="icon-arrow-right" name="loanterm_inc"></i></div>
		</div>
		<!-- ///////////////////////////////////////////// -->
		<div class="row-fluid">
			<div class="span5"><strong>Payment Mode:</strong></div>
			<div class="span4"><strong>Payment:</strong></div>
		    <div class="span3" name="onetime_payment" style="text-align:left"></div>
		</div>
		<div class="row-fluid">
			<?php
				foreach($payment_modes as $payment_mode){
					if( $payment_mode['id'] == $payment_frequency){
			?>
					<div class="span4">
						<div class="row-fluid" style="text-align:center">
							<input type="radio" name="payment_mode" value="<?=$payment_mode['id'] ?>" checked="checked"> <?=$payment_mode['item_text'] ?>
						</div>
					</div>
			<?php
					}else{
			?>
					<div class="span4">
						<div class="row-fluid" style="text-align:center">
							<input type="radio" name="payment_mode" value="<?=$payment_mode['id'] ?>"> <?=$payment_mode['item_text']?>
						</div>
					</div>
			<?php
					}
				}
			?>

		</div>
		<!-- ///////////////////////////////////////////// -->
		<div class="row-fluid">
			<div class="span3"><strong>LoanType:</strong></div>

			<div class="span9">

			<?php

				foreach($loan_types as $loan_type){
					if($loan_type['id'] == $loan_type_value){
			?>
				<input type="radio" name="loan_type" value="<?=$loan_type['id']?>" checked="checked"/> <?=$loan_type['item_text']?>
			<?php
					}else{
			?>
				<input type="radio" name="loan_type" value="<?=$loan_type['id']?>"/> <?=$loan_type['item_text']?>
			<?php
					}
				}
			?>
			</div>
		</div>
		<!-- //////////////////////////////////////////////  -->
		<div class="row-fluid">
			<div class="span6"><strong>Interest Only term:</strong></div>
			<div class="span2" name="interestonly_display"><?=$interestedonly_rate?></div>
			<div class="span1">Years</div>
		</div>
		<div class="row-fluid">
			<div class="span1"><i class="icon-arrow-left" name="interestonly_dec"></i></div>
			<div class="span10"><input type="range" name="interestonly_bar" min="1" max="50" step="1" style="width:230px" value="<?=$interestedonly_rate?>"></div>
			<div class="span1"><i class="icon-arrow-right" name="interestonly_inc"></i></div>
		</div>

	</div>


	<div class="span7" >
		<div class="row-fluid">
			<table class="table table-striped" style="width: 100%" cellpadding="0" cellspacing="0">
				<tr>
					<td colspan='5' style="text-align:center"><a>Full Amortization table</a></td>
				</tr>
				<tr>
				  <td style="width:10%;text-align:center">Year</td>
				  <td style="width:10%;text-align:center">No.</td>
				  <td style="width:25%;text-align:center">Interest</td>
				  <td style="width:25%;text-align:center">Principal</td>
				  <td style="width:30%;text-align:center">Balance</td>

				</tr>
			</table>
		</div>
		<div class="row-fluid" style="overflow-y: scroll;height: 260px; width:100%;">
			  <table class="table table-striped" name="payment_table" style="width: 100%;" cellpadding="0" cellspacing="0" border='1'>

			  </table>
		</div>

		<div class="row-fluid">

			<div class="span6"><button class="btn btn-primary" type="button" name="cancel_firstmortgage_item" style="width:100%">Cancel</button></div>
			<div class="span6"><button class="btn btn-primary" type="button" name="save_firstmortgage_item" style="width:100%">Save</button></div>
		</div>
	</div>

</div>


<script type="text/javascript">
$(function(){


	function getpaymenttable()
	{
		var percent 		= $('input[name="downpayment_bar"]').val();
		var interested_rate = $('input[name="interestedrate_bar"]').val();
		var loan_term       = $('input[name="loanterm_bar"]').val();
		var payment_mode    = $('input[name="payment_mode"]:radio:checked').val();
		var loan_type       = $('input[name="loan_type"]:radio:checked').val();
		var int_only_term   = $('input[name="interestonly_bar"]').val();

		//alert(percent+'-'+interested_rate+'-'+loan_term+'-'+payment_mode+'-'+loan_type+'-'+int_only_term);

		var mortgage_info = {
						percent:percent,
						interested_rate:interested_rate,
						loan_term:loan_term,
						payment_mode:payment_mode,
						loan_type:loan_type,
						int_only_term:int_only_term
						};

		$.getJSON('/propertymortgagecost/getpaymenttableajax',mortgage_info, function(data) {
		

			output='';
			for(var i=0; i < data.length; i++){

					output = output.concat('<tr><td style="width:10%;text-align:center">'+data[i]['year']+'</td><td style="width:10%;text-align:center">'+data[i]['number']+'</td> <td style="width:25%;text-align:center">'+data[i]['interest']+'</td> <td style="width:25%;text-align:center">'+data[i]['principal']+'</td> <td style="width:30%;text-align:center">'+data[i]['balance']+'</td> </tr>');

			}
			$('div[name="onetime_payment"]').html('$'+data[0]['onetime_payment']);
			$('table[name="payment_table"]').html(output);
		});
	}

	getpaymenttable();
	// + down payment bar
	$('input[name="downpayment_bar"]').change(function(){
		var purchase_price = $('div[name="down_price"]').html();
		    purchase_price = purchase_price.substring(1, purchase_price.length);

		var percent = $(this).val();

		var purchase_price = $('input[name="purchase_price"]').val();
		var down_payment = (  parseInt(purchase_price) * ( parseInt(100-percent) / 100 ) );

		$('div[name="downpayment_display"]').html(percent+'%');
		$('div[name="down_price"]').html('$'+down_payment.toFixed(2));

		getpaymenttable();

	});

	$('i[name="downpayment_dec"]').bind('click',function(){
		var percent = $('input[name="downpayment_bar"]').val();
		percent = parseInt(percent) - 1;

		if( percent <= 1){
			percent = 1;
		}

		var purchase_price = $('input[name="purchase_price"]').val();
		var down_payment = (  parseInt(purchase_price) * ( parseInt(100-percent) / 100 ) );

		$('input[name="downpayment_bar"]').val(percent);
		$('div[name="downpayment_display"]').html(percent+'%');
		$('div[name="down_price"]').html('$'+down_payment.toFixed(2));

		getpaymenttable();
	});

	$('i[name="downpayment_inc"]').bind('click',function(){
		var percent = $('input[name="downpayment_bar"]').val();
		percent = parseInt(percent) + 1;
		if( percent >= 100){
			percent = 100;
		}

		var purchase_price = $('input[name="purchase_price"]').val();
		var down_payment = (  parseInt(purchase_price) * ( parseInt(100-percent) / 100 ) );

		$('input[name="downpayment_bar"]').val(percent);
		$('div[name="downpayment_display"]').html(percent+'%');
		$('div[name="down_price"]').html('$'+down_payment.toFixed(2));
		getpaymenttable();
	});
	//- down payment bar

	//+ interested rate bar
	$('input[name="interestedrate_bar"]').change(function(){
		$('div[name="interestedrate_display"]').html($(this).val()+'%');
		getpaymenttable();
	});

	$('i[name="interestedrate_dec"]').bind('click',function(){
		var interestedrate = $('input[name="interestedrate_bar"]').val();
		interestedrate = parseFloat(interestedrate) - 0.125;
		if( interestedrate <= 1){
			interestedrate = 1;
		}
		$('input[name="interestedrate_bar"]').val(interestedrate);
		$('div[name="interestedrate_display"]').html(interestedrate+'%');
		getpaymenttable();
	});

	$('i[name="interestedrate_inc"]').bind('click',function(){
		var interestedrate = $('input[name="interestedrate_bar"]').val();
		interestedrate = parseFloat(interestedrate) + 0.125;
		if( interestedrate >= 20){
			interestedrate = 20;
		}
		$('input[name="interestedrate_bar"]').val(interestedrate);
		$('div[name="interestedrate_display"]').html(interestedrate+'%');
		getpaymenttable();
	});
	//- interested rate bar

	//+ loan term bar
	$('input[name="loanterm_bar"]').change(function(){
		var interestonly = $('input[name="interestonly_bar"]').val();


		if( parseInt( $(this).val() ) < parseInt ( interestonly ) ){

			$('div#alert_box p#property_name').html('Loan Term has to be equal or greater than Interested only term');
			$('div#alert_box').modal('show');
			$('input[name="loanterm_bar"]').val(interestonly);
			$('div[name="loanterm_display"]').html(interestonly);

		}else{

			$('div[name="loanterm_display"]').html($(this).val());
			getpaymenttable();
		}

	});

	$('i[name="loanterm_dec"]').bind('click',function(){
		var interestonly = $('input[name="interestonly_bar"]').val();
		var loanterm = $('input[name="loanterm_bar"]').val();
		loanterm = parseInt(loanterm) - 1;
		if( loanterm <= 1){
			loanterm = 1;
		}

		if( parseInt( loanterm ) < parseInt ( interestonly ) ){

			$('div#alert_box p#property_name').html('Loan Term has to be equal or greater than Interested only term');
			$('div#alert_box').modal('show');
			$('input[name="loanterm_bar"]').val(interestonly);
			$('div[name="loanterm_display"]').html(interestonly);

		}else{

			$('input[name="loanterm_bar"]').val(loanterm);
			$('div[name="loanterm_display"]').html(loanterm);
			getpaymenttable();
		}



	});

	$('i[name="loanterm_inc"]').bind('click',function(){
		var loanterm = $('input[name="loanterm_bar"]').val();
		loanterm = parseInt(loanterm) + 1;
		if( loanterm >= 50){
			loanterm = 50;
		}

		$('input[name="loanterm_bar"]').val(loanterm);
		$('div[name="loanterm_display"]').html(loanterm);
		getpaymenttable();
	});
	//- loan term bar

	//+ loan int only term bar
	$('input[name="interestonly_bar"]').change(function(){
		var loanterm = $('input[name="loanterm_bar"]').val();

		if( parseInt( $(this).val() ) > parseInt ( loanterm ) ){

			$('div#alert_box p#property_name').html('Loan Term has to be equal or greater than Interested only term');
			$('div#alert_box').modal('show');
			$('input[name="interestonly_bar"]').val(loanterm);
			$('div[name="interestonly_display"]').html(loanterm);

		}else{

			$('div[name="interestonly_display"]').html($(this).val());
			getpaymenttable();
		}

	});

	$('i[name="interestonly_dec"]').bind('click',function(){
		var interestonly = $('input[name="interestonly_bar"]').val();
		interestonly = parseInt(interestonly) - 1;
		if( interestonly <= 1){
			interestonly = 1;
		}
		$('input[name="interestonly_bar"]').val(interestonly);
		$('div[name="interestonly_display"]').html(interestonly);
		getpaymenttable();
	});

	$('i[name="interestonly_inc"]').bind('click',function(){
		var interestonly = $('input[name="interestonly_bar"]').val();
		var loanterm = $('input[name="loanterm_bar"]').val();
		interestonly = parseInt(interestonly) + 1;
		if( interestonly >= 50){
			interestonly = 50;
		}


		if( parseInt( interestonly ) > parseInt ( loanterm ) ){

			$('div#alert_box p#property_name').html('Loan Term has to be equal or greater than Interested only term');
			$('div#alert_box').modal('show');
			$('input[name="interestonly_bar"]').val(loanterm);
			$('div[name="interestonly_display"]').html(loanterm);

		}else{
			$('input[name="interestonly_bar"]').val(interestonly);
			$('div[name="interestonly_display"]').html(interestonly);
			getpaymenttable();
		}


	});
	//- loan int only term bar

	//+ payment mode
	$('input[name="payment_mode"]').change(function(){

		getpaymenttable();
	});
	//- payment mode

	//+ loantype mode
	$('input[name="loan_type"]').change(function(){

		getpaymenttable();
	});
	//- loantype mode

	//+ cancel first mortgage
	$('button[name="cancel_firstmortgage_item"]').bind('click',function(){
			$('input[name="property_firstmortgage_display_input"]').popover('hide');
	});
	//- cancel first mortgage

	//+ save first mortgage
	$('button[name="save_firstmortgage_item"]').bind('click',function(){
		var down_price = $('div[name="down_price"]').html();
		$('input[name="property_firstmortgage_display_input"]').val(down_price);

		var percent 		= $('input[name="downpayment_bar"]').val();
		var interested_rate = $('input[name="interestedrate_bar"]').val();
		var loan_term       = $('input[name="loanterm_bar"]').val();
		var payment_mode    = $('input[name="payment_mode"]:radio:checked').val();
		var loan_type       = $('input[name="loan_type"]:radio:checked').val();
		var int_only_term   = $('input[name="interestonly_bar"]').val();

		var mortgage_info = {
						percent:percent,
						interested_rate:interested_rate,
						loan_term:loan_term,
						payment_mode:payment_mode,
						loan_type:loan_type,
						int_only_term:int_only_term
							};
		$.ajax({
			type:"POST",
			url:"/property/updatefirstmortgateajax",
			data:mortgage_info,
			async:false,
			success:function(result){

			}
		});

		$('input[name="property_firstmortgage_display_input"]').popover('hide');
	});
	//- save first mortgage

});
</script>