
<div class="container-fluid" style="width:350px">
	<div class="row-fluid span12" name="buyingcost_item">
		<div class="span6">
			<select class="selectpicker" name="buyingcost_items" style="width:100%">
				<option value="0">Select One</option>
				<?php
					foreach($buyingcost_items  as $buyingcost_item ){
				?>
				<option value="<?=$buyingcost_item->get_buyingcost_id()?>"><?= $buyingcost_item->get_buyingcost_name()?></option>
				<?php
					}
				?>

	  		</select>
  		</div>
		<div class="span3"><input type="text" class="input-small" style="width:90%" name="buyingcost_item_amount" placeholder="Amount"></div>
		<div class="span3" style="text-align: center"><button class="btn btn-primary" name="add_buyingcost_item" style="width:100%">Add</button></div>
	</div>
	<div class="row-fluid" name="buyingcost_item">

	</div>
	<div class="row-fluid">

		<table class="table-striped table-hover" style="width:100%;height:50px;overflow-y:auto;" border="1">
			  <thead>
			    <tr>
			      <th style="text-align:center;width:50%">Category</th>
			      <th style="text-align:center;width:30%">Amount</th>
			      <th style="text-align:center;width:20%">&nbsp;</th>
			    </tr>
			  </thead>
			  <tbody name="buyingcost_items" style=" height:50px;  overflow:scroll;">


				<?php
					$total=0;
					foreach($member_default_buyingcost_items as $member_default_buyingcost_item){
				?>
					<tr>
						 <td><?= $member_default_buyingcost_item['buyingcost_name'] ?></td>
						 <td style="text-align:right">$<?= $member_default_buyingcost_item['member_default_buyingcost_item_amount'] ?></td>
						 <td style="text-align:center">
						 	<button class="btn btn-danger btn-mini" type="button" name="delete_buyingcost_item" member_default_buyingcost_item_id='<?= $member_default_buyingcost_item['member_default_buyingcost_item_id'] ?>'>Delete</button>
						 </td>
					</tr>
				<?php
				$total += $member_default_buyingcost_item['member_default_buyingcost_item_amount'];
					}


				?>
					<tr>
						<td>Total</td>
						<td style="text-align:right" name="buyingcost_total">$<?= $total?></td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
			  </tbody>
		</table>

	</div>

	<div class="row-fluid">
			<div class="span6" style="text-aligh:center">
				&nbsp;
			</div>
			<div class="span6" style="text-aligh:center">
				<button class="btn btn-primary" type="button" name="close_buyingcost_item" style="width:100%">Save & Close</button>
			</div>
	</div>
</div>

<script type="text/javascript">
$(function(){

	$('button[name="add_buyingcost_item"]').bind('click',function(){
		var buyingcost_item_id 		= $('select[name="buyingcost_items"] option:selected').val();
		var buyingcost_item_amount  = $('input[name="buyingcost_item_amount"]').val();

		temp = buyingcost_item_amount.replace(/\,/g, '');
		temp = temp.replace(/\ /g, '');
		if( $.isNumeric(temp) && (buyingcost_item_id != 0) ) { //valid input
			
			$.ajax({
				type:"POST",
				url:"/memberdefaultbuyingcost/addbuyingcostitemajax",
				async:false,
				data:{buyingcost_item_id:buyingcost_item_id,buyingcost_item_amount:buyingcost_item_amount},
				success:function(result){

					$('tbody[name="buyingcost_items"]').html(result);
					buyingcost_total = $('td[name="buyingcost_total"]').html();
					$('input[name="property_buyingcost_display_input"]').val(buyingcost_total);
					$('input[name="buyingcost_item_amount"]').val('');
					$('select[name="buyingcost_items"]').val('0');

				}
			});
			
		}else if(buyingcost_item_id == 0){
			$('div#alert_box p#property_name').html('buying Cost item need to be selected');
			$('div#alert_box').modal('show');

		}else if( !($.isNumeric(temp)) ){
			$('div#alert_box p#property_name').html('Amount is invalid input');
			$('div#alert_box').modal('show');
		}


	});

	$('button[name="close_buyingcost_item"]').bind('click',function(){
		buyingcost_total = $('td[name="buyingcost_total"]').html();
		$('input[name="property_default_buyingcost_display_input"]').val(buyingcost_total);

		$('input[name="property_default_buyingcost_display_input"]').popover('hide');
	});


	$(document).on('click','button[name="delete_buyingcost_item"]',function(){

		var member_default_buyingcost_item_id = $(this).attr('member_default_buyingcost_item_id');

		$.ajax({
			type:"POST",
			url:"/memberdefaultbuyingcost/deletebuyingcostitemajax",
			async:false,
			data:{member_default_buyingcost_item_id:member_default_buyingcost_item_id},
			success:function(result){
				
				$('tbody[name="buyingcost_items"]').html(result);
				buyingcost_total = $('td[name="buyingcost_total"]').html();
				$('input[name="property_default_buyingcost_display_input"]').val(buyingcost_total);



			}
		});

	});


});
</script>
